@{
    ViewData["Title"] = "Active Project";
    Layout = "~/Views/Shared/_LandingPageLayout.cshtml";
}
<link href="../assets/css/projectstylesheet.css" rel="stylesheet" />
<main class="main cls-fixed-common" id="main">

    <div class="container">
        <div class="row">
            <!--First Main Column-->
            <div class="col-lg-7 col-12">
                <!-- ======= Project Section ======= -->
                <section id="Project" class="Project pt-4 mainProject">
                    <div class="container-flued projectBanner">
                        <h4 class="Project-title-size title-path" id="project-title"></h4>
                        <!-- First Row -->
                        <div class="row justify-content-center">
                            <div class="box px-0">
                                <!-- first column -->
                                <div class="col-0 col-sm-auto order-lg-last order-last right-box justify-content-center align-items-center" style="height:fit-content">
                                    <div class="row m-lg-2 d-flex justify-content-center align-center RButtons">
                                        <div class="col-6 d-flex justify-content-center">
                                            <input type="radio" name="preferOptionmobile" label="Select Project" value="select" checked />
                                        </div>
                                        <div class="col-6 d-flex justify-content-center">
                                            <input type="radio" name="preferOptionmobile" label="Customize Project" value="customize" onclick="OpenCustomisePopUp()"/>
                                        </div>
                                    </div>
                                    <div class="row m-lg-2 pt-4">
                                        <h5 class="section-detail-size">
                                            Select size and approximate price
                                            &nbsp;<a data-toggle="popover" class="info-popover" data-bs-content="Prices shown are an estimated average and may vary based on the freelancers' hourly rates and availability."><i class="bi bi-info-circle-fill cls-team-info-icon"></i></a>
                                        </h5>
                                    </div>
                                    <div class="row m-lg-2 pt-2 pb-2 d-flex justify-content-center align-center border-bottom border-black" style="text-align:center;">
                                        <div class="col-4">
                                            <label class="radio-inline" style="text-align:center;">
                                                <input class="form-check-input" type="radio" name="projSizemobile" value="small" checked/>
                                                <h4>Small</h4>
                                                <h5 style="opacity:0.5;">$-</h5>
                                            </label>
                                        </div>
                                        <div class="col-4">
                                            <label class="radio-inline" style="text-align:center;">
                                                <input class="form-check-input" type="radio" name="projSizemobile" value="medium"/>
                                                <h4>Medium</h4>
                                                <h5 style="opacity:0.5;">$-</h5>
                                            </label>
                                        </div>
                                        <div class="col-4">
                                            <label class="radio-inline" style="text-align:center;">
                                                <input class="form-check-input" type="radio" name="projSizemobile" value="large"/>
                                                <h4>Large</h4>
                                                <h5 style="opacity:0.5;">$-</h5>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="projectDetails-div">
                                        <div class="row me-lg-2 me-4 detailRow">
                                                <div class="col key section-detail-size">Duration</div>
                                                <div class="col val section-detail-size cls-duration"></div>
                                        </div>
                                        <div class="row me-lg-2 me-4 detailRow">
                                            <div class="col key section-detail-size">Team Size &nbsp;<a data-toggle="popover" class="team-popover"><i class="bi bi-info-circle-fill cls-team-info-icon"></i></a></div>
                                            <div class="col val section-detail-size cls-team-size"></div>
                                        </div>
                                    </div>
                                      <div class="projectPoints-div">

                                        </div>

                                    <div class="row d-flex justify-content-center align-center" style="font-size: 16px;">
                                        <div style="text-align: center;font-size: 16px;display: flex;width: 100%;">
                                        <input type="submit" name="btnBuy" value="Initiate Contract" class="btn btn-brand" style="width: 50%;" onclick="ProjectInitiated()" id="btn-contract">
                                        <a class="btn btn-brand ms-lg-3" href="#" style="font-size: 16px;width: 50%;">Message</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Second column -->
                            <div class="col-12 content order-first order-lg-first left-box">
                                <img src="" id="project-image" class="img-flued" style="width:100%;height:55%;" />
                                <h3 class="pt-2 label-title-size title-path">Solution</h3>
                                <p class="section-detail-size cls-project-description">

                                </p>
                            </div>
                        </div>

                        <!-- Second Row for description -->
                        <div class="row justify-content-center second-row">
                            <div class="col-12 content d-flex flex-column">
                                <h3 class="pt-2 label-title-size title-path">Solution</h3>
                                <p class="section-detail-size cls-project-description">

                                </p>
                                <div class="row m-lg-2 m-4 d-flex justify-content-center align-center align-items-center RButtons">
                                    <div class="section-header">
                                    <hr />
                                    <h2 class="justify-content-start align-items-center"><label style="background-color:#fff; padding:0 1.3em 0 1.3em;">Projects</label></h2>
                                    </div>
                                    <div class="col-lg-4 col-md-4 d-flex justify-content-center">
                                        <input type="radio" id="projSize" name="projSize" checked/>
                                    </div>
                                </div>

                                <!--Description column-->

                                <h4 class="pt-2 label-title-size title-path">Project Outline</h4>
                                <p style="display:block;" id="project-outline-div">

                                </p>
                            </div>
                        </div>
                    </div>
                </section>

                <!-- ======= What's Included Section ======= -->
                <section id="Project" class="Project pt-4">
                    <div class="container-flued">
                        <div class="row justify-content-center">
                            <div class="col-12 content d-flex flex-column">
                                <h3 class="pt-2 label-title-size title-path">Project Details</h3>
                                <p class="section-detail-size" id="project-details-div">

                                </p>
                            </div>
                        </div>

                        <div class="row justify-content-center" style="display: flex;align-items: center;justify-content: center;background:#2E1F47;letter-spacing: 0.6px;">
                            <!-- first row -->
                            <div class="progressContainer d-flex flex-column px-0">
                                <h3 class="pt-2 label-title-size title-path" style="padding:0 0 0 0.5em;">Milestones</h3>
                                <ul class="progress" id="progress-div">

                                </ul>
                                <div class="d-flex align-self-start" style="padding:1rem 0 0 1em;">
                                    <a href="" class="cls-milestone-popup" id="clsMilestonePopup" data-bs-toggle="modal" data-bs-target="#milestonesModal">View Details</a>
                                </div>
                            </div>
                        </div>

                      
                        <!-- Reviews row -->

                           <div class="row">
                                <div class="col">
                                     <h3 class="label-title-size title-path">Solution Team</h3>
                                    <div class="row" id="solutionTeamSection">
                                    
                                    </div>
                                 </div>
                            </div>
                       
                        <div class="row JoinUs" style="padding:50px 0;">
                            <div class="col-12 column-client-guide">
                                @*<img src="~/assets/img/opengigsimage.png" class="img-fluid" alt="">*@
                                <h3 class="label-title-size title-path">
                                    Client Guide
                                </h3>
                                <ul>
                                    <li data-aos="fade-up" data-aos-delay="100">
                                        <i class="bi bi-send"></i>
                                        <div>
                                            <h5 class="Project-title-size">
                                                Project Initiation After Purchase
                                            </h5>
                                            <p>
                                                Upon securing a project, it typically commences within 2-4 days or on a client-preferred date. Our platform assures at least two hours of overlapping communication between clients and their respective freelance teams.
                                            </p>
                                            <details>
                                                <summary class="collapsible expand-client-guide">Expand</summary>
                                                <div class="content">
                                                    Our system is built for flexibility, allowing clients to define their communication schedules. We ensure a minimum of two hours of overlapping work time for real-time interaction and project discussions. This arrangement, adjustable upon client-freelancer communication, accommodates varying project complexities and client preferences.
                                                </div>
                                            </details>
                                        </div>
                                    </li>
                                    <li data-aos="fade-up" data-aos-delay="200">
                                        <i class="bi bi-send"></i>
                                        <div>
                                            <h5 class="Project-title-size">
                                                Provision of Project Information
                                            </h5>
                                            <p>
                                                To deliver precise and comprehensive projects, our freelancers require specific details from the client.
                                            </p>
                                            <details>
                                                <summary class="collapsible expand-client-guide">Expand</summary>
                                                <div class="content">
                                                    Submitting detailed and accurate project information enables a more accurate execution of project requirements. Necessary details may include project objectives, required datasets, key performance metrics, deadlines, and other project-specific elements. Such information equips freelancers to produce a project outcome that perfectly aligns with client expectations.
                                                </div>
                                            </details>
                                        </div>
                                    </li>
                                    <li data-aos="fade-up" data-aos-delay="300">
                                        <i class="bi bi-send"></i>
                                        <div>
                                            <h5 class="Project-title-size">
                                                Project Completion, Payment Processing, and Feedback
                                            </h5>
                                            <p>
                                                Payment procedure commences once the project requirements are met and the client approves the final deliverable.
                                            </p>
                                            <details>
                                                <summary class="collapsible expand-client-guide">Expand</summary>
                                                <div class="content">
                                                    Our platform incorporates an escrow service, enhancing financial security by securely holding funds until the successful completion of the project or its milestones, as chosen by the client. Funds are then released to the freelancer only upon client satisfaction and approval of either the completed project or its individual milestones. Post-project feedback from clients is strongly encouraged, aiding us in continuous service enhancement and upholding a high-quality freelance network.
                                                </div>
                                            </details>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </section>
            </div>

            <!--Second Main Column-->
            <div class="col-lg-5 col-12 rightStickyRow">

                <input type="hidden" id="solutionFundId" value="0" />
                <input type="hidden" id="solutionFundMileStoneId" value="0" />
                <div class="row mx-lg-4" id="solutionfund-popUp">
                    <!-- first column -->
                    <div class="col-lg-12 rightSticky-box justify-content-center align-items-center">
                        <div class="row m-lg-2 m-4 d-flex justify-content-center align-center RButtons">
                            <div class="col-lg-6 col-md-6 d-flex justify-content-center" style="width:63% !important">
                                <label id="project-progress"></label>
                            </div>
                        </div>
                        <div class="row m-lg-2 pt-4">
                            <h5 class="section-detail-size" style="text-align:center;">
                               Project Price & Size
                                &nbsp;<a data-toggle="popover" class="info-popover" data-bs-content="Prices shown are an estimated average and may vary based on the freelancers' hourly rates and availability."><i class="bi bi-info-circle-fill cls-team-info-icon"></i></a>
                            </h5>
                        </div>
                        <div class="row m-lg-2 pt-2 pb-2 d-flex justify-content-center align-center border-bottom border-black" style="text-align:center;">

                            <div class="col-4">
                                <label class="radio-inline" style="text-align:center;">
                                    <input class="form-check-input" type="radio"  id="solution-fund-radio-check" />
                                    <h4 id="projectfund-projecttype"></h4>
                                    <h5 style="opacity:0.5;" id="projectfund-projectprice"></h5>
                                </label>
                            </div>

                        </div>
                        <div class="projectDetails-div">
                              <div class="row me-lg-2 me-4 detailRow">
                                 <div class="col key section-detail-size">Duration</div>
                                 <div class="col val text-end section-detail-size cls-duration"></div>
                              </div>
                              <div class="row me-lg-2 me-4 detailRow">
                                <div class="col key section-detail-size">Team Size &nbsp;<a data-toggle="popover" class="team-popover"><i class="bi bi-info-circle-fill cls-team-info-icon"></i></a></div>
                                <div class="col val text-end section-detail-size cls-team-size"></div>
                              </div>
                        </div>
                        <div class="projectPoints-div"> 

                        </div> 
                        <div class="row d-flex justify-content-center align-center">
                            <div style="text-align: center;font-size: 16px;width: 100%;display:flex">
                                <a data-toggle="popover" class="checkout-popover btn btn-brand" data-open-accessibility-text-original="16px" style="font-size: 16px;width: 45%;" id="fundPopOver">Fund</a>
                                <button type="button" class="btn btn-brand" id="solutionfund-furtherprogress" onclick="ProjectInitiated(true,false)" style="width:42%;font-size:15px;display:none;"></button>
                                <button type="button" class="btn btn-brand" id="solutionfund-details" style="width:45%;" onclick="CheckEvent()"></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<!-- Milestones Modal -->
    <div class="modal fade" id="milestonesModal" tabindex="-1" aria-labelledby="milestonesModal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Milestones</h4>
                    <a class="close" data-dismiss="#milestonesModal"><i class="bi bi-x-circle"></i></a>
                </div>
                <div class="modal-body p-0">
                    <div class="progressContainer d-flex flex-column">
                        <ul class="progress" id="milestone-Popup-div">
                        </ul>
                        <div class="d-flex align-self-start btn-more-less" style="padding:1rem 0 0 1em;">
                            <a class="cls-milestone-showmore cls-milestone" onclick="MilestoneViewMore();" id="clsMilestoneShowmore">View Details<i class="bi bi-caret-down-fill"></i></a>
                        </div>
                        <div class="d-flex align-self-start btn-more-less" style="padding:1rem 0 0 1em;">
                            <a class="cls-milestone-showless cls-milestone" onclick="MilestoneViewLess();" id="clsMilestoneShowless">Hide Details<i class="bi bi-caret-up-fill"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  
    <!-- GuidelineModal Modal -->
    <div class="modal fade" id="guidelineModal" tabindex="-1" aria-labelledby="guidelineModal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Guidelines</h4>
                    <a class="close" data-dismiss="#guidelineModal"><i class="bi bi-x-circle"></i></a>
                </div>
                <div class="modal-body p-0">
                    <div class="progressContainer d-flex flex-column">
                        <ol>
                            <li data-aos="fade-up" data-aos-delay="100" class="list-title-size">
                                <h3 class="list-title-size">Before You Dive In</h3>
                                <p class="section-detail-size">This document has been designed as a reference for project architects. It offers guidelines for creating the “Project Outline” and "Project Details" and “Milestones” sections for predefined solutions. Team size will be determined based on the project scale: Small: 1 Project Manager + 1 Associate, Medium: 1 Project Manager + 1 Expert + 1 Associate, Large: 1 Project Leader + 2 Experts + 2 Associates. For Custom projects, team size and timelines will be selected based on client preferences. Although we typically suggest maintaining a uniform duration for predefined projects, regardless of whether they are small, medium, or large, it's important to consider that larger projects, given their increased complexity, might not only require a larger team of freelancers, but also an extended timeline for completion. While there is a limit to the number of words displayed on the platform, the Project Architect can create a more detailed version of the solution which can be made available to viewers as an attachment, accessible via a pop-up window. All relevant information should be adjusted based on the size of each project and populated once for each project scale: small, medium, and large.</p>
                            </li>
                            <li data-aos="fade-up" data-aos-delay="100" class="list-title-size">
                                <h3 class="list-title-size">Project Outline</h3>
                                <ul>
                                    <li class="section-detail-size">
                                        Paragraph 1:<p>Focus on the expected benefits and outcomes of the project. Highlight any unique features or advantages that differentiate this project from others in the field.</p>
                                    </li>
                                    <li class="section-detail-size">
                                        Paragraph 2:<p>Provide an overview of the project process, mentioning any key milestones or deliverables. Ensure the summary is client-focused, communicating effectively what potential clients can expect to gain from their collaboration with freelancers on the website.</p>
                                    </li class="section-detail-size">
                                </ul>
                            </li>
                            <li data-aos="fade-up" data-aos-delay="100" class="list-title-size">
                                <h3 class="list-title-size">Project Details</h3>
                                <h4 class="section-title-size">
                                    Defining the scope and requirements for an AI project involves several steps
                                </h4>
                                <ul>
                                    <li class="section-detail-size">
                                        Paragraph 1:<p>Identify the problem: First, identify the business problem or opportunity that the AI project will address. This can involve analysing data, identifying inefficiencies, or uncovering opportunities for automation.</p>
                                    </li>
                                    <li class="section-detail-size">
                                        Paragraph 2:<p>Determine the goals: Next, determine the goals of the project. These should be specific, measurable, and aligned with the business problem or opportunity identified in step one. For example, a goal might be to reduce customer service response time by 50%.</p>
                                    </li>
                                    <li class="section-detail-size">
                                        Paragraph 3:<p>Define the scope: Once the goals are established, define the scope of the project. This should include the data sources that will be used, the technology stack that will be employed, and any other key parameters.</p>
                                    </li>
                                    <li class="section-detail-size">
                                        Paragraph 4:<p>Define the requirements: Based on the goals and scope, define the technical requirements for the project. This may include selecting specific AI algorithms, defining data pre-processing steps, and selecting performance metrics.</p>
                                    </li>
                                    <li class="section-detail-size">
                                        Paragraph 5:<p>Prioritize requirements: Once the requirements are defined, prioritize them based on their importance to achieving the project goals. This will help ensure that the most critical features are implemented first.</p>
                                    </li>
                                    <li class="section-detail-size">
                                        Paragraph 6:<p>Develop a plan: Finally, develop a project plan that outlines the timeline, milestones, and resources required to deliver the project. This plan should be reviewed and updated regularly to ensure that the project plan stays on track.</p>
                                    </li>
                                </ul>
                            </li>
                            <li data-aos="fade-up" data-aos-delay="100" class="list-title-size">
                                <h3 class="list-title-size">Milestones</h3>
                                <h4 class="section-title-size">
                                    Milestones should be created by following the guidelines as described below:
                                </h4>
                                <ul class="section-title-size">
                                    <li data-aos="fade-up" data-aos-delay="100">
                                        <p class="section-detail-size">
                                            Identification - Identify the key deliverables and deadlines that signify progress in the project.
                                        </p>
                                    </li>
                                    <li data-aos="fade-up" data-aos-delay="100">
                                        <p class="section-detail-size">Relevance - Ensure each milestone is related directly to the project's goals and objectives.</p>
                                    </li>
                                    <li data-aos="fade-up" data-aos-delay="100">
                                        <p class="section-detail-size">
                                            Measurable - Milestones should be tangible and quantifiable so that it's clear when they have been achieved.
                                        </p>
                                    </li>
                                    <li data-aos="fade-up" data-aos-delay="100">
                                        <p class="section-detail-size">
                                            Timely - Set realistic yet ambitious timelines for each milestone to keep the project on track.
                                        </p>
                                    </li>
                                    <li data-aos="fade-up" data-aos-delay="100">
                                        <p class="section-detail-size">
                                            Review - Regularly review and update the milestones after client and freelancers’ feedback.
                                        </p>
                                    </li>
                                </ul>
                            </li>
                            <li data-aos="fade-up" data-aos-delay="100" class="list-title-size">
                                <h3 class="list-title-size">Project Highlights</h3>
                                <p class="section-detail-size">On the main box, before the "Buy" and "Message" options, the project designer can add up to 3 summary points that are significant and beneficial for the client. These points should capture the essence of the project, its key deliverables, and client benefits.</p>
                            </li>
                        </ol>

                    </div>
                </div>
            </div>
        </div>
    </div>


   
<script>
    $(document).ready(function () {
        $('.close').on('click', function () {
            $('#milestonesModal').modal('hide');

            $('#clsClientReviewsPopup').modal('hide');

            $('#guidelineModal').modal('hide');
        });
        $(".info-popover").popover();
        // $(".checkout-popover").popover();
        var newContent = "<div class='checkoutOption'><a title='milestone' role='button'>Milestone</a> <hr/> <a title='project'  role='button'>Project</a></div>";
        $('.checkout-popover').popover({
           content:newContent,
           html:true,
        });
        GetProjectDetails();
    });

    
    $(document).on("click", ".checkoutOption a", function(event) {
        event.preventDefault();
        var checkoutType = this.title;
        if(checkoutType == "project"){
            ProjectInitiated(false,false)
        }
        if(checkoutType == "milestone"){
            ProjectInitiated(true,false)
        }

    })

    function MilestoneViewMore(){
        $(".cls-milestone-showmore").css("display", "none");
        $(".cls-milestone-hide").css("display", "block");
        $(".cls-milestone-showless").css("display", "block");
    }

    function MilestoneViewLess(){
        $(".cls-milestone-showmore").css("display", "block");
        $(".cls-milestone-hide").css("display", "none");
        $(".cls-milestone-showless").css("display", "none");
    }

    function GetProjectDetails(){
         $("#preloader").show();
        var Industryid = @ViewData["Industry"]; 
        var Serviceid = @ViewData["Service"];
        var Solutionid = @ViewData["Solution"];

        var data = {
            IndustryId : Industryid,
            SolutionId : Solutionid,
        }
         $.ajax({
            type: "POST",
            url: "@Url.Action("GetProjectDetails", "Home")",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            data: JSON.stringify(data),
            success: function (result) {
                var data = result.Result
                $(".cls-project-description").text(data.ProjectData.Description)
                $("#project-image").attr("src",data.ProjectData.ImageUrlWithSas)
                var projectTitle = data.ServiceName +  " > " + data.SolutionName + " / " + data.IndustryName
                $("#project-title").text(projectTitle)
                GetProjectTypeValue()
                 $("#preloader").hide();
            },
            error: function (result) {
                $("#preloader").hide();
                showToaster("error", "Error !", "Something went wrong !!");
            }
        });
    }

    function GetProjectTypeValue(){
        $("#preloader").show();
       
            var solutionfundId =  sessionStorage.getItem("SolutionFundId")
             var Industryid = @ViewData["Industry"]; 
             var Serviceid = @ViewData["Service"];
             var Solutionid = @ViewData["Solution"];
            

        var data = {
            IndustryId : Industryid,
            SolutionId : Solutionid,
            SolutionFundId : solutionfundId
        }
         $.ajax({
            type: "POST",
            url: "@Url.Action("GetActiveProjectDetails", "Home")",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            data: JSON.stringify(data),
            success: function (result) {
                var data = result.Result
                var projecttype = data.SolutionFund.ProjectType;
                if(data.SolutionDefine != null){
                    $("#project-outline-div").text(data.SolutionDefine.ProjectOutline)
                    $("#project-details-div").text(data.SolutionDefine.ProjectDetails)

                    if(data.SolutionDefine.Duration != null){
                        $(".cls-duration").text(data.SolutionDefine.Duration)
                    }
                    else{
                        $(".cls-duration").text("-")
                    }

                    if(data.SolutionDefine.TeamSize == 0){
                        var teamsize = 0;
                         if(projecttype == "medium"){
                             teamsize = 3;
                        }
                        if(projecttype == "large"){
                            teamsize = 5;
                        }
                        if(projecttype == "small"){
                            teamsize = 2;
                        }
                        $(".cls-team-size").text(teamsize)
                    }
                    else{
                        $(".cls-team-size").text(data.SolutionDefine.TeamSize)
                    }

                }
                else{
                   $("#project-outline-div").text("No Data Available")
                   $("#project-details-div").text("No Data Available")
                    $(".cls-duration").text("-")
                    var teamsize = 0;
                    if(projecttype == "medium"){
                       teamsize = 3
                    }
                    if(projecttype == "large"){
                        teamsize = 5
                    }
                    if(projecttype == "small"){
                        teamsize = 2
                    }
                    $(".cls-team-size").text(teamsize)
                }
                if(data.MileStone != ""){
                     var milestoneSection = "";
                     var milestonePopupsection = "";
                     $.each(data.MileStone, function (datas, values) {
                       milestoneSection +=  '<li class="progress__item">' +
                                        '<p class="progress__title Project-title-size">' +values.Title+'</p>' +
                                        '<p class="progress__info__date"><i class="bi bi-calendar-week"></i>' +values.Days+' (Days)</p>' +
                                    '</li>'

                        milestonePopupsection +=  '<li class="progress__item">' +
                                '<p class="progress__title">'+ values.Title+'</p>' +
                                '<p class="progress__info">'+values.Description+'</p>' +
                                '<p class="progress__info__date"><i class="bi bi-calendar-week"></i>'+values.Days+' (Days)</p>'+
                            '</li>';

                    })
                    $('#progress-div').html(milestoneSection);
                    $('#milestone-Popup-div').html(milestonePopupsection);
                       $('#progress-div li:first').addClass('progress__item--active');
                    $('#milestone-Popup-div li:first').addClass('progress__item--active');
                    $(".cls-milestone-popup").css("display","block")
                    $(".cls-mileStone").remove()
                }
                 else{
                    $('#progress-div').empty()
                   $(".cls-mileStone").remove()
                   $( "<p class='cls-mileStone'>No Data Available</p>" ).insertAfter("#progress-div");
                    $(".cls-mileStone").css("fontSize", "16px");
                    $(".cls-mileStone").css("padding-left", "14px");
                    $(".cls-milestone-popup").css("display","none")
                }
                if(data.PointsData != ""){
                    var pointsSection = "";
                     $.each(data.PointsData, function (pointsdata, pointsvalues) {
                         //var pointkeys = pointsvalues.PointKey;
                         if(pointsvalues.PointKey == null || pointsvalues.PointKey == undefined){
                             pointsvalues.PointKey = ""
                         }
                         if(pointsvalues.PointValue == null || pointsvalues.PointValue == undefined){
                             pointsvalues.PointValue = ""
                         }
                      pointsSection += '<div class="row me-lg-2 me-4 detailRow">' +
                            '<div class="col key section-detail-size">'+pointsvalues.PointKey +'</div>' +
                            '<div class="col val text-end section-detail-size">'+pointsvalues.PointValue +'</div>' +
                        '</div>';
                     })
                     $('.projectPoints-div').html(pointsSection);
                }
                else{
                    $(".projectPoints-div").html("");
                }

                if(data.SolutionTeam != ""){
                      var solutionTeam = "";
                     $.each(data.SolutionTeam, function (solutiondata, solutionValue) {
                          var name =solutionValue.FreelancerName.split(" ")
                         var firstname = name[0].charAt(0);
                         var lastname = name[1].charAt(0);

                       solutionTeam += '<div class="col-xxl-4 col-md-6">' +
                                      '<div class="card info-card cls-solutionTeam-card">' +
                                        '<div class="card-body cls-solution-card">' +
                                          '<div class="d-flex align-items-center">';
                                            if(solutionValue.ImageUrlWithSas != null){
                                                solutionTeam +='<img src="'+solutionValue.ImageUrlWithSas+'" alt="Image" style="height:46px;width:46px;border-radius:50%">';
                                            }else{
                                                solutionTeam += '<div class="cls-freelancerImage">'+ firstname +''+ lastname +'</div>'
                                            }
                                             solutionTeam +='<div class="ps-3">' +
                                              '<h6 style="margin-bottom: 0; !important">'+solutionValue.FreelancerName+'</h6>' +
                                              '<span class="text-muted small pt-2">'+solutionValue.FreelancerLevel+'</span>' +
                                              '<div style="padding-top: 5%;"><i class="bi bi-chat-left-dots cls-chat-icon"></i></div>' + 
                                            '</div>' +
                                            
                                            '</div>' +
                                           
                                          '</div>' +
                                        '</div>' +
                                      '</div>' +
                                    '</div>';
                    })
                    $('#solutionTeamSection').html(solutionTeam);
                   $(".cls-temp").remove();
                }
                else{
                    $(".cls-temp").remove();
                    $( "<p class='cls-temp'>No Data Available</p>" ).insertAfter("#solutionTeamSection");

                }
                if(data.SuccessfullProjects != ""){
                    BindSuccessfullProject(data.SuccessfullProjects);
                    $(".cls-temp").remove();
                }else{
                    $(".cls-temp").remove();
                    $( "<p class='cls-temp'>No Data Available</p>" ).insertAfter("#SuccessfulProjectsCarousel");
                }

                if ('@Context.Session.GetString("LoggedUserRole")' == 'Client'){
                   if(data.SolutionFund != null)
                   {
                      projecttype = data.SolutionFund.ProjectType;
                      $("input[name=projSize][value='"+data.SolutionFund.ProjectType+"']").prop("checked",true);
                      $('input:radio[name=projSize]').val(data.SolutionFund.ProjectType);
                      $('input:radio[name=projSize]').attr('label',data.SolutionFund.ProjectType);
                      var teamsize = 0;
                       if(projecttype == "medium"){
                          teamsize = 3;
                       }
                       if(projecttype == "large"){
                         teamsize = 5;
                       }
                       if(projecttype == "small"){
                                teamsize = 2;
                       }
                       $(".cls-team-size").text(teamsize)

                       var mileStoneData;
                       if(data.MileStoneProgressData != null){
                           mileStoneData = data.MileStoneProgressData;
                       }else{
                           mileStoneData = data.MileStone[0];
                       }
                      
                      $("#solutionFundMileStoneId").val(mileStoneData.Id);
                      $("#solutionFundId").val(data.SolutionFund.Id);
                      BindSolutionFundData(data.SolutionFund,mileStoneData,data.FundDecided,data.FundCompleted,data.IsProjectStop);
                   }
                }


                var newContent = "";
                if(projecttype == "medium"){
                    newContent = "1 Project Manager + 1 Expert + 1 Associate";
                }
                else if(projecttype == "large"){
                    newContent = "1 Project Leader + 2 Experts + 2 Associates";
                }
                else if(projecttype == "small"){
                    newContent = "1 Project Manager + 1 Associate";
                }
               $('.team-popover').popover('dispose');
                $('.team-popover').popover({
                    content:newContent,
                });
                 $("#preloader").hide();
            },
            error: function (result) {
                $("#preloader").hide();
                showToaster("error", "Error !", "Something went wrong !!");
            }
        });
    }



     function BindSuccessfullProject(data){
          var successfullProject = "";
          $.each(data, function (datas, values) {

              var description = values.Description.length > 430 ? values.Description.substring(0, 430) + "..." : values.Description;

            successfullProject += '<div class="carousel-item project-carousel">' +
              '<div class="col-lg-6 col-md-6 d-flex justify-content-center cls-main">' +
                 '<div class="box cls-Successful-Projects">' +
                   '<div class="icon-msg">' +
                     '<h3>'+ values.Title +'</h3>' +
                    '</div>' +
                    '<div class="description" title="'+values.Description  +'">'+ description +'</div>' +
                    '<div class="child col-10 mx-lg-2 cls-result">' +
                        '<div class="title border-bottom">' +
                            'Results' +
                         '</div>' +
                     '<div class="content">';
                        if(values.projectResultList != null){
                              $.each(values.projectResultList, function (resultData, resultValue) {
                                successfullProject += '<div class="info">' +
                                                       '<div class="name">'+resultValue.ResultValue+'</div>' +
                                                            '<div class="sub">' +
                                                                '<div class="sub-title">'+resultValue.ResultKey+'</div>' +
                                                            '</div>' +
                                                     '</div>';
                              });   
                        }
                        successfullProject += '</div></div></div></div></div>';
                     });
                     $('#successfull-project-section').html(successfullProject);
                     $('.cls-Successful-Projects .cls-result .content .info:nth-child(2)').addClass('right-info');
                    $('.project-carousel').first().addClass('active');
                    $('.project-indicators > li').first().addClass('active');

                    $(".cls-main:nth-child(even) .cls-Successful-Projects").css("background-color","#808080ad")
                    $(".cls-main:nth-child(even) .cls-Successful-Projects .cls-result").css("background-color", 'rgb(128 128 128 / 0%)')

                  

                    if(data.length >= 3){
                        $(".project-indicators").css("display","block");
                        $(".project-indicators").css("margin-top","36%");
                    }else{
                        $(".project-indicators").css("display","none");
                        $(".project-indicators").css("margin-top","0%")
                    }

                      var item = document.querySelectorAll('.project-carousel')
                         item.forEach((el) => {
                                const minPerSlide = 4
                                let next = el.nextElementSibling
                                  if(data.length != 1){
                                       for (var i = 1; i < minPerSlide; i++) {
                                        if (!next) {
                                            next = item[0]
                                        }
                                        let cloneChild = next.cloneNode(true)
                                        el.appendChild(cloneChild.children[0])
                                        next = next.nextElementSibling
                                  }  
                                }

                            })

                }

    function ProjectInitiated(mileStoneCheckOut,nextMilestoneData){

        if('@Context.Session.GetString("LoggedUserRole")' == 'Client'){
              var Projectprice = 0;
             var projectType = $("input[name='projSize']:checked").val();
             if(projectType == 'small'){
                 Projectprice = 100;
             }
             if(projectType == 'medium'){
                 Projectprice = 200;
             }
             if(projectType == 'large'){
                 Projectprice = 500;
             }
              //var mileStoneCheckout = false;
              //  if(checkCheckoutType){
              //      mileStoneCheckout = checkCheckoutType;
              //  }
            var Industryid = @ViewData["Industry"]; 
            var Solutionid = @ViewData["Solution"];

            var data = {
                Id : $("#solutionFundId").val(),
                IndustryId : Industryid,
                SolutionId : Solutionid,
                ProjectType : projectType,
                ProjectPrice : Projectprice.toString(),
                MileStoneId : $("#solutionFundMileStoneId").val(),
                MileStoneCheckout : mileStoneCheckOut,
                GetNextMileStoneData : nextMilestoneData

            }
           $("#preloader").show();
            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                url: "@Url.Action("SaveProjectInitiated", "LandingPage")",
                data: JSON.stringify(data),
                success: function (result) {
                   if(result.Message == "projectDetails"){
                       var data = result.Result;
                       $("#solutionFundId").val(data.ProjectDetails.Id);
                       sessionStorage.setItem("SolutionFundId",data.ProjectDetails.Id)
                        $("#solutionFundMileStoneId").val(data.MileStoneData.Id);
                       BindSolutionFundData(data.ProjectDetails,data.MileStoneData,data.FundDecided,false,false);
                        $("#preloader").hide();
                       return;
                   }
                   if(result.Message == "EmptyMilestoneData"){
                       showToaster("error", "Error !", "No MilestoneData Available");
                        $("#preloader").hide();
                   }
                   if(result.Message == "CompleteProcess"){
                        CheckoutSolution(true);
                         $("#preloader").hide();
                         return;
                   }
                   if(result.Message == "NoFurtherMileStone"){
                       $("#solutionfund-furtherprogress").text('Project Completed');
                       $("#solutionfund-furtherprogress").addClass('disabled');
                       $("#solutionfund-furtherprogress").css("background-color", "var(--brand)");
                       $("#solutionfund-furtherprogress").css("color","black");
                       $("#project-progress").html("Project Completed");
                       $("#preloader").hide();
                       return;
                   }
                   else{
                        showToaster("success", "Success !", result.Message);
                         $("#preloader").hide();
                         if(result.Result.FundType == 1){
                            $("#solutionfund-furtherprogress").text('Project Completed');
                            $("#solutionfund-furtherprogress").addClass('disabled');
                            $("#solutionfund-furtherprogress").css("background-color", "var(--brand)");
                            $("#solutionfund-furtherprogress").css("color","black");
                            $("#project-progress").html("Project Completed");
                            $("#preloader").hide();
                            return;
                         }
                         else{
                              if(result.Result.IsTransfer)
                                {
                                    $("#solutionfund-furtherprogress").removeClass('disabled');
                                    $("#solutionfund-furtherprogress").css("color","white");
                                    setTimeout(function () {
                                         $("#solutionFundId").val(0);
                                        ProjectInitiated(false,true);
                                    }, 2500);
                                }
                            $("#preloader").hide();
                            return;
                         }
                       
                   }
                   
                },
                error: function (result) {
                    $("#preloader").hide();
                    showToaster("error", "Error !", "Something went wrong !!");
                }
            });
        }
        else{
             showToaster("warning", "Warning !", "Login as a client to purchase project !!");
        }


    }

   function BindSolutionFundData(data,milestoneData,fundDecided,IsFundCompleted,IsProjectStop){
       

          $("#solutioninfo-popUp").css("display","none")
          $("#solutionfund-popUp").css("display","block")
          $("#solution-fund-radio-check").prop("checked", true);

          var projectType = data.ProjectType;
          projectType =  projectType.split(' ').map(projectType => projectType.charAt(0).toUpperCase() + projectType.slice(1).toLowerCase()).join(' ');

          $("#projectfund-projecttype").html(projectType)
          $("#projectfund-projectprice").html(data.ProjectPrice)

           if(data.ProjectStatus == "INITIATED" || data.ProjectStatus == "INPROGRESS"){

              $("#solutionfund-details").text('Stop Project');
               fundDecided = fundDecided + 1;

               if(data.FundType == 1){
                   $("#solutionfund-furtherprogress").text("Fund Project " + fundDecided);

                   var total = fundDecided - 1;
                   if(total == 0){
                        var status = data.ProjectStatus
                        status =  status.split(' ').map(status => status.charAt(0).toUpperCase() + status.slice(1).toLowerCase()).join(' ');

                        $("#project-progress").html("Project " + status)
                   }
               }
               if(data.FundType == 0){
                     if(fundDecided > 0 ){
                         var total = fundDecided - 1
                          $("#solutionfund-furtherprogress").show();
                          $("#fundPopOver").hide();
                          $("#solutionfund-furtherprogress").text("Fund Milestone " + fundDecided)
                          $("#project-progress").html("Milestone " + total + " is Completed")
                      }else{
                          $("#fundPopOver").show();
                          $("#solutionfund-furtherprogress").hide();
                            var status = data.ProjectStatus
                            status =  status.split(' ').map(status => status.charAt(0).toUpperCase() + status.slice(1).toLowerCase()).join(' ');

                            $("#project-progress").html("Project " + status)
                      }

               }
             
              
              
           }

           if(data.ProjectStatus == "COMPLETED"){

               $("#fundPopOver").hide();
               $("#solutionfund-furtherprogress").show();

              if(data.FundType == 1)
              {
                     if(IsFundCompleted)
                     {
                          $("#solutionfund-furtherprogress").text('Project Completed');
                          $("#solutionfund-furtherprogress").addClass('disabled');
                          $("#solutionfund-furtherprogress").css("background-color", "var(--brand)");
                          $("#solutionfund-furtherprogress").css("color","black");
                          $("#project-progress").html("Project Completed");
                     }
                    else
                      {
                        $("#solutionfund-furtherprogress").text("Pay Project");
                        $("#project-progress").html("Project is in Progress");
                                 if(IsProjectStop){
                                $("#solutionfund-furtherprogress").addClass('disabled');
                                $("#solutionfund-furtherprogress").css("background-color", "var(--brand)");
                                $("#solutionfund-furtherprogress").css("color","black");
                                 $("#solutionfund-details").addClass('disabled');
                                $("#solutionfund-details").css("background-color", "var(--brand)");
                                $("#solutionfund-details").css("color","black");  
                          }
                         
                    }
                    
              }
              if(data.FundType == 0)
              {
                if(IsFundCompleted)
                   {
                     $("#solutionfund-furtherprogress").text('Project Completed');
                     $("#solutionfund-furtherprogress").addClass('disabled');
                     $("#solutionfund-furtherprogress").css("background-color", "var(--brand)");
                     $("#solutionfund-furtherprogress").css("color","black");
                     $("#project-progress").html("Project Completed");
                   }
                else
                  {
                     if(fundDecided > 0 )
                       {
                         if(IsProjectStop){
                           $("#solutionfund-furtherprogress").addClass('disabled');
                           $("#solutionfund-furtherprogress").css("background-color", "var(--brand)");
                           $("#solutionfund-furtherprogress").css("color","black");
                           $("#solutionfund-details").addClass('disabled');
                           $("#solutionfund-details").css("background-color", "var(--brand)");
                           $("#solutionfund-details").css("color","black");  
                         }
                        }
                        $("#solutionfund-furtherprogress").text("Pay Milestone " + fundDecided);
                        $("#project-progress").html("Milestone " + fundDecided + " is in Progress");
                      }
                       
                  }
                 

               
               $("#solutionfund-details").text('Raise a Dispute');
               if(data.IsDispute){
                    $("#solutionfund-furtherprogress").addClass('disabled');
                    $("#solutionfund-projectPay").addClass('disabled');
                    $(".btn.disabled").css("background-color", "var(--brand)");
                    $(".btn.disabled").css("color","black");
               }
           }
   }

   function CheckEvent(){
        var event =  $("#solutionfund-details").text();
        if(event == "Raise a Dispute"){
                RaiseDispute();
                 return;
        }
   }

   function RaiseDispute(){
        var Industryid = @ViewData["Industry"]; 
            var Solutionid = @ViewData["Solution"];

            var data = {
                IndustryId : Industryid,
                SolutionId : Solutionid,
                ProjectType :$("input[name='projSize']:checked").val(),
            }
           $("#preloader").show();
            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                url: "@Url.Action("RaiseDispute", "LandingPage")",
                data: JSON.stringify(data),
                success: function (result) {
                    if(result.Message == "Dispute Raised"){
                        showToaster("success", "Success", result.Message);
                        $("#solutionfund-furtherprogress").css("cursor","not-allowed");    
                        
                            $("#solutionfund-furtherprogress").addClass('disabled');
                           
                            $(".btn.disabled").css("background-color", "var(--brand)");
                             $(".btn.disabled").css("color","black");
                    }else{
                        showToaster("warning", "Warning!", result.Message);
                    }

                    $("#preloader").hide();
                },
                error: function (result) {
                    $("#preloader").hide();
                    showToaster("error", "Error !", result);
                }
            });
   }

   function CheckoutSolution(checkoutType){

        var mileStoneCheckOut = false;
        if(checkoutType){
            mileStoneCheckOut = checkoutType
        }

        var Industryid = @ViewData["Industry"]; 
        var Solutionid = @ViewData["Solution"];
        var data = {
            IndustryId : Industryid,
            SolutionId : Solutionid,
            Id :$("#solutionFundMileStoneId").val(),
            SolutionFundId :$("#solutionFundId").val(),
            MileStoneCheckout : checkoutType
        }
       $("#preloader").show();
        $.ajax({
            type: "POST",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            url: "@Url.Action("CheckOut", "LandingPage")",
            data: JSON.stringify(data),
            success: function (result) {
                if(result.Message != "success"){
                    showToaster("warning", "Warning !", result.Message);
                }else{
                    window.location.href = result.Result;
                }
                
                $("#preloader").hide();
            },
            error: function (result) {
                $("#preloader").hide();
                showToaster("error", "Error !", "Something went wrong !!");
            }
        });
        //window.location = "@Url.Action("CheckOut", "LandingPage")?data=" + JSON.stringify(data)
    }
</script>