@{
    ViewData["Title"] = "Browse solution";
    Layout = "~/Views/Shared/_LandingPageLayout.cshtml";
}
<link href="../assets/css/browsesolutionstylesheet.css" rel="stylesheet" />

<main class="main" id="main"> 
    <!-- Browse Section -->
    <section id="browseSolutions" class="browseSolutions cls-fixed-common">
        <div class="container">
            <div class="section-header">
                <hr />
                <h3 class="justify-content-start align-items-center service-title-size">
                    <label class="mx-lg-5 mx-2" style="background-color:#fff; padding:0 1em 0 1em;color: #001973;">Browse Solutions</label>
                </h3>
            </div>
            <div class="row gy-4 mt-4 d-flex" style="background-color:#f5f5f5; border-radius:10px;">
                <div class="col-12 d-block my-2 columnDdl" id="columnDdl" data-is-searched="false">
                    <select class="dropdown btn-dropdown cls-Services" name="service" id="select-services" onchange="GetTopServicesValues(false,1,false)">
                        <option value="All">All Services</option>
                    </select>

                    <select class="dropdown btn-dropdown cls-solution" name="solution" id="select-solutions" onchange="GetSolutionValues(false,1,false)">
                        <option value="All">All Solutions</option>
                    </select>

                    <select class="dropdown btn-dropdown cls-Industries" name="service" id="select-industries">
                        <option value="All">All Industries</option>
                    </select>

                    @* FINAL RELEASE*@
                    <select class="dropdown btn-dropdown cls-temp-common" name="level" id="select-budget">
                        <option value="All">Budget</option>
                        <option value="100">100</option>
                        <option value="200">200</option>
                        <option value="300">300</option>
                        <option value="400">400</option>
                        <option value="500">500</option>
                        <option value="600">600</option>
                        <option value="700">700</option>
                    </select>
                    @* FINAL RELEASE*@
                </div>
            </div>

            <!-- Solutions Card Row -->
            <div class="row gy-4 py-4" id="solution-Section">
            </div>
            <div class="pagination">
                <ul> <!--pages or li are comes from javascript --> </ul>
            </div>
            @* <a style="display:none" class="cls-more-less" id="solution-moreinfo" onclick="BindAllSolutionsList()">View More <i class="bi bi-triangle-fill more-less-icon" id="browse-viewmoreIcon"></i></a>
            <a style="display:none" class="cls-more-less" id="solution-lessinfo" onclick="BindSolutionsList()">View Less <i class="bi bi-triangle-fill more-less-icon" id="browse-viewlessIcon"></i></a>
            *@
        </div>
    </section>

    <!-- Modal -->
    <div class="modal" id="confirmationModal" aria-labelledby="confirmationModal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Open Solution</h4>
                    <a class="close" data-dismiss="#confirmationModal"><i class="bi bi-x-circle"></i></a>
                </div>
                <div class="modal-body p-0">
                    <div class="container-fluid containerModel">
                        <!-- First Row -->
                        <div class="row gy-4 mt-4 mx-lg-4">
                            <div class="col-lg-6 order-1 order-lg-1 my-4 first-col">
                                <h3 data-aos="fade-up">
                                    Let’s start
                                </h3>
                                <p data-aos="fade-up" data-aos-delay="100">
                                    Select the appropriate
                                    options; Get a step closer to
                                    transform your business.
                                </p>
                            </div>

                            <div class="col-lg-6 align-items-center order-3 order-lg-3 justify-content-center my-4" style="position:relative; display:grid;">
                                <div class="col d-flex flex-column">
                                    <label data-aos="fade-up" class="select-label">Select Service</label>
                                    <select class="dropdown btn-dropdown form-select cls-Services" name="service" id="confirm-services" title="Select Services" required onchange="GetTopServicesValues(true,1,false)">
                                        <option value="All">All Services</option>
                                    </select>
                                </div>

                                <div class="col d-flex flex-column">
                                    <label data-aos="fade-up" class="select-label">Select Solution</label>
                                    <select class="dropdown btn-dropdown form-select cls-solution" name="solution" id="confirm-solutions" title="Select Solutions" required onchange="GetSolutionValues(true)">
                                        <option value="All">All Solutions</option>
                                    </select>
                                </div>

                                <div class="col d-flex flex-column">
                                    <label data-aos="fade-up" class="select-label">Select Industry</label>
                                    <select class="dropdown btn-dropdown form-select cls-Industries" name="industry" id="confirm-industries" title="Select Industry" required>
                                        <option value="All">All Industries</option>
                                    </select>
                                </div>

                                <div class="col d-flex justify-content-end">
                                    <button type="button" class="btn btn-brand" onclick="GetSelectedValues()">Confirm</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    @* <div id="preloader" style="display:none;"></div> *@
</main>
<script src="~/assets/js/pagination.js"></script>
<script>
    $(document).ready(function () {
        BindBrowseSolutionIndustries()
        BindBrowseSolutionServices()
        BindBrowseSolution()
        //BindPopularSolutionsList()
        BindTopPopularSolutionsList()
        // SetServiceValue()
    });

    function checkData(Id, service) {
        $("#confirmationModal").modal('show')

        const selectService = '#select-services';
        const selectSolution = '#select-solutions';
        const selectIndustrie = '#select-industries';

        var selectedService = $(selectService).val();
        var selectedSolution = $(selectSolution).val();
        var selectedIndustries = $(selectIndustrie).val();
        var defaultSelect = 'All';

        if (selectedService != 'All') {
            $('#confirm-services').val(selectedService);
            $('#confirm-services').find(':not(:selected)').prop('disabled', true);
            $('#confirm-services').css('cursor', 'not-allowed');
        } else {
            $('#confirm-services').val(service);
            $('#confirm-services').find(':not(:selected)').removeAttr('disabled', true);
            $('#confirm-services').css('cursor', 'default');
        }

        if (selectedSolution != 'All') {
            $('#confirm-solutions').val(selectedSolution);
            $('#confirm-solutions').find(':not(:selected)').prop('disabled', true);
            $('#confirm-solutions').css('cursor', 'not-allowed');
        } else {
            $('#confirm-solutions').val(Id);
            $('#confirm-solutions').find(':not(:selected)').removeAttr('disabled');
            $('#confirm-solutions').css('cursor', 'default');
            GetSolutionValues(true)
        }

        if (selectedIndustries != 'All') {
            $('#confirm-industries').val(selectedIndustries);
            $('#confirm-industries').find(':not(:selected)').prop('disabled', true);
            $('#confirm-industries').css('cursor', 'not-allowed');
        } else {
            $('#confirm-industries').val(defaultSelect);
            $('#confirm-industries').find(':not(:selected)').removeAttr('disabled');
            $('#confirm-industries').css('cursor', 'default');
        }
    }


    function BindBrowseSolutionIndustries() {
        $('#preloader').show();
        $.ajax({
            type: "POST",
            async: false,
            url: "@Url.Action("GetIndustryList", "Home")",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (result) {
                $.each(result.Result, function (data, value) {
                    $(".cls-Industries").append($("<option     />").val(value.Id).text(value.IndustryName));
                })
                $('#preloader').hide();
            },
            error: function (result) {
                showToaster("error", "Error !", result.responseText);
                $('#preloader').hide();
            }
        });
    }

    function BindBrowseSolutionServices() {
        $('#preloader').show();
        $.ajax({
            type: "Get",
            async: false,
            url: "@Url.Action("GetServicesList", "Home")",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (result) {
                $.each(result.Result, function (data, value) {
                    $(".cls-Services").append($("<option     />").val(value.Id).text(value.ServicesName));
                })
                SetServiceValue()
                $('#preloader').hide();
            },
            error: function (result) {
                $('#preloader').hide();
                showToaster("error", "Error !", result.responseText);
            }
        });
    }

    function BindBrowseSolution() {
        $('#preloader').show();
        $.ajax({
            type: "Get",
            url: "@Url.Action("GetSolutionList", "Home")",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (result) {
                $(".cls-solution option:not(:first)").remove();
                $.each(result.Result, function (data, value) {
                    $(".cls-solution").append($("<option     />").val(value.Id).text(value.Title));
                })
                SetSolutionValue()
                $('#preloader').hide();
            },
            error: function (result) {
                $('#preloader').hide();
                showToaster("error", "Error !", result.responseText);
            }
        });
    }

    function GetSelectedValues() {
        var IndustryId = $("#confirm-industries").val();
        var SolutionId = $("#confirm-solutions").val();
        var ServiceId = $("#confirm-services").val();

        if (IndustryId == null || SolutionId == null || ServiceId == null) {
            showToaster("warning", "Required !", "Enter Proper Details");
            return
        }
        sessionStorage.setItem("IndustryId", IndustryId)
        sessionStorage.setItem("SolutionId", SolutionId)
        window.location.href = '/LandingPage/Project?Service=' + ServiceId + '&Solution=' + SolutionId + '&Industry=' + IndustryId;
    }

    function BindPopularSolutionsList() {
        $("#preloader").show();
        $.ajax({
            type: "Get",
            async: false,
            url: "@Url.Action("BindPopularSolutionsList", "Home")",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (result) {
                if (result.Result != 0) {
                    var solutiondata = result.Result;
                    BindSolutionSection(solutiondata)
                }
                $("#solution-moreinfo").css("display", "none");
                $("#solution-lessinfo").css("display", "block");
                $("#preloader").hide();

            },
            error: function (result) {
                showToaster("error", "Error !", result.responseText);
            }
        });
    }

    function changePagination(page) {
        var pageNumber = page;
        var ServiceId = $("#select-services").val();
        var SolutionId = $("#select-solutions").val();
        var IndustryId = $("#select-industries").val();
        var IsSolutionSearched = $('#columnDdl').data('isSearched');

        var urlParams = new URLSearchParams(window.location.search);
        var solutionName = urlParams.get('solution');
        if (solutionName != undefined && solutionName != "" && solutionName != null && IsSolutionSearched) {
            //var isRecordSearch = urlParams.get('isRecordSearch');
            //if (isRecordSearch == 0 && isRecordSearch != null && ServiceId == "All" && SolutionId == "All" && IndustryId == "All") {
            filterSolutionManually(solutionName, pageNumber);
            //}
        } else {
            if (ServiceId == "All" && SolutionId == "All" && IndustryId == "All") {
                changeSolutionsListByPagination(pageNumber);
                //BindTopPopularSolutionsList(pageNumber);
            }
            else if (ServiceId != "All" && SolutionId == "All") {
                GetTopServicesValues(false, pageNumber, true);
            }
            else if (ServiceId != "All" && SolutionId != "All") {
                GetSolutionValues(false, pageNumber, true);
            }
            else {
                changeSolutionsListByPagination(pageNumber);
            }
        }
    }

    function GetServicesValues(value) {
        var ServiceId;
        if (value) {
            ServiceId = $("#confirm-services").val()
        }
        else {
            ServiceId = $("#select-services").val()
        }
        if (ServiceId == "All") {
            ServiceId = 0
        }
        var data = {
            Id: ServiceId,
        }
        $("#preloader").show();
        $.ajax({
            type: "POST",
            async: false,
            url: "@Url.Action("GetSolutionBasedonServices", "Home")",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            data: JSON.stringify(data),
            success: function (result) {
                var data = result.Result.SolutionData;
                if (value != true) {
                    if (data.length != 0) {
                        $("#solution-Section").html("")
                        BindSolutionSection(data)
                        var totalPages = result.Result.PageCount;
                        if (totalPages > 1) {
                            $('.pagination').show();
                            createPagination(totalPages, 1);
                        }
                        else {
                            $('.pagination').hide();
                        }
                        $(".cls-temp").remove()
                    }
                    else {
                        $("#solution-Section").html("")
                        $(".cls-temp").remove()
                        $("<p class='cls-temp'>No Data Available</p>").insertAfter("#solution-Section");
                        $(".cls-temp").css("fontSize", "16px");
                    }
                }
                $(".cls-solution option:not(:first)").remove()
                $(".cls-Industries option:not(:first)").remove()
                $.each(data, function (data, value) {
                    $(".cls-solution").append($("<option     />").val(value.Id).text(value.Title));
                })
                $.each(result.Result.IndustriesData, function (datas, values) {
                    $(".cls-Industries").append($("<option     />").val(values.Id).text(values.IndustryName));
                })

                $("#solution-lessinfo").css("display", "block");
                $("#solution-moreinfo").css("display", "none");
                $("#preloader").hide();
            },
            error: function (result) {
                $("#preloader").hide();
                showToaster("error", "Error !", result.responseText);
            }
        });
    }

    function BindSolutionSection(solutiondata) {
        var solutionSection = "";
        $.each(solutiondata, function (data, value) {
            var title = value.Title.length > 30 ? value.Title.substring(0, 30) + "..." : value.Title;
            var description = value.Description.length > 100 ? value.Description.substring(0, 100) + "..." : value.Description;
            var industryList = solutiondata[data].Industries.split(",")
            var count = 0;

            solutionSection += '<div class="col-md-6 col-xl-4" >' +
                '<div class="card shadow-lg">' +
                '<div class="card-body" onclick=checkData(' + value.Id + ',' + value.solutionServices + ')>' +
                '<div class="card-img justify-content-lg-center" >' +
                '<img src=' + value.ImageUrlWithSas + ' alt = "SolutionImage" class="img-fluid" data - aos="zoom-out">' +
                '</div>' +
                '<h3>' +
                '<a style="color:#001973;" class="section-title-size" title="' + value.Title + '">' + title + '</a>' +
                '</h3>' +
                '<p class="section-detail-size" title="' + value.Description + '">' + description + '</p>' +
                '<div class="icon-image">';
            if (industryList != "") {
                var industry = industryList.slice(0, 2);
                $.each(industry, function (industrydata, industryValue) {
                    var industrySection = '<i class="bi bi-shop-window"></i>' +
                        '<label> ' + industryValue + ' </label>';
                    solutionSection += industrySection;
                    count++;
                })
            }
            if (industryList.length != 0) {
                if (industryList.length > 2) {
                    var industryLeft = industryList.length - count;
                    solutionSection += '<label class="pl-5"> + ' + industryLeft + ' more </label>'
                }

            }
            solutionSection += '</div></div>' +
                '<div class="card-footer">' +
                '<div class="like team-popover" data-toggle="popover" id=industry_' + value.Id + ' onclick=GetSolutionIndustry(this,' + value.Id + ')>' +
                '<i class="bi bi-heart solution-saved"></i>' +
                '</div>' +
                '</div>' +
                '</div></div>';
        })
        $('#solution-Section').html(solutionSection);
        if ('@Context.Session.GetString("LoggedUserRole")' != "Client") {
            $(".card-footer").hide()
            $(".icon-image").css("margin-bottom", "27px")
        }
        $('.team-popover').popover('dispose');
        var newContent = "<ul class='cls-industry-ul'><li>loading...</li></ul>";
        $('.team-popover').popover({
                    html:true,
                    content:newContent
                });
    }

    function GetSolutionValues(value, pageNumber, isPageChanged) {
        var SolutionId;
        var page_Number = 1;
        if (isPageChanged) {
            page_Number = pageNumber;
        }
        if (value) {
            SolutionId = $("#confirm-solutions").val()
        }
        else {
            SolutionId = $("#select-solutions").val();
            $('#columnDdl').data('isSearched', false);
        }

        if (SolutionId == "All") {
            GetTopServicesValues(false, 1, false)
            return
        }
        var data = {
            Id: SolutionId,
            pageNumber: page_Number
        }
        $("#preloader").show();
        $.ajax({
            type: "POST",
            async: false,
            url: "@Url.Action("GetSolutionBasedonSolutionSelected", "Home")",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            data: JSON.stringify(data),
            success: function (result) {
                var data = result.Result.SolutionData;
                if (value != true) {
                    if (result.Result.length != 0) {
                        $("#solution-Section").html("")
                        BindSolutionSection(data)
                        var totalPages = result.Result.PageCount;
                        if (totalPages > 1) {
                            $('.pagination').show();
                            createPagination(totalPages, page_Number);
                        }
                        else {
                            $('.pagination').hide();
                        }
                    }
                }
                $(".cls-Industries option:not(:first)").remove()
                $.each(result.Result.IndustriesData, function (datas, values) {
                    $(".cls-Industries").append($("<option     />").val(values.Id).text(values.IndustryName));
                })
                $("#solution-lessinfo").css("display", "none");
                $("#solution-moreinfo").css("display", "none");
                $("#preloader").hide();
            },
            error: function (result) {
                $("#preloader").hide();
                showToaster("error", "Error !", result.responseText);
            }
        });
    }

    function SetServiceValue() {
        $("#preloader").show();
        var urlParams = new URLSearchParams(window.location.search);
        var serviceName = urlParams.get('service');
        if (serviceName != undefined) {
            $("#select-services option:contains('" + serviceName + "')").attr('selected', 'selected');
            var selectedSolution = $("#select-services").val();
            if (selectedSolution != "All") {
                setTimeout(function () {
                    GetTopServicesValues(false, 1, false)
                }, 2000);
            } else {
                $("#solution-Section").html("")
                $(".cls-temp").remove()
                $("<p class='cls-temp'>No Data Available</p>").insertAfter("#solution-Section");
                $(".cls-temp").css("fontSize", "16px");
            }
        }
        $("#preloader").hide();
    }
    function SetSolutionValue() {
        $("#preloader").show();
        var urlParams = new URLSearchParams(window.location.search);
        var solutionName = urlParams.get('solution');
        if (solutionName != undefined && solutionName != "" && solutionName != null) {
            $('#columnDdl').data('isSearched', true);
            filterSolutionManually(solutionName, 1);
        }
        //if (solutionName != undefined && solutionName != "" && solutionName != null) {
        //var isRecordSearch = urlParams.get('isRecordSearch');
        //if (isRecordSearch != 0 || isRecordSearch == "" || isRecordSearch == null || isRecordSearch == undefined) {
        //$("#select-solutions option:contains('" + solutionName + "')").attr('selected', 'selected');
        //var selectedSolution = $("#select-solutions").val();
        //if (selectedSolution != "All") {
        //  setTimeout(function () {
        //       GetSolutionValues(false, 1, false)
        //   }, 2000);
        //} else {
        // $("#solution-Section").html("")
        // $(".cls-temp").remove()
        // $("<p class='cls-temp'>No Data Available</p>").insertAfter("#solution-Section");
        //  $(".cls-temp").css("fontSize", "16px");
        //}
        //}else{
        //    filterSolutionManually(solutionName,1);
        //}
        //} else {
        // filterSolutionManually(solutionName,1);
        //}
        $("#preloader").hide();
    }

    $('.close').on('click', function () {
        $('#confirmationModal').modal('hide');
        //BindSolutionsList()
    });

    function filterSolutionManually(solutionName, pageNumber) {
        var Solution = solutionName;
        var page_Number = 1;
        page_Number = pageNumber;
        //if (isPageChanged) {
        //    page_Number = pageNumber;
        //}
        //SolutionId = $("#select-solutions").val();
        var data = {
            SolutionName: Solution,
            pageNumber: page_Number
        }
        $("#preloader").show();
        $.ajax({
            type: "POST",
            async: false,
            url: "@Url.Action("filterSolutionBySolutionName", "Home")",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            data: JSON.stringify(data),
            success: function (result) {
                var data = result.Result.SolutionData;
                if (result.Result.TotalCount != 0) {
                    $("#solution-Section").html("")
                    BindSolutionSection(data)
                    var totalPages = result.Result.PageCount;
                    if (totalPages > 1) {
                        $('.pagination').show();
                        createPagination(totalPages, page_Number);
                    }
                    else {
                        $('.pagination').hide();
                    }
                    $(".cls-Industries option:not(:first)").remove()
                    $.each(result.Result.IndustriesData, function (datas, values) {
                        $(".cls-Industries").append($("<option     />").val(values.Id).text(values.IndustryName));
                    });
                }
                else {
                    $("#solution-Section").html("")
                    $(".cls-temp").remove()
                    $("<p class='cls-temp'>No Data Available</p>").insertAfter("#solution-Section");
                    $(".cls-temp").css("fontSize", "16px");
                    $('.pagination').hide();
                }
                $("#solution-lessinfo").css("display", "none");
                $("#solution-moreinfo").css("display", "none");
                $("#preloader").hide();
            },
            error: function (result) {
                $("#preloader").hide();
                showToaster("error", "Error !", result.responseText);
            }
        });
    }

    function BindTopPopularSolutionsList() {
        $("#preloader").show();
        $.ajax({
            type: "Get",
            async: false,
            url: "@Url.Action("BindTopThreePopularSolutionsList", "Home")",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (result) {
                if (result.Result != 0) {
                    var solutiondata = result.Result.SolutionData;
                    BindSolutionSection(solutiondata)
                    var totalPages = result.Result.PageCount;
                    if (totalPages > 1) {
                        $('.pagination').show();
                        createPagination(totalPages, 1);
                    } else {
                        $('.pagination').hide();
                    }
                }
                if (result.Result.TotalCount > 3) {
                    $("#solution-lessinfo").css("display", "none");
                    $("#solution-moreinfo").css("display", "block");
                }

                $("#preloader").hide();

            },
            error: function (result) {
                showToaster("error", "Error !", result.responseText);
            }
        });
    }

    function changeSolutionsListByPagination(page_Number) {
        $("#preloader").show();
        var data = {
            pageNumber: page_Number
        }
        $.ajax({
            type: "Post",
            url: "@Url.Action("changeSolutionsListByPagination", "Home")",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            data: JSON.stringify(data),
            success: function (result) {
                if (result.Result != 0) {
                    var solutiondata = result.Result.SolutionData;
                    BindSolutionSection(solutiondata)
                    var totalPages = result.Result.PageCount;
                    if (totalPages > 1) {
                        $('.pagination').show();
                        createPagination(totalPages, page_Number);
                    } else {
                        $('.pagination').hide();
                    }
                }
                if (result.Result.TotalCount > 3) {
                    $("#solution-lessinfo").css("display", "none");
                    $("#solution-moreinfo").css("display", "block");
                }

                $("#preloader").hide();

            },
            error: function (result) {
                showToaster("error", "Error !", result.responseText);
            }
        });
    }

    function GetTopServicesValues(value, pageNumber, isPageChanged) {
        var page_Number = 1;
        if (isPageChanged) {
            page_Number = pageNumber;
        }
        var ServiceId;
        if (value) {
            ServiceId = $("#confirm-services").val()
        }
        else {
            ServiceId = $("#select-services").val()
            $('#columnDdl').data('isSearched', false);
        }
        if (ServiceId == "All") {
            ServiceId = 0;
        }
        var data = {
            Id: ServiceId,
            pageNumber: page_Number
        }
        $("#preloader").show();
        $.ajax({
            type: "POST",
            async: false,
            url: "@Url.Action("GetTopThreeSolutionBasedonServices", "Home")",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            data: JSON.stringify(data),
            success: function (result) {
                var data = result.Result.SolutionData;
                if (value != true) {
                    if (data.length != 0) {
                        $("#solution-Section").html("")
                        BindSolutionSection(data)
                        var totalPages = result.Result.PageCount;
                        if (totalPages > 1) {
                            $('.pagination').show();
                            createPagination(totalPages, page_Number);
                        } else {
                            $('.pagination').hide();
                        }
                        $(".cls-temp").remove()
                    }
                    else {
                        $("#solution-Section").html("")
                        $(".cls-temp").remove()
                        $("<p class='cls-temp'>No Data Available</p>").insertAfter("#solution-Section");
                        $(".cls-temp").css("fontSize", "16px");
                    }
                }
                $(".cls-solution option:not(:first)").remove()
                $(".cls-Industries option:not(:first)").remove()
                $.each(result.Result.SolutionBindData, function (data, value) {
                    $(".cls-solution").append($("<option     />").val(value.Id).text(value.Title));
                })
                $.each(result.Result.IndustriesData, function (datas, values) {
                    $(".cls-Industries").append($("<option     />").val(values.Id).text(values.IndustryName));
                })
                if (result.Result.TotalCount > 3) {
                    $("#solution-lessinfo").css("display", "none");
                    $("#solution-moreinfo").css("display", "block");
                } else {
                    $("#solution-lessinfo").css("display", "none");
                    $("#solution-moreinfo").css("display", "none");
                }

                $("#preloader").hide();
            },
            error: function (result) {
                $("#preloader").hide();
                showToaster("error", "Error !", result.responseText);
            }
        });
    }

    function BindSolutionsList() {
        var ServiceId = $("#select-services").val()
        if (ServiceId != "All") {
            GetTopServicesValues(false, 1, false)
        }
        else {
            BindTopPopularSolutionsList();
            BindBrowseSolution();
        }
    }

    function BindAllSolutionsList() {
        var ServiceId = $("#select-services").val()
        if (ServiceId != "All") {
            GetServicesValues(false, 1, false)
        }
        else {
            BindPopularSolutionsList()
        }
    }

    function SaveSolutionProject(id,indId) {
        var data = {
            SolutionId: id,
            IndustryId: indId
        }
        $("#preloader").show();
        $(".bs-popover-auto").hide();
        $.ajax({
            type: "POST",
            url: "@Url.Action("SaveProject", "Home")",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            data: JSON.stringify(data),
            success: function (result) {
                showToaster("success", "Success !", result.Message);
                BindSolutionsList();
                $("#preloader").hide();
            },
            error: function (result) {
                $("#preloader").hide();
                showToaster("error", "Error !", result.responseText);
            }
        });
    }

    function UnSaveSolutionProject(id) {
        var data = {
            SolutionId: id,
        }
        $("#preloader").show();
        $.ajax({
            type: "POST",
            url: "@Url.Action("UnSavedProject", "Home")",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            data: JSON.stringify(data),
            success: function (result) {
                showToaster("success", "Success !", result.Message);
                BindSolutionsList();
                $("#preloader").hide();
            },
            error: function (result) {
                $("#preloader").hide();
                showToaster("error", "Error !", result.responseText);
            }
        });
    }

    function GetSolutionIndustry(curitag, solutionId){
        $(".bs-popover-auto").hide();
          var data = {
            SolutionId: solutionId,
        }
        $(curitag).addClass('cls-noevent');
        $(".cls-industry-ul").empty();
        $(".cls-industry-ul").append('<li>loading...</li>');
        $.ajax({
            type: "POST",
            url: "@Url.Action("GetSolutionIndustry", "LandingPage")",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            data: JSON.stringify(data),
            success: function (result) {
                $(".cls-industry-ul").empty();
                for (var i = 0; i < result.Result.IndustriesData.length; i++) {
                    var name = result.Result.IndustriesData[i].Industries;
                    var industryId = result.Result.IndustriesData[i].IndustryId;
                    var spn = '<li class="cls-indistry-li"><span style="cursor:pointer;" onclick="SaveSolutionProject('+solutionId+','+industryId+')">' + name + '</span></li>';
                    $(".cls-industry-ul").append(spn);
                }
                
                $(curitag).removeClass('cls-noevent');
            },
            error: function (result) {
                $(curitag).removeClass('cls-noevent');
                showToaster("error", "Error !", result.responseText);
            }
        });
    }
</script>
