@{
    ViewData["Title"] = "- Describe solution";
}
<main id="main" class="main">
    <div class="row">
        <!-- Recent Sales -->
        <div class="col-12">
            <div class="card recent-sales overflow-auto">

                <div class="card-body">
                    <h5 class="card-title">Solutions</h5>

                    <table class="table table-borderless datatable" id="solutionList">
                        <thead>
                            <tr>
                                <th style="width:10%">Id</th>
                                <th style="width:10%">Title</th>
                                @*  <th style="width:10%">Sub Title</th>*@
                                <th style="width:30%">Description</th>
                                <th style="width:20%">Image</th>
                                <th style="width:10%">Services</th>
                                <th style="width:10%">Industries</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div><!-- End Recent Sales -->
    </div>
</main>

<div class="modal" id="EditsolutionModal" tabindex="-1" aria-labelledby="editSolutionModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Edit Solution</h4>
                <a class="close" onclick="ResetSolutionIndustryDetailForm();"><i class="bi bi-x-circle"></i></a>
            </div>
            <div class="modal-body p-0">
                <div class="row">
                    <div class="col">
                        <div class="card">
                            <div class="card-body">

                                <form class="row g-3 mt-3 cls-Solution" name="addSolutiondescribeForm">
                                    <input type="hidden" id="SolutionDetailsId" value="0">
                                    <input type="hidden" id="SolutionId" value="0">
                                    <input type="hidden" id="IndustryId" value="0">
                                    <input type="hidden" id="ImagePath" value="">

                                    <div class="col-12" style="display:none;">
                                        <label for="SolutionTitle" class="form-label">Solution Title</label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" id="SolutionTitle" name="SolutionTitle" readonly>
                                        </div>
                                    </div>
                                    <div class="col-12 cls-subtitle" style="display:none;">
                                        <label for="Solution_SubTitle" class="form-label">Solution SubTitle</label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" id="Solution_SubTitle" name="Solution_SubTitle" readonly>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <label for="Services" class="form-label">Services</label>
                                        <div class="input-group" id="services">
                                            <select data-placeholder="Choose tags ..." id="drp-services" name="SolutionServices" class="form-control" disabled>
                                                <option value="">Choose Services</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-12" style="display:none;">
                                        <label for="SolutionDescription" class="form-label">Solution Description</label>
                                        <div class="input-group">
                                            <textarea class="form-control" id="SolutionDescription" name="SolutionDescription" style="height:100px;" readonly></textarea>
                                        </div>
                                    </div>
                                    <div class="col-12" id="img-id" style="display:none;">
                                        <label for="SolutionImage" class="form-label">Image</label>
                                        <div class="input-group">
                                            <input type="file" class="form-control" id="SolutionImage" name="SolutionImage" disabled />
                                        </div>
                                        <div id="solutionImagepreview"></div>
                                    </div>

                                    <div class="col-12">
                                        <label for="drp-assigned-freelancers" class="form-label">
                                            <a class="text-primary" onclick="OpenFreelancePopup();">Assigned Freelancer</a>
                                        </label>
                                        <div class="input-group">
                                            <table class="table" id="AssignFreeLancerTable">
                                                <thead style="border: 1px solid #e8e8e8;">
                                                    <tr>
                                                        <th>Id</th>
                                                        <th>First Name</th>
                                                        <th>Last Name</th>
                                                        <th>FreeLancer Lavel</th>
                                                        <th>IsProjectArchitect</th>
                                                        <th>Delete</th>
                                                    </tr>
                                                </thead>
                                                <tbody class="AssignFreeLancerbody">
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>

                                    <div class="col-12" id="main-industry-div">
                                        <label for="Industries" class="form-label">Industries</label>
                                        <div class="input-group" id="industries">
                                            <select data-placeholder="Choose tags ..." name="Industries" multiple class="chosen-select" id="drp-industries">
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-12" style="display:none">
                                        <label for="IsActiveByAdmin" class="form-label">Is Active</label>
                                        <div class="input-group" id="IsActiveByAdmindiv">
                                            <input type="checkbox" id="IsActiveByAdmin" class="form-check-input" />
                                        </div>
                                    </div>

                                    <div class="col-12">
                                        <label for="IsActiveForFreelancer" class="form-label">Is Active For Freelancer</label>
                                        <input type="checkbox" id="IsActiveForFreelancer" class="form-check-input" />
                                    </div>

                                    <div class="col-12">
                                        <label for="IsActiveForClient" class="form-label">Is Active For Client</label>
                                        <input type="checkbox" id="IsActiveForClient" class="form-check-input" />
                                    </div>

                                    <div class="text-center">
                                        <button type="submit" class="btn btn-brand">Submit</button>
                                        <button type="reset" class="btn btn-secondary" onclick="ResetSolutionIndustryDetailForm();">Close</button>
                                    </div>

                                    <hr />
                                    Project Architecture - Details

                                    <div class="col-12">
                                        <label for="ProjectType" class="form-label">Select Project Type</label>
                                        <div class="input-group">
                                            <select class="form-select" name="ProjectType" id="ProjectType">
                                                <option value="SMALL">Small</option>
                                                <option value="LARGE">Large</option>
                                                <option value="MEDIUM">Medium</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-12">
                                        <label for="ProjectDetails" class="form-label">Project Details</label>
                                        <div class="input-group">
                                            <textarea class="form-control" id="projectDetails" name="projectDetails" style="height:100px;" readonly></textarea>
                                        </div>
                                    </div>

                                    <div class="col-12">
                                        <label for="SolutionDescription" class="form-label">Project Outline</label>
                                        <div class="input-group">
                                            <textarea class="form-control" id="projectOutline" name="projectOutline" style="height:100px;" readonly></textarea>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <label for="SolutionDescription" class="form-label">Milestone(s)</label>
                                        <div class="input-group">
                                            <table class="table" id="MileStoneTable">
                                                <thead style="border: 1px solid #e8e8e8;">
                                                    <tr>
                                                        <th>Id</th>
                                                        <th>Description</th>
                                                        <th>Title</th>
                                                    </tr>
                                                </thead>
                                                <tbody class="MileStonebody">
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>


                                    <div class="col-12">
                                        <label for="points" class="form-label">Point(s)</label>
                                        <div class="input-group">
                                            <table class="table" id="PointsTable">
                                                <thead style="border: 1px solid #e8e8e8;">
                                                    <tr>
                                                        <th>Id</th>
                                                        <th>Points</th>
                                                        <th></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="text-center">
                                        <button type="button" onclick="ActionByAdminOnSolution('1')" class="btn btn-brand">Approve</button>
                                        <button type="button" onclick="ActionByAdminOnSolution('2')" class="btn btn-secondary">Reject</button>
                                    </div>
                                </form><!-- Vertical Form -->


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="addFreeLanceModal" tabindex="-1" aria-labelledby="guidelineModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add New User</h4>
                <a class="close" onclick="ResetFreeLanceForm();"><i class="bi bi-x-circle"></i></a>
            </div>
            <div class="modal-body p-0">
                <div class="row">
                    <div class="col">
                        <div class="card">
                            <div class="card-body">
                                <!-- Vertical Form -->
                                <form class="row g-3 mt-3" name="addInviteForm">

                                    <div class="col-12">
                                        <label for="FreeLancerLavel" class="form-label">Select Lavel</label>
                                        <div class="input-group">
                                            <select class="form-select" aria-label="Default select example" name="level" id="FreeLancerLavel">
                                                <option value="">Select Level</option>
                                                <option value="Experts">Experts</option>
                                                <option value="Associate">Associate</option>
                                                <option value="Project Manager">Project Manager</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-12">
                                        <label for="FreeLancers" class="form-label">Freelancers</label>
                                        <div class="input-group">
                                            <table class="table" id="FreeLancerTable">
                                                <thead style="border: 1px solid #e8e8e8;">
                                                    <tr>
                                                        <th></th>
                                                        <th>First Name</th>
                                                        <th>Last Name</th>
                                                    </tr>
                                                </thead>
                                                <tbody class="FreeLancerbody">
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>

                                    <div class="text-center">
                                        <button type="button" id="AddFreeLancer" class="btn btn-brand">Add FreeLancer</button>
                                        <button type="reset" class="btn btn-secondary" onclick="ResetFreeLanceForm();">Reset</button>
                                    </div>
                                </form><!-- Vertical Form -->

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>

    /*
        hote code for finalIdsData and architectData dont change this array and array function.
        without full flow knowladge change to hight chance to breack FreelancerPool table entry.
    */

    let finalIdsData = [];
    let architectData = [];

    $(function () {
        $("form[name='addSolutiondescribeForm']").validate({
            rules: {
                SolutionTitle: { required: true },

            },
            messages: {
                SolutionTitle: { required: "please select solution" },

            },
            submitHandler: function (form) {
                SaveDescribeSolutionData()
            }
        });
        GetSolutionList()
        $(".cls-subtitle").css("display", "none")

        $("#ProjectType").change(function () {
            GetSolutionDefineDetails()
        });

    });

    function GetSolutionList() {
        $("#preloader").show();
        $.ajax({
            type: "Get",
            url: "@Url.Action("GetSolutionsIndustryDetailList", "Solutions")",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (result) {
                $("#preloader").hide();
                $('#solutionList').DataTable({
                    destroy: true,
                    data: result.Result,
                    "columns": [
                        {
                            "data": "Id",
                            "render": function (data, type, row) {
                                return '<a class="cls-service" onclick=GetSolutionDetailsDataById(' + data + ')>' + data + '</a>';
                            }
                        },
                        { "data": "Title" },
                        //{ "data": "SubTitle" },
                        {
                            "data": "Description",
                            "render": function (data, type, row) {
                                if (data != null) {
                                    var description = data.length > 35 ? data.substring(0, 35) + "..." : data;
                                    return "<span title='" + data + "'>" + description + "</span>";
                                }
                                else {
                                    return "<span></span>";
                                }

                            }
                        },
                        {
                            "data": "ImageUrlWithSas",
                            "render": function (data, type, row) {
                                if (data != null) {
                                    return '<img src="' + data + '" alt="Image" height="70" width="150" />';
                                }
                                else {
                                    return "<span></span>";
                                }

                            }
                        },
                        { "data": "Services" },
                        { "data": "Industries" }

                    ]
                });


            },
            error: function (result) {
                //alert("failure");
                showToaster("error", "Error !", "Failure");
            }
        });
    }


    function GetSolutionDetailsDataById(Id) {
        var ServiceData = {
            Id: Id,
        };
        $("#preloader").show();
        $("#drp-assigned-freelancers").empty();
        $("#MileStoneTable tbody").empty();
        GetFreelancerList();
        $.ajax({
            type: "POST",
            url: "@Url.Action("GetSolutionDetailsById", "Solutions")",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            data: JSON.stringify(ServiceData),
            success: function (result) {
                var data = result.Result;
                $("#EditsolutionModal").modal('show')
                $("#SolutionDetailsId").val(data.SolutionIndustryDetails.Id)
                $("#SolutionTitle").val(data.Solution.Title)
                $("#SolutionId").val(data.Solution.Id)
                $("#IndustryId").val(data.Industryname.Id)
                $("#Solution_SubTitle").val(data.Solution.SubTitle)
                $("#SolutionDescription").val(data.Solution.Description)
                $("#drp-assigned-freelancers").val(data.SolutionIndustryDetails.AssignedFreelancerId).trigger('chosen:updated');
                $("#drp-services").val(data.Services.ServicesId)
                $('#drp-industries').val(data.Industryname.Id).trigger('chosen:updated');
                $('#drp-industries option').attr('disabled', true).trigger('chosen:updated');
                $("#solutionImagepreview").find("span").first().remove();
                $("#IsActiveByAdmin").prop('checked', data.SolutionIndustryDetails.IsActiveByAdmin == 1 ? true : false);
                $("#IsActiveForFreelancer").prop('checked', data.SolutionIndustryDetails.IsActiveForFreelancer == 1 ? true : false);
                $("#IsActiveForClient").prop('checked', data.SolutionIndustryDetails.IsActiveForClient == 1 ? true : false);
                //
                //$("#projectOutline").val(data.SolutionIndustryDetails.ProjectOutline);
                //$("#projectDetails").val(data.SolutionIndustryDetails.ProjectDetails);


                if (data.SolutionDefine != null) {
                    $("#projectOutline").val(data.SolutionDefine.ProjectOutline);
                    $("#projectDetails").val(data.SolutionDefine.ProjectDetails);
                }

                var htm = '';
                if (data.MilestoneDetails.length > 0) {
                    for (index = 0; index < data.MilestoneDetails.length; index++) {
                        subObj = data.MilestoneDetails[index];

                        htm += '<tr>';
                        htm += '<td>' + subObj.Id + '</td>';
                        htm += '<td>' + subObj.Description + '</td>';
                        htm += '<td>' + subObj.Title + '</td>';
                        htm += '</tr>';
                    }
                }
                $("#MileStoneTable").find("tr:gt(0)").remove();
                $("#MileStoneTable tbody").append(htm);


                var pointsTable = '';
                if (data.PointsDetails.length > 0) {
                    for (index = 0; index < data.PointsDetails.length; index++) {
                        subObj = data.PointsDetails[index];

                        pointsTable += '<tr>';
                        pointsTable += '<td>' + subObj.Id + '</td>';
                        pointsTable += '<td>' + subObj.point + '</td>';
                        pointsTable += '</tr>';
                    }
                }
                $("#PointsTable").find("tr:gt(0)").remove();
                $("#PointsTable tbody").append(pointsTable);


                $('#solutionImagepreview').show();
                var span = document.createElement('span');
                span.innerHTML =
                    ['<img class="SolutionImage" src="', data.Solution.ImageUrlWithSas, '" style="height:200px;width:200px;"/>']
                        .join('');
                document.getElementById('solutionImagepreview').insertBefore(span, null);

                BindIndustriesControles(data.Industryname, data.SolutionIndustryDetails);

                //--- FreeLancer pool entry bind --//
                DestroyDatatable("#AssignFreeLancerTable");
                finalIdsData = [];
                architectData = [];
                if (data.FreeLancerPoolIds.length > 0) {
                    data.FreeLancerPoolIds.forEach(function (key) {
                        finalIdsData.push(key);
                    });

                    RefreshDataTable();
                }
                if (data.ArchitectIds.length > 0) {
                    data.ArchitectIds.forEach(function (key) {
                        architectData.push(key);
                    });
                }
                //--- FreeLancer pool entry bind end --//

                $("#preloader").hide();
            },
            error: function (result) {
                showToaster("error", "Error !", "Something went wrong !!");
            }
        });
    }

    function GetFreelancerList() {
        $.ajax({
            type: "Get",
            url: "@Url.Action("GetFreelancers", "Solutions")",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (result) {
                $.each(result.Result, function (data, value) {
                    $("#drp-assigned-freelancers").append($("<option     />").val(value.Id).text(value.FirstName + " " + value.LastName));
                });
                $('#drp-assigned-freelancers').trigger('chosen:updated');
            },
            error: function (err) {
                $("#preloader").hide();
                //alert("Something Went Wrong!");
                showToaster("error", "Error !", "Something went wrong !!");
            }
        });
    }

    function GetAssignedFreelancerById() {
        $.ajax({
            type: "Get",
            url: "@Url.Action("GetFreelancers", "Solutions")",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (result) {
                $.each(result.Result, function (data, value) {
                    $("#drp-assigned-freelancers").append($("<option     />").val(value.Id).text(value.FirstName + " " + value.LastName));
                });
                $('#drp-assigned-freelancers').trigger('chosen:updated');
            },
            error: function (err) {
                $("#preloader").hide();
                //alert("Something Went Wrong!");
                showToaster("error", "Error !", "Something went wrong !!");
            }
        });
    }

    function BindIndustriesControles(value, IndustryValue) {
        if (IndustryValue.Description == null) {
            IndustryValue.Description = "";
        }
        var addcontrols = "<div class='cls-industriesdiv'>" +
            "<div class='col-12'>" +
            "<label class='form-label'>Description (" + value.IndustryName + ") </label>" +
            "<div class='input-group'>" +
            //"<textarea type='text' class='form-control industrydescription' id=\"Description_" + value.IndustryName + "\" value=" + IndustryValue.Description + "></textarea>" +
            '<input type="text" class="form-control industrydescription"  value="' + IndustryValue.Description + '">' +
            "</div>" +
            "</div>" +
            "<div class='col-12'>" +
            "<label class='form-label'>Image (" + value.IndustryName + ")</label>" +
            "<div class='input-group'>" +
            "<input type='file' class='form-control industryImage' id=\"Image_" + value.IndustryName + "\" onchange='ChangeUploadImage(this)'>" +
            "</div>" +
            '<div id=solutionDetailsImagepreview_' + value.IndustryName + '>' +
            "</div>" +
            "</div>"
        $(addcontrols).insertAfter("#main-industry-div");

        if (IndustryValue.ImageUrlWithSas != null) {
            $("#solutionDetailsImagepreview_" + value.IndustryName).find("span").first().remove();
            $('#solutionDetailsImagepreview_' + value.IndustryName).show();
            var span = document.createElement('span');
            span.innerHTML =
                ['<img class="SolutionImage" src="', IndustryValue.ImageUrlWithSas, '" style="height:200px;width:200px;"/>']
                    .join('');
            document.getElementById('solutionDetailsImagepreview_' + value.IndustryName).insertBefore(span, null);
        }
    }

    function ChangeUploadImage(value) {
        var name = value.id.split("_")[1]
        if (value.files && value.files[0]) {
            var reader = new FileReader();
            reader.onload = (function (e) {
                $("#solutionDetailsImagepreview_" + name).find("span").first().remove();
                $('#solutionDetailsImagepreview_' + name).show();
                var span = document.createElement('span');
                span.innerHTML =
                    ['<img class="SolutionImage" src="', e.target.result, '" title="', escape(e.name), '" style="height:200px;width:200px;"/>']
                        .join('');
                document.getElementById('solutionDetailsImagepreview_' + name).insertBefore(span, null);
            });

            reader.readAsDataURL(value.files[0]);
        }
    }

    function SaveDescribeSolutionData() {
        var freelancerId = $("#drp-assigned-freelancers").val();
        var fileUpload = $(".industryImage").get(0);
        var files = fileUpload.files;
        var SolutionData = {
            Id: $("#SolutionDetailsId").val(),
            Description: $(".industrydescription").val(),
            AssignedFreelancerIds: finalIdsData,
            IsArchitectIds: architectData,
            ActiveByAdmin: $("#IsActiveByAdmin").prop('checked') ? 1 : 2,
            IsActiveForFreelancer: $("#IsActiveForFreelancer").prop('checked') ? true : false,
            IsActiveForClient: $("#IsActiveForClient").prop('checked') ? true : false,
            SolutionId: $("#SolutionId").val(),
            IndustryId: $("#IndustryId").val(),
        };
        var formData = new FormData();
        for (var i = 0; i < files.length; i++) {
            formData.append("httpPostedFileBase", files[i]);
        }
        formData.append("SolutionData", JSON.stringify(SolutionData));
        $("#preloader").show();
        $.ajax({
            url: '/Solutions/AddorEditSolutionDetails',
            type: "POST",
            contentType: false,
            processData: false,
            data: formData,
            dataType: 'json',
            success: function (result) {
                $("#preloader").hide();
                //alert(result.Message);
                showToaster("success", "Success", result.Message);
                ResetSolutionIndustryDetailForm();
                GetSolutionList();
            },
            error: function (err) {
                $("#preloader").hide();
                //alert("Something Went Wrong!");
                showToaster("error", "Error !", "Something went wrong !!");
            }
        });
    }

    function ResetSolutionIndustryDetailForm() {
        $("#EditsolutionModal").modal('hide');
        $("#solution-img").remove();
        $("#SolutionTitle").val("");
        $("#Solution_SubTitle").val("");
        $("#SolutionDescription").val("");
        $("#SolutionImage").val("");
        $('#drp-services').val("").trigger('chosen:updated');
        $("#drp-industries").val("").trigger('chosen:updated');

        $("#SolutionDetailsId").val(0);
        $("#SolutionId").val(0);
        $("#IndustryId").val(0);
        $("#ProjectType").val("SMALL");
        $(".SolutionImage").attr('src', "");
        $("#solutionImagepreview").hide();
        $("#ImagePath").val("");
        $('.cls-industriesdiv').remove();

        $("#projectDetails").val('');
        $("#projectOutline").val('');
    }

    function ActionByAdminOnSolution(actionVal) {
        try {
            $("#preloader").show();
            $.ajax({
                url: '/Solutions/ActionByAdminOnSolution?solutionIndustryDetailsId=' + $("#SolutionDetailsId").val() + '&actionType=' + actionVal,
                type: "POST",
                data: {},
                dataType: 'json',
                success: function (result) {
                    $("#preloader").hide();
                    //alert(result.Message);
                    showToaster("success", "Success", result.Message);
                    ResetSolutionIndustryDetailForm();
                    GetSolutionList();
                },
                error: function (err) {
                    $("#preloader").hide();
                    //alert("Something Went Wrong!");
                    showToaster("error", "Error !", "Something went wrong !!");
                }
            });
        }
        catch (err) {
            //alert(err);
            showToaster("error", "Error !", err);
        }
    }

    function OpenFreelancePopup() {
        $("#EditsolutionModal").modal('hide');
        $("#addFreeLanceModal").modal('show');

        DestroyDatatable("#FreeLancerTable");
        $("#FreeLancerLavel").val('');
    }

    function ResetFreeLanceForm() {
        $("#addFreeLanceModal").modal('hide');
        $("#EditsolutionModal").modal('show');
    }

    $("#FreeLancerLavel").change(function () {

        $.ajax({
            type: "GET",
            url: "@Url.Action("GetFreeLancerByType", "Solutions")",
            data: { freeLancerLavel: this.value },
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (result) {

                $('#FreeLancerTable').DataTable({
                    destroy: true,
                    data: result.Result,
                    paging: false,
                    lengthChange: false,
                    searching: false,
                    ordering: false,
                    info: false,
                    autoWidth: false,
                    responsive: false,
                    "columns": [
                        {
                            "data": "Id",
                            "render": function (data, type, row) {
                                return "<input type=\"checkBox\" class=\"chkFreeLancers\" id=\"" + row.Id + "\" value=\"" + row.Id + "\"/>";
                            }
                        },
                        { "data": "FirstName" },
                        { "data": "LastName" },
                    ]
                });
            },
            error: function (result) {
                showToaster("error", "Error !", "Something went wrong !!");
            }

        });

    });


    $("#AddFreeLancer").click(function () {

        $('.chkFreeLancers:checked').each(function (i) {
            finalIdsData.push($(this).val());
        });

        if ($("#FreeLancerLavel").val() != '' && finalIdsData.length != 0) {
            RefreshDataTable();
        }
        else {
            showToaster("error", "Validation Error !", "Please select Lavel or Freelancer");
        }
    });

    function RemoveFreeLancer(id) {
        const index = finalIdsData.indexOf(id);
        if (index > -1) {
            finalIdsData.splice(index, 1);
        }

        RefreshDataTable();
    }

    function RefreshDataTable() {

        var userIdsModel = {
            Ids: finalIdsData,
        };

        $.ajax({
            type: "POST",
            url: "@Url.Action("GetUsersByIds", "Solutions")",
            data: JSON.stringify(userIdsModel),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (result) {

                $("#addFreeLanceModal").modal('hide');
                $("#EditsolutionModal").modal('show');

                $('#AssignFreeLancerTable').DataTable({
                    destroy: true,
                    data: result.Result,
                    paging: false,
                    lengthChange: false,
                    searching: false,
                    ordering: false,
                    info: false,
                    autoWidth: false,
                    responsive: false,
                    "columns": [
                        { "data": "Id", "visible": false },
                        { "data": "FirstName" },
                        { "data": "LastName" },
                        { "data": "Lavel" },
                        {
                            "data": "Id",
                            "render": function (data, type, row) {
                                if (row.Lavel == "Project Manager") {
                                    return "<input type=\"checkBox\" class=\"chkArchitect\" id=\"chk_" + row.Id + "\" value=\"" + row.Id + "\" onclick=\"FillArchitect();\" />";
                                }
                                else {
                                    return "";
                                }
                            }
                        },
                        {
                            "data": "Id",
                            "render": function (data, type, row) {
                                return "<a class=\"text-danger\" checked=\"true\" onclick=\"RemoveFreeLancer('" + row.Id + "');\">Delete</a>";
                            }
                        },
                    ]
                });

                CheckArchitect();
            },
            error: function (result) {
                showToaster("error", "Error !", "Something went wrong !!");
            }
        });
    }

    function DestroyDatatable(tableId) {
        var table = $(tableId).DataTable({
            destroy: true,
            paging: false,
            lengthChange: false,
            searching: false,
            ordering: false,
            info: false,
            autoWidth: false,
            responsive: false,
        });
        table.clear().draw();
    }

    function FillArchitect() {

        architectData = [];

        $(".chkArchitect:checked").each(function (i) {

            if (architectData.length >= 1) {
                showToaster("error", "Maximum Limit !", "Select only one architect per solution.");
                CheckArchitect();
            }
            else {
                architectData.push($(this).val());
            }

        });
    }

    function CheckArchitect() {

        $(".chkArchitect:checked").each(function (i) {
            $("#chk_" + $(this).val()).prop('checked', false);
        });

        architectData.forEach(function (key) {
            $("#chk_" + key).prop('checked', true);
        });
    }


    function GetSolutionDefineDetails() {

        var data = {
            SolutionId: parseInt($("#SolutionId").val()),
            IndustryId: parseInt($("#IndustryId").val()),
            ProjectType: $("#ProjectType").val()
        };

        $("#preloader").show();

        $.ajax({
            type: "POST",
            url: "@Url.Action("GetSolutionDefineData", "Solutions")",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            data: JSON.stringify(data),
            success: function (result) {
                console.log(result);
                debugger;
                var data = result.Result;
                if (result.StatusCode == 200) {

                    if (data.SolutionDefine != null) {
                        $("#projectDetails").val(data.SolutionDefine.ProjectDetails);
                        $("#projectOutline").val(data.SolutionDefine.ProjectOutline);
                    }
                    var htm = '';
                    if (data.SolutionMilestone.length > 0) {
                        for (index = 0; index < data.SolutionMilestone.length; index++) {
                            subObj = data.SolutionMilestone[index];

                            htm += '<tr>';
                            htm += '<td>' + subObj.Id + '</td>';
                            htm += '<td>' + subObj.Description + '</td>';
                            htm += '<td>' + subObj.Title + '</td>';
                            htm += '</tr>';
                        }
                    }
                    $("#MileStoneTable").find("tr:gt(0)").remove();
                    $("#MileStoneTable tbody").append(htm);


                    var pointsTable = '';
                    if (data.SolutionPoints.length > 0) {
                        for (index = 0; index < data.SolutionPoints.length; index++) {
                            subObj = data.SolutionPoints[index];

                            pointsTable += '<tr>';
                            pointsTable += '<td>' + subObj.Id + '</td>';
                            pointsTable += '<td>' + subObj.point + '</td>';
                            pointsTable += '</tr>';
                        }
                    }
                    $("#PointsTable").find("tr:gt(0)").remove();
                    $("#PointsTable tbody").append(pointsTable);

                    $("#preloader").hide();
                }
                else {
                    showToaster("error", "Error !", "Failure");
                }
            },
            error: function (result) {
                //alert("failure");
                showToaster("error", "Error !", "Failure");
                $("#preloader").hide();
            }
        });
    }

</script>