<main id="main" class="main">

    <div class="row">
        <!-- Recent Sales -->
        <div class="col-12">
            <div class="card recent-sales overflow-auto">
                <div class="card-body">
                    <h5 class="card-title">Dispute List</h5>

                    <table class="table table-borderless datatable" id="DisputeList"> 
                        <thead>
                            <tr>
                                <th scope="col">SolutionName</th> 
                                <th scope="col">IndustryName</th>
                                <th scope="col">ClientName</th>
                                <th scope="col">Amount</th>
                                <th scope="col">Date</th>
                                <th scope="col">Dispute Resolved?</th>
                                <th scope="col">View</th>
                                <th scope="col">Action</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>

                    </table>
                </div>
            </div>
        </div>
    </div>


    <div class="modal" id="RefundPopUp" tabindex="-1" aria-labelledby="RefundPopUp" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Dispute Details</h4>
                    <a class="close" onclick="ClosePopUpModel();"><i class="bi bi-x-circle"></i></a>
                </div>
                <div class="modal-body p-0">
                    <div class="row">
                        <div class="col">
                            <div class="card">
                                <div class="card-body">

                                    <form class="row g-3 mt-3" name="DisputeForm">
                                        <input type="hidden" id="ContractId" value="0">
                                        <input type="hidden" id="FreelancerStripeConnectedId" value="0">
                                        <div class="col-12">
                                            <label for="FreelancerName" class="form-label">Freelancer Name</label>
                                            <div class="input-group">
                                                <select class="form-select" aria-label="Default select example" name="drpfreelancer" id="drp-FreeLancer" onchange="GetFreelancerConnectedId()">
                                                    <option value="">Select Freelancer</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="col-12">
                                            <label for="Amount" class="form-label">Amount to Transfer</label>
                                            <div class="input-group">
                                                <input type="text" class="form-control" id="Amount" name="amount">
                                            </div>
                                        </div>

                                        <div class="col-12">
                                            <label for="ChargedId" class="form-label">Last Charged Id</label>
                                            <div class="input-group">
                                                <input type="text" class="form-control" id="ChargedId" name="chargedId" readonly>
                                            </div>
                                        </div>

                                        <div class="text-center">
                                            <button type="submit" class="btn btn-brand">Transfer</button>
                                            <button type="reset" class="btn btn-secondary" onclick="ResetForm();">Reset</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="modal" id="ContractUsersPopup" tabindex="-1" aria-labelledby="ContractUsersPopup" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Contract Users Details</h4>
                    <a class="close" onclick="CloseContractUsersPopup();"><i class="bi bi-x-circle"></i></a>
                </div>
                <div class="modal-body p-0">
                    <div class="row">
                        <div class="col">
                            <div class="card">
                                <div class="card-body pt-5">

                                    <table class="table table-borderless datatable" id="ContractUsersList">
                                        <thead>
                                            <tr>
                                                <th scope="col">Applicants Name</th>
                                                <th scope="col">Refund Amount</th>
                                                <th scope="col">Refund DateTime</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>

                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" id="ClientRefundPopup" tabindex="-1" aria-labelledby="ClientRefundPopup" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Client Details</h4>
                    <a class="close" onclick="CloseClientRefundPopUpModel();"><i class="bi bi-x-circle"></i></a>
                </div>
                <div class="modal-body p-0">
                    <div class="row">
                        <div class="col">
                            <div class="card">
                                <div class="card-body">
                                    <form class="row g-3 mt-3" name="ClientDetailsForm">
                                        <input type="hidden" id="ClientContractId" value="0">
                                        <div class="col-12">
                                            <label for="ClientName" class="form-label">Client Name</label>
                                            <div class="input-group">
                                                <input type="text" class="form-control" id="ClientName" name="clientName" readonly>
                                            </div>
                                        </div>

                                        <div class="col-12">
                                            <label for="Amount" class="form-label">Amount to Transfer</label>
                                            <div class="input-group">
                                                <input type="text" class="form-control" id="ClientAmount" name="clientamount">
                                            </div>
                                        </div>

                                        <div class="col-12">
                                            <label for="ChargedId" class="form-label">Last Charged Id</label>
                                            <div class="input-group">
                                                <input type="text" class="form-control" id="ClientChargedId" name="clientchargedId" readonly>
                                            </div>
                                        </div>

                                        <div class="text-center">
                                            <button type="submit" class="btn btn-brand">Transfer</button>
                                            <button type="reset" class="btn btn-secondary" onclick="CloseClientRefundPopUpModel();">Reset</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<script>
    $(function () {

        $("form[name='DisputeForm']").validate({
            rules: {
                drpfreelancer: { required: true },
                amount: { required: true },
                chargedId: { required: true },
            },
            messages: {
                drpfreelancer: { required: "Please select freelancer name" },
                amount: { required: "Please enter amount" },
                chargedId: { required: "Please enter chargeid" },
            },
            errorPlacement: function (error, element) {
                if (element.parent('.input-group').length) {
                    error.insertAfter(element.parent());
                }
                else {
                    error.insertAfter(element);
                }
            },
            submitHandler: function (form) {
                RefundUserAmount()
            }
        });

        $("form[name='ClientDetailsForm']").validate({
            rules: {
                clientamount: { required: true }
            },
            messages: {
                clientamount: { required: "Please enter amount" }
            },
            errorPlacement: function (error, element) {
                if (element.parent('.input-group').length) {
                    error.insertAfter(element.parent());
                }
                else {
                    error.insertAfter(element);
                }
            },
            submitHandler: function (form) {
                RefundClientAmount()
            }
        });

        GetDisputeList();
    })

    function GetDisputeList() {
        $("#preloader").show();
        $.ajax({
            type: "Get",
            url: "@Url.Action("GetDisputeList", "Solutions")",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (result) {
                $('#DisputeList').DataTable({
                    destroy: true,
                    data: result.Result,
                    "columns": [
                        { "data": "SolutionName" },
                        { "data": "IndustryName" },
                        { "data": "ClientName"},
                        { "data": "ProjectPrice"},
                        {
                            "data": "CreatedDate",
                            "render": function (data, type, full, meta) {
                                var date = moment(data).format('DD-MM-YYYY HH:MM:SS');;
                                return '<span>' + date + '</span>';
                            }
                        },
                        {
                            "data": "Id",
                            "render": function (data, type, full, meta) {
                                if (full.IsDisputeResolved) {
                                    return '<label class="switch"><input type="checkbox" id="DisputeStatus" class="cls-disputeToggle" onchange=DisputeResolved(' + data + ') checked><span class="slider round"></span></label>';
                                } else {
                                    return '<label class="switch"><input type="checkbox" id="DisputeStatus_' + data + '" class="cls-disputeToggle" onchange=DisputeResolved(' + data + ')><span class="slider round"></span></label>';
                                }

                            }
                        },
                        {
                            "data": "ContractId",
                            "render": function (data, type, full, meta) {
                                return '<a href="#" class="btn btn-primary btn-sm" onclick=ViewFreelancerDetails(' + data + ');>View</a>';

                            }
                        },
                        {
                            "data": "ContractId", 
                            "render": function (data, type, full, meta) {
                                if (full.IsDisputeResolved) {
                                    $("#frelancer-Refund_" + data).attr('disabled', true);
                                    $("#frelancer-Refund_" + data).css("cursor", "not-allowed");
                                    $("#frelancer-Refund_" + data).css("pointer-events", "all");
                                    return '<button class="btn btn-primary btn-sm" id="frelancer-Refund_' + data + '">Refund to Freelancer</button>';
                                } else {
                                    return '<button class="btn btn-primary btn-sm" id="frelancer-Refund_' + data + '" onclick=OpenRefundPopUp(' + data + ');>Refund to Freelancer</button>';
                                }

                            }
                        },
                        {
                            "data": "ContractId",
                            "render": function (data, type, full, meta) {
                               if (full.IsDisputeResolved) {
                                    $("#client-Refund_" + data).attr('disabled', true);
                                    return '<button class="btn btn-primary btn-sm" id="client-Refund_' + data + '">Refund to Client</button>';
                               }
                               else{
                                   return '<button class="btn btn-primary btn-sm" id="client-Refund_' + data + '" onclick=OpenClientRefundPopUp(' + data + ');>Refund to Client</button>';
                               }

                            }
                        }

                    ]
                });

                $("#preloader").hide();
            },
            error: function (result) {
                $("#preloader").hide();
                showToaster("error", "Error !", "Failure");
            }
        });
    }

    function OpenRefundPopUp(Id) {

        var data = {
            ContractId: Id
        };
        $("#preloader").show();
        $.ajax({
            type: "POST",
            url: "@Url.Action("GetDisputeData", "Solutions")",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            data: JSON.stringify(data),
            success: function (result) {
                $("#RefundPopUp").modal('show')
                $("#drp-FreeLancer option:not(:first)").remove()
                $.each(result.Result, function (data, value) {
                    $("#drp-FreeLancer").append($("<option     />").val(value.FreelancerId).text(value.FreelancerName));
                });

                $("#ContractId").val(result.Result[0].ContractId);
                $("#ChargedId").val(result.Result[0].LatestChargeId);
                $("#preloader").hide();
            },
            error: function (result) {
                $("#preloader").hide();
                showToaster("error", "Error !", "Something went wrong !!");
            }
        });

    }

    function GetFreelancerConnectedId() {
        var freelancerId = $("#drp-FreeLancer").val();
        if (freelancerId != '') {
            var data = {
                FreelancerId: freelancerId
            };
            $("#preloader").show();
            $.ajax({
                type: "POST",
                url: "@Url.Action("GetFreelancerConnectedId", "Solutions")",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: JSON.stringify(data),
                success: function (result) {
                    if (result.Message == "Data Available") {
                        $("#FreelancerStripeConnectedId").val(result.Result);
                    } else {
                        showToaster("warning", "Warning !", "Something went wrong !!");
                    }
                    $("#preloader").hide();
                },
                error: function (result) {
                    $("#preloader").hide();
                    showToaster("error", "Error !", "Something went wrong !!");
                }
            });
        }
    }

    function ClosePopUpModel() {
        $("#drp-FreeLancer").val('');
        $("#Amount").val(0);
        $("#ChargedId").val("");
        $("#FreelancerStripeConnectedId").val("");
        $("#RefundPopUp").modal('hide');
        $("#ContractId").val(0);
    }

    function ResetForm() {
        $("#drp-FreeLancer").val('');
        $("#Amount").val(0);
        $("#ChargedId").val("");
    }

    function RefundUserAmount() {
        var data = {
            TransferAmount: $("#Amount").val(),
            Currency: "eur",
            StripeConnectedId: $("#FreelancerStripeConnectedId").val(),
            LatestChargeId: $("#ChargedId").val(),
            ContractId: $("#ContractId").val(),
            FreelancerId: $("#drp-FreeLancer").val(),
        };
        $("#preloader").show();
        $.ajax({
            type: "POST",
            url: "@Url.Action("RefundUserAmount", "Solutions")",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            data: JSON.stringify(data),
            success: function (result) {
                if (result.Message == "Refund Succesfully !") {
                    ResetForm()
                    showToaster("success", "Success !", result.Message);
                } else {
                    showToaster("error", "Error !", result.Message);
                }

                $("#preloader").hide();
            },
            error: function (result) {
                $("#preloader").hide();
                showToaster("error", "Error !", "Something went wrong !!");
            }
        });
    }


    function DisputeResolved(Id) {
        $("#preloader").show();
        setTimeout(function () {
            var data = {
                Id: Id,
                IsDisputeResolved: $("#DisputeStatus_" + Id).is(':checked'),
            };

            $.ajax({
                type: "POST",
                url: "@Url.Action("DisputeResolved", "Solutions")",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: JSON.stringify(data),
                success: function (result) {
                    showToaster("success", "Success !", result.Message);
                    GetDisputeList();


                    $("#preloader").hide();
                },
                error: function (result) {
                    $("#preloader").hide();
                    showToaster("error", "Error !", "Something went wrong !!");
                }
            });
        }, 2000);

    }

    function ViewFreelancerDetails(Id) {
        var data = {
            ContractId: Id,
        };
        $("#preloader").show();
        $.ajax({
            type: "POST",
            url: "@Url.Action("GetContractFreelancerList", "Solutions")",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            data: JSON.stringify(data),
            success: function (result) {
                $("#ContractUsersPopup").modal('show')
                $('#ContractUsersList').DataTable({
                    destroy: true,
                    data: result.Result,
                    "columns": [
                        { "data": "FreelancerName" },
                        { "data": "TransferAmount" },
                        {
                            "data": "CreatedDate",
                            "render": function (data, type, full, meta) {
                                if (full.CreatedDate != '0001-01-01T00:00:00') {
                                    var date = moment(data).format('DD-MM-YYYY HH:MM:SS');;
                                    return '<span>' + date + '</span>';
                                } else {
                                    return '<span></span>';
                                }

                            }
                        }
                    ]
                });
                $("#preloader").hide();



            },
            error: function (result) {
                $("#preloader").hide();
                showToaster("error", "Error !", "Something went wrong !!");
            }
        });
    }

    function CloseContractUsersPopup() {
        $("#ContractUsersPopup").modal('hide')
    }

    function OpenClientRefundPopUp(Id) {
        var data = {
            ContractId: Id
        };
        $("#preloader").show();
        $.ajax({
            type: "POST",
            url: "@Url.Action("GetClientDetailsForRefund", "Solutions")",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            data: JSON.stringify(data),
            success: function (result) {
                if (result.Result != null) {
                    var data = result.Result;
                    $("#ClientRefundPopup").modal('show')
                    $("#ClientName").val(data.ClientName);
                    $("#ClientChargedId").val(data.LatestChargeId);
                    $("#ClientContractId").val(data.ContractId);
                }
                else {
                    showToaster("error", "Error !", result.Message);
                }
                $("#preloader").hide();
            },
            error: function (result) {
                $("#preloader").hide();
                showToaster("error", "Error !", "Something went wrong !!");
            }
        });
    }

    function RefundClientAmount(){
        var data = {
            ClientName: $("#ClientName").val(),
            TransferAmount: $("#ClientAmount").val(),
            LatestChargeId: $("#ClientChargedId").val(),
            ContractId: $("#ClientContractId").val(),
            Currency: "eur"
        };
        $("#preloader").show();
        $.ajax({
            type: "POST",
            url: "@Url.Action("RefundClientAmount", "Solutions")",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            data: JSON.stringify(data),
            success: function (result) {
                if (result.Message == "Refund Succesfully !") {
                    CloseClientRefundPopUpModel()
                    showToaster("success", "Success !", result.Message);
                } else {
                    showToaster("error", "Error !", result.Message);
                }

                $("#preloader").hide();
            },
            error: function (result) {
                $("#preloader").hide();
                showToaster("error", "Error !", "Something went wrong !!");
            }
        });
    }

    function CloseClientRefundPopUpModel(){
        $("#ClientName").val("");
        $("#ClientAmount").val(0);
        $("#ClientChargedId").val("");
        $("#ClientContractId").val(0);
         $("#ClientRefundPopup").modal('hide')
    }
</script>