@{
    ViewData["Title"] = "Solutions Page";
}
<main id="main" class="main">
    <div class="row">
        <!-- Recent Sales -->
        <div class="col-12">
            <div class="card recent-sales overflow-auto">

                <div class="card-body">
                    <h5 class="card-title">Solutions <span>| Total</span></h5>

                    <a class="btn btn-brand m-2" onclick="OpenAddIndustriesModalPopup();">Create Solution</a>

                    <table class="table table-borderless datatable" id="solutionList">
                        <thead>
                            <tr>
                                <th scope="col">Id</th>
                                <th scope="col">Title</th>
                                <th scope="col">Sub Title</th>
                                <th scope="col">Description</th>
                                <th scope="col">Image</th>
                                <th scope="col">Services</th>
                                <th scope="col">Industries</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div><!-- End Recent Sales -->
    </div>

    
</main>
<script>
    $(function () {
        GetSolutionList()
        $(".chosen-select").chosen();
        BindServices()
        BindIndustries()
    });
    function GetSolutionList() {
        $.ajax({
            type: "Get",
            url: "@Url.Action("GetSolutionsList", "Solutions")",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (result) {
                $('#solutionList').DataTable({
                    destroy: true,
                    data: result.Result,
                    "columns": [
                        {
                            "data": "Id",
                            "className": "cls-Solution"
                        },
                        { "data": "Title" },
                        { "data": "SubTitle" },
                        { "data": "Description" },
                        {
                            "data": "ImageUrlWithSas",
                            "render": function (data, type, row) {
                                return '<img src="' + data + '" alt="Image" height="70" width="150" />';
                            }
                        },
                        { "data": "Services" },
                        { "data": "Industries" },
                        {
                            "data": "Id",
                            "render": function (data, type, row) {
                                return '<a class="btn btn-danger btn-sm" style="color: white;" onclick=DeleteSolution("' + row.ImageUrlWithSas + '","' + row.ImagePath + '",' + row.Id + ')>Delete</a>';
                                
                            }
                        }

                    ]
                });


            },
            error: function (result) {
                alert("failure");
            }
        });
    }

    

    function DeleteSolution(ImageUrlWithSas,ImagePath,Id) {

        if (confirm('Are you sure want to delete solution?')) {
            var ServiceData = {
                Id: Id,
                ImagePath: ImagePath,
                ImageUrlWithSas: ImageUrlWithSas

            };
            $.ajax({
                type: "POST",
                url: "@Url.Action("DeleteSolutions", "Solutions")",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: JSON.stringify(ServiceData),
                success: function (result) {
                    alert(result.Message);
                    GetSolutionList();

                },
                error: function (result) {
                    alert("Error occured..");
                }
            });
        }
    }

    function CloseAddIndustriesModalPopup() {
        $("#addSolutionModal").modal('hide')
    }
    function OpenAddIndustriesModalPopup() {
        $("#addSolutionModal").modal('show')
    }

    function BindServices() {
        $.ajax({
            type: "Get",
            url: "@Url.Action("GetServices", "Lookup")",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (result) {
                $.each(result.Result, function (data, value) {
                    $("#drp-services").append($("<option     />").val(value.Id).text(value.ServicesName));
                })
                $('#drp-services').trigger('chosen:updated');
            },
            error: function (result) {
                alert("failure");
            }
        });
    }

    function BindIndustries() {
        $.ajax({
            type: "Get",
            url: "@Url.Action("GetIndustries", "Lookup")",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (result) {
                $.each(result.Result, function (data, value) {
                    $("#drp-industries").append($("<option     />").val(value.Id).text(value.IndustryName));
                })
                $('#drp-industries').trigger('chosen:updated');
            },
            error: function (result) {
                alert("failure");
            }
        });
    }

    $('#solutionList').on('click', '.cls-Solution', function () {
        var serviceId = $(this).closest('tr').find('td:eq(0)').text();
        serviceId = parseInt(serviceId)

        var ServiceData = {
            Id: serviceId,
        };
        $.ajax({
            type: "POST",
            url: "@Url.Action("GetSolutiondataById", "Solutions")",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            data: JSON.stringify(ServiceData),
            success: function (result) {
                if (result != null) {
                    $("#addSolutionModal").modal('show')
                    $("#solution-img").remove()
                    $("#SolutionId").val(result.Result.Id)
                    $("#SolutionTitle").val(result.Result.Title)
                    $("#Solution_SubTitle").val(result.Result.SubTitle)
                    $("#SolutionDescription").val(result.Result.Description)
                    $("#ImagePath").val(result.Result.ImagePath)
                    $("#solutionImagepreview").find("span").first().remove();
                    $('#solutionImagepreview').show();
                    var span = document.createElement('span');
                    span.innerHTML =
                        ['<img class="SolutionImage" src="', result.Result.ImageUrlWithSas, '" style="height:200px;width:200px;"/>']
                            .join('');
                    document.getElementById('solutionImagepreview').insertBefore(span, null);
                    var industryvalues = new Array();
                    var servicesvalues = new Array();

                    $.each(result.IndustryResult, function (index, value) {
                        industryvalues.push(value.IndustryId)
                    });

                    $.each(result.ServiceResult, function (index, value) {
                        servicesvalues.push(value.ServicesId)
                    });
                    console.log(industryvalues)
                    console.log(servicesvalues)
                    $('#drp-services').val(servicesvalues).trigger('chosen:updated');
                    $('#drp-industries').val(industryvalues).trigger('chosen:updated');
                }

            },
            error: function (result) {
                alert("Error occured..");
            }
        });
    });

   
</script>