@{
    ViewData["Title"] = "Solutions Page";
}

<main id="main" class="main">
    <div class="row">
        <!-- Recent Sales -->
        <div class="col-12">
            <div class="card recent-sales overflow-auto">

                <div class="card-body">
                    <h5 class="card-title">Solutions <span>| Total</span></h5>

                    <a class="btn btn-brand m-2" onclick="OpenAddIndustriesModalPopup();">Create Solution</a>

                    <table class="table table-borderless datatable" id="solutionList">
                        <thead>
                            <tr>
                                <th scope="col">Id</th>
                                <th scope="col">Title</th>
                                <th scope="col">Sub Title</th>
                                <th scope="col">Description</th>
                                @*<th scope="col">Services</th>
                                <th scope="col">Industries</th>*@
                                <th></th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div><!-- End Recent Sales -->
    </div>

    <div class="modal fade" id="addSolutionModal" tabindex="-1" aria-labelledby="addSolutionModal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Create Solution</h4>
                    <a class="close" data-dismiss="#addSolutionModal" onclick="CloseAddIndustriesModalPopup();"><i class="bi bi-x-circle"></i></a>
                </div>
                <div class="modal-body p-0">
                    <div class="row">
                        <div class="col">
                            <div class="card">
                                <div class="card-body">
                                    @*<h5 class="card-title">Vertical Form</h5>*@

                                    <!-- Vertical Form -->
                                    <!-- Vertical Form -->
                                    <form class="row g-3 mt-3" name="addSolutionForm">
                                        <input type="hidden" id="SolutionId" value="0">
                                        <div class="col-12">
                                            <label for="SolutionTitle" class="form-label">Solution Title</label>
                                            <div class="input-group">
                                                <input type="text" class="form-control" id="SolutionTitle" name="SolutionTitle">
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <label for="Solution_SubTitle" class="form-label">Solution SubTitle</label>
                                            <div class="input-group">
                                                <input type="text" class="form-control" id="Solution_SubTitle" name="Solution_SubTitle">
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <label for="SolutionDescription" class="form-label">Solution Description</label>
                                            <div class="input-group">
                                                <textarea class="form-control" id="SolutionDescription" name="SolutionDescription" style="height:100px;"></textarea>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <label for="SolutionImage" class="form-label">Image</label>
                                            <div class="input-group">
                                                <input type="file" class="form-control" id="SolutionImage" name="SolutionImage">
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <label for="Services" class="form-label">Services</label>
                                            <div class="input-group">
                                                <select id="Services" multiple="multiple" class="form-control px-lg-4 cls-drp-services" name="Services" title="--Select Services--">
                                                    <option value="0">All Services</option>
                                                    <option value="1">AI Strategy and Consulting</option>
                                                    <option value="2">AI Engineering</option>
                                                    <option value="3">AI Data Science and Analytics</option>
                                                    <option value="4">AI Operations</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <label for="Industries" class="form-label">Industries</label>
                                            <div class="input-group">
                                                <select id="Industries" multiple="multiple" class="form-control px-lg-4" name="Industries" title="--Select Industry--">
                                                    <option value="0">All Industies</option>
                                                    <option value="1">Retail</option>
                                                    <option value="2">Finance</option>
                                                    <option value="3">Healthcare</option>
                                                    <option value="4">Manufacturing </option>
                                                    <option value="5">Marketing</option>
                                                    <option value="6">Real Estate</option>
                                                    <option value="5">Energy</option>
                                                    <option value="8">Education</option>
                                                    <option value="9">Other Industries</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="text-center">
                                            <button type="submit" class="btn btn-brand">Submit</button>
                                            <button type="reset" class="btn btn-secondary" onclick="ResetForm();">Reset</button>
                                        </div>
                                    </form><!-- Vertical Form -->

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<script>
    $(document).ready(function () {
        $('#Services').multiSelect();
        $('#Industries').multiSelect();
    });
    $(function () {
        $("form[name='addSolutionForm']").validate({
            rules: {
                SolutionTitle: { required: true },
                Solution_SubTitle: { required: true },
                SolutionDescription: { required: true },
                SolutionImage: { required: true }
            },
            messages: {
                SolutionTitle: { required: "Please enter solution title" },
                Solution_SubTitle: { required: "Please enter sub title" },
                SolutionDescription: { required: "Please enter description" },
                SolutionImage: { required: "Please chhose an image" }
            },
            errorPlacement: function (error, element) {
                if (element.parent('.input-group').length) {
                    error.insertAfter(element.parent());
                }
                else {
                    error.insertAfter(element);
                }
            },
            submitHandler: function (form) {
                addSolution()
            }
        });
        GetSolutionList()
    });

    function addSolution() {
        var SolutionData = {
            Id: $("#SolutionId").val(),
            Title: $("#SolutionTitle").val(),
            SubTitle: $("#Solution_SubTitle").val(),
            Description: $("#SolutionDescription").val(),
            //Image: $("#SolutionImage").val(),
            solutionServices: $("#Services").val(),
            solutionIndustries: $("#Industries").val()
        };
        $.ajax({
            type: "POST",
            url: "@Url.Action("AddorEditSolution", "Solutions")",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            data: JSON.stringify(SolutionData),
            success: function (result) {
                alert(result.Message)
                ResetForm()
                GetSolutionList()
            },
            error: function (result) {
                alert("Error occured..");
            }
        });
    }

    function GetSolutionList() {
        $.ajax({
            type: "Get",
            url: "@Url.Action("GetSolutionsList", "Solutions")",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (result) {
                $('#solutionList').DataTable({
                    destroy: true,
                    data: result.Result,
                    "columns": [
                        {
                            "data": "Id",
                            "className": "cls-Solution"
                        },
                        { "data": "Title" },
                        { "data": "SubTitle" },
                        { "data": "Description" },
                        //{ "data": "Services" },
                        //{ "data": "Industry" }
                        {
                            "data": "Id",
                            "render": function (data, type, row) {
                                return '<a class="btn btn-danger btn-sm" style="color: white;" onclick=DeleteSolution(' + data + ') disabled>Delete</a>';
                            }
                        }

                    ]
                });


            },
            error: function (result) {
                alert("failure");
            }
        });
    }

    function ResetForm() {
        $("#SolutionTitle").val("");
        $("#Solution_SubTitle").val("");
        $("#SolutionDescription").val("");
        $("#SolutionImage").val("");
        $("#Services").val("");
        $("#Industries").val("");
        $("#addSolutionModal").modal('hide'),
        $("#SolutionId").val(0)
    }

    function DeleteSolution(Id) {
        if (confirm('Are you sure want to delete solution?')) {
            var ServiceData = {
                Id: Id,
                Title: $("#SolutionTitle").val(),
                SubTitle: $("#Solution_SubTitle").val(),
                Description: $("#SolutionDescription").val(),
                //Image: $("#SolutionImage").val(),
                solutionServices: $("#Services").val(),
                solutionIndustries: $("#Industries").val()
            };
            $.ajax({
                type: "POST",
                url: "@Url.Action("DeleteSolutions", "Solutions")",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: JSON.stringify(ServiceData),
                success: function (result) {
                    alert(result.Message);
                    GetSolutionList();

                },
                error: function (result) {
                    alert("Error occured..");
                }
            });
        }
    }

    function CloseAddIndustriesModalPopup() {
        $("#addSolutionModal").modal('hide')
    }
    function OpenAddIndustriesModalPopup() {
        $("#addSolutionModal").modal('show')
        // BindServices()
    }

    function BindServices() {
        $.ajax({
            type: "Get",
            url: "@Url.Action("GetServices", "Lookup")",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (result) {
                $.each(result.Result, function (data, value) {
                    $(".multi-select-menuitems").append($("<option></option>").val(value.Id).html(value.ServicesName));
                })
            },
            error: function (result) {
                alert("failure");
            }
        });
    }

    $('#solutionList').on('click', '.cls-Solution', function () {
        var serviceId = $(this).closest('tr').find('td:eq(0)').text();
        serviceId = parseInt(serviceId)

        var ServiceData = {
            Id: serviceId,
            Title: $("#SolutionTitle").val(),
            SubTitle: $("#Solution_SubTitle").val(),
            Description: $("#SolutionDescription").val(),
            //Image: $("#SolutionImage").val(),
            solutionServices: $("#Services").val(),
            solutionIndustries: $("#Industries").val()
        };
        $.ajax({
            type: "POST",
            url: "@Url.Action("GetSolutiondataById", "Solutions")",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            data: JSON.stringify(ServiceData),
            success: function (result) {
                alert(result.Message);
                GetSolutionList();

            },
            error: function (result) {
                alert("Error occured..");
            }
        });
    });
</script>