@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Dashboard";
    ViewData["Role"] = Context.Session.GetString("LoggedUserRole");
    ViewData["Fullname"] = Context.Session.GetString("FullName");
    ViewData["Level"] = @Context.Session.GetString("LoggedUserLevel");
}

<style>
        .progressContainer {
        position: relative;
        height: fit-content;
        margin: 0 auto;
        overflow: hidden;
        padding: 2rem;
        color: var(--font - title);
        }

        #hidden_item{
            display:none;
        }

.dashboard .material_scroll::-webkit-scrollbar-track{
	-webkit-box-shadow: none;
	border-radius: 10px;
	background-color: none;
}

.dashboard .material_scroll::-webkit-scrollbar
{
	width: 7px;
    height:7px;
	background-color: none;
}

.dashboard .material_scroll::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-color: #d38b4e;
}

/* firefox */
.dashboard .material_scroll {
  scrollbar-width: thin;
  border-radius: 10px;
  scrollbar-color: #d38b4e transparent;
}
</style>

<main id="main" class="main cls-fixed-common">

    <div class="pagetitle">
        <h1>Dashboard</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/Home/Index">Home</a></li>
                <li class="breadcrumb-item active">Dashboard</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="section dashboard">
        <div class="row">

            <!-- Left side columns -->
            <div class="col-lg-8">
                <div class="row">

                    <!-- Sales Card -->
                    <div class="col-xxl-4 col-md-6">
                        <div class="card info-card sales-card">

                            <div class="filter">
                                <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                                    <li class="dropdown-header text-start">
                                        <h6>Filter</h6>
                                    </li>

                                    <li><a class="dropdown-item" href="#">Today</a></li>
                                    <li><a class="dropdown-item" href="#">This Month</a></li>
                                    <li><a class="dropdown-item" href="#">This Year</a></li>
                                </ul>
                            </div>

                            <div class="card-body">
                                <h5 class="card-title">Projects <span>| This Year</span></h5>

                                <div class="d-flex align-items-center">
                                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                        <i class="bi bi-cart"></i>
                                    </div>
                                    <div class="ps-3">
                                        <h6>145</h6>
                                        <span class="text-success small pt-1 fw-bold">12%</span> <span class="text-muted small pt-2 ps-1">increase</span>

                                    </div>
                                </div>
                            </div>

                        </div>
                    </div><!-- End Sales Card -->
                    <!-- Revenue Card -->
                    <div class="col-xxl-4 col-md-6">
                        <div class="card info-card revenue-card">

                            <div class="filter">
                                <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                                    <li class="dropdown-header text-start">
                                        <h6>Filter</h6>
                                    </li>

                                    <li><a class="dropdown-item" href="#">Today</a></li>
                                    <li><a class="dropdown-item" href="#">This Month</a></li>
                                    <li><a class="dropdown-item" href="#">This Year</a></li>
                                </ul>
                            </div>

                            <div class="card-body">
                                <h5 class="card-title">Revenue <span>| This Month</span></h5>

                                <div class="d-flex align-items-center">
                                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                        <i class="bi bi-currency-dollar"></i>
                                    </div>
                                    <div class="ps-3">
                                        <h6>$3,264</h6>
                                        <span class="text-success small pt-1 fw-bold">8%</span> <span class="text-muted small pt-2 ps-1">increase</span>

                                    </div>
                                </div>
                            </div>

                        </div>
                    </div><!-- End Revenue Card -->
                    <!-- Customers Card -->
                    <div class="col-xxl-4 col-xl-12">

                        <div class="card info-card customers-card">

                            <div class="filter">
                                <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                                    <li class="dropdown-header text-start">
                                        <h6>Filter</h6>
                                    </li>

                                    <li><a class="dropdown-item" href="#">Today</a></li>
                                    <li><a class="dropdown-item" href="#">This Month</a></li>
                                    <li><a class="dropdown-item" href="#">This Year</a></li>
                                </ul>
                            </div>

                            <div class="card-body">
                                <h5 class="card-title">Customers <span>| This Year</span></h5>

                                <div class="d-flex align-items-center">
                                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                        <i class="bi bi-people"></i>
                                    </div>
                                    <div class="ps-3">
                                        <h6>1244</h6>
                                        <span class="text-danger small pt-1 fw-bold">12%</span> <span class="text-muted small pt-2 ps-1">decrease</span>

                                    </div>
                                </div>

                            </div>
                        </div>

                    </div><!-- End Customers Card -->
                    <!-- Recent Openings -->
                    <div class="col-12 only_freelancer">
                        <div class="card recent-sales overflow-auto material_scroll">

                            <div class="filter" style="display: none;">
                                <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                                    <li class="dropdown-header text-start">
                                        <h6>Filter</h6>
                                    </li>

                                    <li><a class="dropdown-item" href="#">Today</a></li>
                                    <li><a class="dropdown-item" href="#">This Month</a></li>
                                    <li><a class="dropdown-item" href="#">This Year</a></li>
                                </ul>
                            </div>

                            <div class="card-body">
                                <h5 class="card-title">Recent Opening</h5>
                                <table class="table table-borderless datatable" id="table-OpenRoles">
                                    <thead>
                                        <tr>
                                            <th scope="col">Id</th>
                                            <th scope="col">Service</th>
                                            <th scope="col">Solution</th>
                                            <th scope="col">Title</th>
                                            <th scope="col">Level</th>
                                            <th scope="col">Industry</th>
                                            <th scope="col" class="cls-RolesId"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                                <div class="d-flex justify-content-center">
                                    <a href="~/LandingPage/OpenGigRoles" class="view_action_Link">View All Roles</a>
                                </div>
                            </div>

                        </div>
                    </div><!-- End Recent Sales -->
                    <!-- Top Selling -->
                    <div class="col-12">
                        <div class="card top-selling overflow-auto material_scroll">
                            <div class="card-body pb-0" style="height:303px;">
                                <h5 class="card-title">Approved Positions - Authorized for Project Requests</h5>
                                <table class="table table-borderless" id="ApprovedList">
                                    <thead>
                                        <tr>
                                            <th scope="col" id="hidden_item">Id</th>
                                            <th scope="col">Service</th>
                                            <th scope="col">Solution</th>
                                            <th scope="col" id="hidden_item">Title</th>
                                            <th scope="col">Level</th>
                                            <th scope="col">Industry</th>
                                            <th scope="col">Delete</th>
                                            <th scope="col"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>

                            </div>

                        </div>
                    </div><!-- End Top Selling -->

                </div>
            </div><!-- End Left side columns -->
            <!-- Right side columns -->
            <div class="col-lg-4">

                <!-- Recent Activity -->
                <div class="card">
                    <div class="filter">
                        <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                            <li class="dropdown-header text-start">
                                <h6>Filter</h6>
                            </li>

                            <li><a class="dropdown-item" href="#">Today</a></li>
                            <li><a class="dropdown-item" href="#">This Month</a></li>
                            <li><a class="dropdown-item" href="#">This Year</a></li>
                        </ul>
                    </div>

                    <div class="card-body">
                        <h5 class="card-title">Recent Activity <span>| Today</span></h5>

                        <div class="activity">

                            <div class="activity-item d-flex">
                                <div class="activite-label">32 min</div>
                                <i class='bi bi-circle-fill activity-badge text-success align-self-start'></i>
                                <div class="activity-content">
                                    Quia quae rerum <a href="#" class="fw-bold text-dark">explicabo officiis</a> beatae
                                </div>
                            </div><!-- End activity item-->

                            <div class="activity-item d-flex">
                                <div class="activite-label">56 min</div>
                                <i class='bi bi-circle-fill activity-badge text-danger align-self-start'></i>
                                <div class="activity-content">
                                    Voluptatem blanditiis blanditiis eveniet
                                </div>
                            </div><!-- End activity item-->

                            <div class="activity-item d-flex">
                                <div class="activite-label">2 hrs</div>
                                <i class='bi bi-circle-fill activity-badge text-primary align-self-start'></i>
                                <div class="activity-content">
                                    Voluptates corrupti molestias voluptatem
                                </div>
                            </div><!-- End activity item-->

                            <div class="activity-item d-flex">
                                <div class="activite-label">1 day</div>
                                <i class='bi bi-circle-fill activity-badge text-info align-self-start'></i>
                                <div class="activity-content">
                                    Tempore autem saepe <a href="#" class="fw-bold text-dark">occaecati voluptatem</a> tempore
                                </div>
                            </div><!-- End activity item-->

                            <div class="activity-item d-flex">
                                <div class="activite-label">2 days</div>
                                <i class='bi bi-circle-fill activity-badge text-warning align-self-start'></i>
                                <div class="activity-content">
                                    Est sit eum reiciendis exercitationem
                                </div>
                            </div><!-- End activity item-->

                            <div class="activity-item d-flex">
                                <div class="activite-label">4 weeks</div>
                                <i class='bi bi-circle-fill activity-badge text-muted align-self-start'></i>
                                <div class="activity-content">
                                    Dicta dolorem harum nulla eius. Ut quidem quidem sit quas
                                </div>
                            </div><!-- End activity item-->

                        </div>

                    </div>
                </div><!-- End Recent Activity -->
                <!-- News & Updates Traffic -->
                <div class="card news_card">
                    <div class="filter">
                        <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                            <li class="dropdown-header text-start">
                                <h6>Filter</h6>
                            </li>

                            <li><a class="dropdown-item" href="#">Today</a></li>
                            <li><a class="dropdown-item" href="#">This Month</a></li>
                            <li><a class="dropdown-item" href="#">This Year</a></li>
                        </ul>
                    </div>

                    <div class="card-body pb-0">
                        <h5 class="card-title">News &amp; Updates <span>| Today</span></h5>

                        <div class="news">
                            <div class="post-item clearfix">
                                <img src="~/assets/img/news-1.jpg" alt="">
                                <h4><a href="#">Nihil blanditiis at in nihil autem</a></h4>
                                <p>Sit recusandae non aspernatur laboriosam. Quia enim eligendi sed ut harum...</p>
                            </div>

                            <div class="post-item clearfix">
                                <img src="~/assets/img/news-2.jpg" alt="">
                                <h4><a href="#">Quidem autem et impedit</a></h4>
                                <p>Illo nemo neque maiores vitae officiis cum eum turos elan dries werona nande...</p>
                            </div>

                            <div class="post-item clearfix">
                                <img src="~/assets/img/news-3.jpg" alt="">
                                <h4><a href="#">Id quia et et ut maxime similique occaecati ut</a></h4>
                                <p>Fugiat voluptas vero eaque accusantium eos. Consequuntur sed ipsam et totam...</p>
                            </div>

                            <div class="post-item clearfix">
                                <img src="~/assets/img/news-4.jpg" alt="">
                                <h4><a href="#">Laborum corporis quo dara net para</a></h4>
                                <p>Qui enim quia optio. Eligendi aut asperiores enim repellendusvel rerum cuder...</p>
                            </div>

                            <div class="post-item clearfix">
                                <img src="~/assets/img/news-5.jpg" alt="">
                                <h4><a href="#">Et dolores corrupti quae illo quod dolor</a></h4>
                                <p>Odit ut eveniet modi reiciendis. Atque cupiditate libero beatae dignissimos eius...</p>
                            </div>

                        </div><!-- End sidebar recent posts-->

                    </div>
                </div><!-- End News & Updates -->

            </div><!-- End Right side columns -->

        </div>
    </section>
    <div id="preloader" style="display:none;"></div>
</main><!-- End #main -->

<div class="modal fade" id="GigOpeningApplyModal" tabindex="-1" aria-labelledby="GigOpeningApplyModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div id="preloader" style="display:none;"></div>
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title main-title">Apply For Gig Role</h4>
                <a class="close" data-dismiss="#GigOpeningApplyModal" onclick="CloseGigOpeningApplyModal();"><i class="bi bi-x-circle"></i></a>
            </div>
            <div class="modal-body p-0">
                <div class="row">
                    <div class="col">
                        <div class="card">
                            <div class="card-body">
                                @*<h5 class="card-title">Vertical Form</h5>*@

                                <!-- Vertical Form -->
                                <!-- Vertical Form -->
                                <form class="row g-3 mt-3" name="GigOpeningApplyForm">
                                    <input type="hidden" id="gigRole_id" value="0">
                                    <input type="hidden" id="user-CvPath" value="">
                                    <div class="col-12">
                                        <label for="Description" class="form-label">Role Description</label>
                                        <div class="input-group">
                                            <textarea type="text" class="form-control" id="RoleDescription" name="RoleDescription" style="height:330px;resize: vertical !important;" disabled></textarea>
                                        </div>
                                    </div>
                                    <div class="col-12" id="resume-div">
                                        <label for="CVPath" class="form-label">Upload CV</label>
                                        <div class="col-12 d-flex">
                                            <input type="hidden" id="ChangeCvUpload" value="true"/>
                                            <div class="input-group">
                                                <input class="form-control" type="file" id="CVPath" name="CVPath" accept=".pdf,.docx" style="max-height:37px;" onchange="getFileData(this);">
                                            </div>
                                        </div>
                                        <div class="input-group pt-3" style="display:none" id="dwld-resume">
                                             <a onclick="DownloadCv()" class="cls-resume-dwld">Download resume</a>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="col-12 d-flex">
                                            <div class="input-group">
                                                <input class="file-preview" type="text" id="filePreview" readonly>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <label for="Description" class="form-label">Additional Information</label>
                                        <div class="input-group">
                                            <textarea type="text" class="form-control" id="Description" name="Description" style="height:150px;resize: vertical !important;"></textarea>
                                        </div>
                                    </div>
                                    <div class="text-center">
                                        <button type="submit" class="btn btn-brand">Submit</button>
                                        <button class="btn btn-secondary" onclick="clearApplyForm();" type="button">Reset</button>
                                    </div>
                                </form><!-- Vertical Form -->

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<div class="modal" id="DetailsPopModal" tabindex="-1" aria-labelledby="DetailsPopModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title main-title">Details</h4>
                <a class="close" onclick="ResetDetailsForm();"><i class="bi bi-x-circle"></i></a>
            </div>
            <div class="modal-body p-0">
                <div class="row">
                    <div class="col">
                        <div class="card">
                            <div class="card-body">
                                <div class="d-flex justify-content-end">
                                    <a href="" class="cls-milestone-popup" id="clsGuidelineModal" data-bs-toggle="modal" data-bs-target="#guidelineModal">View Guidelines</a>
                                </div>
                                <input type="hidden" id="SolutionId" value="0">
                                <input type="hidden" id="IndustryId" value="0">
                                <input type="hidden" id="ProjectOulineId" value="0">

                                <div class="form-group pt-3">
                                    <label for="ProjectType"> Select Project Type </label>
                                    <select class="form-select" name="ProjectType" id="ProjectType">
                                        <option value="SMALL">Small</option>
                                        <option value="MEDIUM">Medium</option>
                                        <option value="LARGE">Large</option>
                                    </select>
                                </div>

                                <div class="form-group pt-3">
                                    <label for="projectDetails">Project Details</label>
                                    @*<input type="text" class="form-control" id="industry-ProjectDetails" name="ProjectDetails" placeholder="Project Details">*@
                                    <textarea id="industry-ProjectDetails" class="form-control" name="ProjectDetails" rows="4" cols="50" style="resize:vertical !important;"></textarea>
                                </div>

                                <div class="form-group pt-3">
                                    <label for="Description">Project Outline</label>
                                    <textarea id="industry-ProjectOutline" class="form-control" name="ProjectOutline" rows="4" cols="50" style="resize:vertical !important;"></textarea>
                                </div>

                                <div class="form-group pt-3">
                                    <label for="ProjectDuration">Project Duration</label>
                                    <input type="text" class="form-control" id="industry-ProjectDuration" name="ProjectDuration" placeholder="Project Duration">
                                </div>

                                <div class="form-group pt-3">
                                    <label for="TeamSize">Team Size</label>
                                    <input type="text" class="form-control" id="industry-TeamSize" name="TeamSize" value="2" readonly>
                                </div>

                                <div class="form-group pt-3">
                                    <button type="button" class="btn btn-primary" onclick="OpenMileStonePopup()">Add Milestone</button>
                                    <button type="button" class="btn btn-primary" onclick="OpenPointsPopup()">Add Highlights</button>
                                </div>

                                <div id="MileStonediv" style="padding-top: 3%;">
                                    <label for="mileStone" class="cls-table-label">Milestones Grid</label>
                                    <table class="table" id="MileStoneTable">
                                        <thead style="border: 1px solid #e8e8e8;">
                                            <tr>
                                                <th>Id</th>
                                                <th>Description</th>
                                                <th>Title</th>
                                                <th>Days</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody class="MileStonebody">
                                        </tbody>
                                    </table>
                                </div>

                                <div id="Pointsdiv" style="padding-top: 3%;">
                                    <label for="points" class="cls-table-label">Highlights Grid</label>
                                    <table class="table" id="PointsTable">
                                        <thead style="border: 1px solid #e8e8e8;">
                                            <tr>
                                                <th>Id</th>
                                                <th>Label</th>
                                                <th>Value</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>

                                <div class="form-group pt-3">
                                    <button type="button" class="btn btn-brand" onclick="SaveSolutionIndustryDescription()">Submit</button>
                                    <button type="button" class="btn btn-secondary" onclick="ResetDetailsForm()">Close</button>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="modal" id="MileStonePopModal" tabindex="-1" aria-labelledby="MileStonePopModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title main-title">Add Milestone</h4>
                <a class="close" onclick="ResetMileStoneForm();"><i class="bi bi-x-circle"></i></a>
            </div>
            <div class="modal-body p-0">
                <div class="row">
                    <div class="col">
                        <div class="card">
                            <div class="card-body">
                                <form class="row g-3 mt-3" name="MileStoneForm">
                                    <input type="hidden" id="MileStoneId" value="0" />
                                    <div class="col-12">
                                        <label for="Title" class="form-label">Title</label>
                                        <div class="input-group">
                                            <input type="text" id="mileStoneTitle" class="form-control" name="milestonetitle" />
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <label for="Description" class="form-label">Description</label>
                                        <div class="input-group">
                                            <input type="text" id="mileStoneDescription" class="form-control" name="milestonedescription" />
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <label for="Days" class="form-label">Days</label>
                                        <div class="input-group">
                                            <input type="text" id="txtMilestoneDays" class="form-control" name="txtMilestoneDays" />
                                        </div>
                                    </div>
                                    <div class="col-12" style="display:none;">
                                        <label for="dueDate" class="form-label">Due Date</label>
                                        <div class="input-group">
                                            @*<input type="text" id="mileStonedueDate" class="form-control" name="milestoneduedate" />*@
                                            <input type="date" id="mileStonedueDate" class="form-control" name="milestoneduedate">
                                        </div>
                                    </div>
                                    <div class="text-center">
                                        <button type="submit" class="btn btn-brand">Submit</button>
                                        <button class="btn btn-secondary" onclick="ResetMileStoneForm();">Reset</button>
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="modal" id="PointsPopModal" tabindex="-1" aria-labelledby="PointsPopModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title main-title">Add Highlights</h4>
                <a class="close" onclick="ResetPointsForm();"><i class="bi bi-x-circle"></i></a>
            </div>
            <div class="modal-body p-0">
                <div class="row">
                    <div class="col">
                        <div class="card">
                            <div class="card-body">
                                <form class="row g-3 mt-3" name="PointsForm">
                                    <input type="hidden" id="PointsId" value="0" />
                                    <div class="col-12">
                                        <label for="points" class="form-label">Label</label>
                                        <div class="input-group">
                                            <input type="text" id="pointsKey-id" class="form-control" name="pointsKey" />
                                        </div>
                                    </div>

                                     <div class="col-12">
                                        <label for="points" class="form-label">Value</label>
                                        <div class="input-group">
                                            <input type="text" id="pointsValue-id" class="form-control" name="pointsValue" />
                                        </div>
                                    </div>
                                    <div class="text-center">
                                        <button type="submit" class="btn btn-brand">Submit</button>
                                        <button class="btn btn-secondary" onclick="ResetPointsForm();">Reset</button>
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- GuidelineModal Modal -->
    <div class="modal fade" id="guidelineModal" tabindex="-1" aria-labelledby="guidelineModal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Guidelines</h4>
                    <a class="close" data-dismiss="#guidelineModal" onclick="hideGuidelinesModal();"><i class="bi bi-x-circle"></i></a>
                </div>
                <div class="modal-body p-0">
                    <div class="progressContainer d-flex flex-column">
                        <ol class="px-4">
                            <li data-aos="fade-up" data-aos-delay="100" class="list-title-size">
                                <h3 class="list-title-size">Before You Dive In</h3>
                                <p class="section-detail-size">This document has been designed as a reference for Project Architects. It offers guidelines for creating the “Project Outline”, "Project Details", “Milestones” and “Project Highlights” sections for predefined solutions. Predefined solutions refer to small, medium, and large projects. Custom projects, on the other hand, are not required to be defined by the project architect, as they will be determined later through communication with the client.
                                </p>
                                <h4 class="section-title-size">
                                    Team size will be determined based on the project scale:
                                </h4>
                                <ul>
                                    <li class="section-detail-size">
                                        Small : 1 Project Manager + 1 Associate
                                    </li>
                                    <li class="section-detail-size">
                                        Medium : 1 Project Manager + 1 Expert + 1 Associate
                                    </li>
                                    <li class="section-detail-size">
                                        Large : 1 Project Leader + 2 Experts + 2 Associates
                                    </li>
                                    <li class="section-detail-size">
                                        Custom projects : Team size and timelines will be selected based on client preferences.
                                    </li>
                                </ul>
                                <p class="section-detail-size">Although we typically suggest maintaining a uniform duration for predefined projects, regardless of whether they are small, medium, or large, it's important to consider that larger projects, given their increased complexity, might not only require a larger team of freelancers, but also an extended timeline for completion. The platform has a word limit for displaying information, Project Architects should stay within that limit and include all relevant information. All relevant information should be adjusted based on the size of each project - small, medium, or large - and populated accordingly. Once projects have been defined and submitted by the project Architect and approved by the admin, they can be accessed on the website by following the relevant path: / Browse Solutions / Selected Service / Selected Solution / Selected Industry. See below for a preview of how the project should be defined and identify which fields will be updated from the Project Architect's dashboard.</p>
                                <img src="~/assets/img/dashboard/choosesmall.png" class="img-fluid pt-4" alt="" style="width:100%;">
                                <p style="font-size: 15px !important;">Image 1: Defining a Small Project</p>
                                <img src="~/assets/img/dashboard/choosemedium.png" class="img-fluid pt-4" alt="" style="width:100%;">
                                <p style="font-size: 15px !important;">Image 2: Defining a Medium Project</p>
                                <img src="~/assets/img/dashboard/chooselarge.png" class="img-fluid pt-4" alt="" style="width:100%;">
                                <p style="font-size: 15px !important;">Image 3: Defining a Large Project</p>
                            </li>
                            <li data-aos="fade-up" data-aos-delay="100" class="list-title-size">
                                <h3 class="list-title-size">Project Outline</h3>
                                <ul>
                                    <li class="section-detail-size">
                                        Paragraph 1:<p>Focus on the expected benefits and outcomes of the project. Highlight any unique features or advantages that differentiate this project from others in the field.</p>
                                    </li>
                                    <li class="section-detail-size">
                                        Paragraph 2:<p>Provide an overview of the project process, mentioning any key milestones or deliverables. Ensure the summary is client-focused, communicating effectively what potential clients can expect to gain from their collaboration with freelancers on the website.</p>
                                    </li class="section-detail-size">
                                </ul>
                            </li>
                            <li data-aos="fade-up" data-aos-delay="100" class="list-title-size">
                                <h3 class="list-title-size">Project Details</h3>
                                <h4 class="section-title-size">
                                Defining the scope and requirements for an AI project involves several steps:      
                                </h4>
                                <ul>
                                    <li class="section-detail-size">
                                        Paragraph 1:<p>Identify the problem: First, identify the business problem or opportunity that the AI project will address. This can involve analysing data, identifying inefficiencies, or uncovering opportunities for automation.</p>
                                    </li>
                                    <li class="section-detail-size">
                                        Paragraph 2:<p>Determine the goals: Next, determine the goals of the project. These should be specific, measurable, and aligned with the business problem or opportunity identified in step one. For example, a goal might be to reduce customer service response time by 50%.</p>
                                    </li>
                                    <li class="section-detail-size">
                                        Paragraph 3:<p>Define the scope: Once the goals are established, define the scope of the project. This should include the data sources that will be used, the technology stack that will be employed, and any other key parameters.</p>
                                    </li>
                                    <li class="section-detail-size">
                                        Paragraph 4:<p>Define the requirements: Based on the goals and scope, define the technical requirements for the project. This may include selecting specific AI algorithms, defining data pre-processing steps, and selecting performance metrics.</p>
                                    </li>
                                    <li class="section-detail-size">
                                        Paragraph 5:<p>Prioritize requirements: Once the requirements are defined, prioritize them based on their importance to achieving the project goals. This will help ensure that the most critical features are implemented first.</p>
                                    </li>
                                    <li class="section-detail-size">
                                        Paragraph 6:<p>Develop a plan: Finally, develop a project plan that outlines the timeline, milestones, and resources required to deliver the project. This plan should be reviewed and updated regularly to ensure that the project plan stays on track.</p>
                                    </li>
                                </ul>
                            </li>
                            <li data-aos="fade-up" data-aos-delay="100" class="list-title-size">
                                <h3 class="list-title-size">Milestones</h3>
                                <h4 class="section-title-size">
                                    Milestones should be created by following the guidelines as described below:
                                </h4>
                                <ul class="section-title-size">
                                    <li data-aos="fade-up" data-aos-delay="100">
                                        <p class="section-detail-size">
                                            Identification - Identify the key deliverables and deadlines that signify progress in the project.
                                        </p>
                                    </li>
                                    <li data-aos="fade-up" data-aos-delay="100">
                                        <p class="section-detail-size">Relevance - Ensure each milestone is related directly to the project's goals and objectives.</p>
                                    </li>
                                    <li data-aos="fade-up" data-aos-delay="100">
                                        <p class="section-detail-size">
                                            Measurable - Milestones should be tangible and quantifiable so that it's clear when they have been achieved.
                                        </p>
                                    </li>
                                    <li data-aos="fade-up" data-aos-delay="100">
                                        <p class="section-detail-size">
                                            Timely - Set realistic yet ambitious timelines for each milestone to keep the project on track.
                                        </p>
                                    </li>
                                    <li data-aos="fade-up" data-aos-delay="100">
                                        <p class="section-detail-size">
                                            Review - Regularly review and update the milestones after client and freelancers’ feedback.
                                        </p>
                                    </li>
                                </ul>
                            </li>
                            <li data-aos="fade-up" data-aos-delay="100" class="list-title-size">
                                <h3 class="list-title-size">Project Highlights</h3>
                                <p class="section-detail-size">On the main box, before the “Buy” and “Message” options, the project designer should define the duration of each project and can add up to 3 summary points. These points should capture the essence of the project, its key deliverables, and client benefits.</p>
                            </li>
                        </ol>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>

<script>
    var validator;
    var pointsvalidator;
    $(function () {
        $("form[name='GigOpeningApplyForm']").validate({
            rules: {
                Description: { required: true },
                CVPath: { required: true }
            },
            messages: {
                Description: { required: "Please enter Description" },
                CVPath: { required: "Please Upload Cv" }
            },
            errorPlacement: function (error, element) {
                if (element.parent('.input-group').length) {
                    error.insertAfter(element.parent());
                }
                else {
                    error.insertAfter(element);
                }
            },
            submitHandler: function (form) {
                GigOpenRolesApply()
            }
        });


        validator = $("form[name='MileStoneForm']").validate({
            rules: {
                milestonedescription: { required: true },
                milestonetitle: { required: true },
                txtMilestoneDays: { required: true },
            },
            messages: {
                milestonedescription: { required: "Please enter description" },
                milestonetitle: { required: "please enter title" },
                txtMilestoneDays: { required: "Please enter days" }
            },
            errorPlacement: function (error, element) {
                if (element.parent('.input-group').length) {
                    error.insertAfter(element.parent());
                }
                else {
                    error.insertAfter(element);
                }
            },
            submitHandler: function (form) {
                SaveMilStoneData()
            }
        });



        pointsvalidator = $("form[name='PointsForm']").validate({
            rules: {
                pointsKey: { required: true },
                pointsValue: { required: true }
            },
            messages: {
                pointsKey: { required: "Please enter points key" },
                pointsValue : { required: "Please enter points value" }
            },
            errorPlacement: function (error, element) {
                if (element.parent('.input-group').length) {
                    error.insertAfter(element.parent());
                }
                else {
                    error.insertAfter(element);
                }
            },
            submitHandler: function (form) {
                SavePointsData()
            }
        });
        GetApprovedList()
    });


    $(document).ready(function () {

        //$('.sales-card').hide();
        //$('.revenue-card').hide();
        //$('.customers-card').hide();
        $('.news_card').hide();

        function makeTableScroll() {
            var maxRows = 5;

            var table = document.getElementById('table-OpenRoles');
            var wrapper = table.parentNode;
            var rowsInTable = table.rows.length;
            var height = 0;
            if (rowsInTable > maxRows) {
                for (var i = 0; i < maxRows + 1; i++) {
                    height += table.rows[i].clientHeight;
                }
                wrapper.style.height = height + "px";
            }

            height = 0;
            var table_Approve = document.getElementById('ApprovedList');
            var wrapper_Approve = table_Approve.parentNode;
            var rowsInTable_Approve = table_Approve.rows.length;
            var height_Approve = 0;
            if (rowsInTable_Approve > maxRows) {
                for (var i = 0; i < maxRows + 1; i++) {
                    height += table_Approve.rows[i].clientHeight;
                }
                wrapper_Approve.style.height = height + "px";
            }
        }

        $("#preloader").show();
        if ("@Context.Session.GetString("LoggedUserRole").ToString()" == "Freelancer") {
            $('.only_freelancer').show();
            $.ajax({
                type: "Get",
                url: "@Url.Action("GetRolesList", "Home")",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (result) {

                    var index = 0;
                    var subObj = '';
                    var htm = '';
                    for (index = 0; index < result.Result.length; index++) {
                        if(index <= 9){
                            subObj = result.Result[index];

                            htm += '<tr>';
                            htm += '<td class="cls-RolesId" >' + subObj.ID + '</td>';
                            htm += '<td>' + subObj.ServiceName + '</td>';
                            htm += '<td>' + subObj.SolutionName + '</td>';
                            htm += '<td>' + subObj.Title + '</td>';
                            htm += '<td>' + subObj.Level + '</td>';
                            htm += '<td>' + subObj.IndustryName + '</td>';
                            htm += '<td><a class="btn btn-success applyFor-btn pt-0 pb-1" style="color: white;" onclick="GigApply(' + subObj.ID + ')">Apply</a></td>';
                            htm += '</tr>';
                        }
                    }
                    $("#table-OpenRoles").find("tr:gt(0)").remove();
                    $("#table-OpenRoles tbody").append(htm);
                    makeTableScroll();
                    $("#preloader").hide();
                },
                error: function (result) {
                    //alert("failure");
                    showToaster("error", "Error !", "Failure");
                    $("#preloader").hide();
                }
            });
        } else {
            $('.only_freelancer').hide();
        }

        $("#ProjectType").change(function(){
            GetSolutionDefineDetails()
        });
    });

    function CloseGigOpeningApplyModal() {
        $("#GigOpeningApplyModal").modal('hide')
    }
    function OpenGigOpeningApplyModal() {
        $("#GigOpeningApplyModal").modal('show')
    }
    function clearApplyForm() {
        $("#Description").val("");
        $("#CVPath").val("");
        $('#filePreview').css("display", "none");
          //$("#dwld-resume").css("display", "none")
                    //$("#user-CvPath").val("")
    }

    function GigOpenRolesApply() {

        var filename = $("#CVPath").val();
        
        
        var validFileExtentions = /(\.pdf|\.docx)$/i;
        if (validFileExtentions.exec(filename)) {
            $('#preloader').show();
            var fileUpload = $("#CVPath").get(0);
            var files = fileUpload.files;

            var GigOpenRolesData = {
                FreelancerID: 0,
                GigOpenRoleId: $("#gigRole_id").val(),
                IsApproved: false,
                Description: $("#Description").val(),
                AlreadyExistCv : $("#ChangeCvUpload").val()
            }
            
            var formData = new FormData();
            for (var i = 0; i < files.length; i++) {
                // fileData.append(files[i].name, files[i]);
                formData.append("httpPostedFileBase", files[i]);
            }
            formData.append("GigOpenRolesData", JSON.stringify(GigOpenRolesData));

            $.ajax({
                type: "POST",
                url: "@Url.Action("ApplyForOpenGigRoles", "Home")",
                contentType: false,
                processData: false,
                data: formData,
                success: function (result) {
                    clearApplyForm();
                    $('#preloader').hide();
                    //alert(result)
                    showToaster("success", "Success", result);
                    CloseGigOpeningApplyModal();
                },
                error: function (result) {
                    clearApplyForm();
                    $('#preloader').hide();
                    //alert("failure");
                    showToaster("error", "Error !", "Failure");

                }
            });
        } else {
            //alert('You can upload only PDF or Document file..')
            showToaster("error", "Error !", "You can upload only PDF or Document file..");
            clearApplyForm();
        }
    }
    // code to read selected table row cell data (values).
    function GigApply(Id) {
        OpenGigOpeningApplyModal();
        clearApplyForm();
        $("#gigRole_id").val(Id);
        $.ajax({
            type: "post",
            url: "@Url.Action("GetRolesDataById", "LandingPage")",
            dataType: "json",
            data: { ID: Id },
            success: function (result) {
                var data = result.Result;
                $("#RoleDescription").val(data.OpenRoles.Description);
                if(data.FreelancerDetail.CVUrlWithSas != null)
                {
                    $("#dwld-resume").show()
                    $("#user-CvPath").val(data.FreelancerDetail.CVPath)
                    addNameToFile(data.FreelancerDetail.CVPath.split("/")[4])
                }
            },
            error: function (result) {
                //alert(result.Message)
                showToaster("error", "Error !", result.Message);
            }
        });
    }

      function addNameToFile(url) {
        getImgURL(url, (imgBlob) => {
            let file = new File([imgBlob], url, { type: "pdf/application", lastModified: new Date().getTime() }, 'utf-8');
            let container = new DataTransfer();
            container.items.add(file);
            document.querySelector('#CVPath').files = container.files;
        })
    }

    function getImgURL(url, callback) {
        var xhr = new XMLHttpRequest();
        xhr.onload = function () {
            callback(xhr.response);
        };
        xhr.open('GET', url);
        xhr.responseType = 'blob';
        xhr.send();
    }

    function getFileData(myFile) {
        $("#ChangeCvUpload").val(false)
        $('#filePreview').css("display", "none");
        var file = myFile.files[0];
        if (file) {
            var filename = file.name;
            $('#filePreview').css("display", "block");
            $('#filePreview').val(filename);
        }
        else {
            $('#filePreview').css("display", "none");
            $('#filePreview').val("");
        }
    }

    function GetApprovedList() {
        $("#preloader").show();
        $.ajax({
            type: "Get",
            url: "@Url.Action("GetApprovedList", "Home")",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (result) {
                var index = 0;
                var subObj = '';
                var htm = '';
                var resultLength = result.Result.length;
                if(resultLength > 0){
                    for (index = 0; index < resultLength; index++) {
                        subObj = result.Result[index];

                        htm += '<tr>';
                        htm += '<td class="cls-RolesId" id="hidden_item">' + subObj.ID + '</td>';
                        htm += '<td>' + subObj.ServiceName + '</td>';
                        htm += '<td>' + subObj.SolutionName + '</td>';
                        htm += '<td id="hidden_item">' + subObj.Title + '</td>';
                        htm += '<td class="cls-level">' + subObj.Level + '</td>';
                        htm += '<td>' + subObj.IndustryName + '</td>';
                        htm += '<td><a class="btn btn-danger pt-0 pb-1" style="color: white;" onclick=DeleteFreelancerAppliedSolution(this,' + subObj.SolutionId + ',' + subObj.IndustryId + ')>Delete</a></td>';
                        if(subObj.IsDefine){
                            htm += '<td><a class="btn btn-success applyFor-btn pt-0 pb-1" style="color: white;" onclick="OpenDetailsPopModal(' + subObj.ID + ',' + subObj.SolutionId + ',' + subObj.IndustryId + ')">Define</a></td>';
                        }
                        htm += '</tr>';
                    }
                }else{
                    htm = '<tr><td colspan="7"><center>No Data Available</center></td><tr>';
                }
                $("#ApprovedList").find("tr:gt(0)").remove();
                $("#ApprovedList tbody").append(htm);
                $("#preloader").hide();
            },
            error: function (result) {
                var htm = '<tr><td colspan="7"><center>No Data Available</center></td><tr>';
                $("#ApprovedList").find("tr:gt(0)").remove();
                $("#ApprovedList tbody").append(htm);
                showToaster("error", "Error !", "Failure");
                $("#preloader").hide();
            }
        });
    }

    function OpenDetailsPopModal(Id, SolutionId, IndustryId) {
        $("#DetailsPopModal").modal('show');
        $("#SolutionId").val(SolutionId);
        $("#IndustryId").val(IndustryId);
        GetMiletoneList();
        GetPointsList();
        GetSolutionDefineDetails();
    }

    function OpenMileStonePopup() {
        $("#MileStonePopModal").modal('show')
    }

    function SaveMilStoneData() {
        var MileStoneData = {
            Id: $("#MileStoneId").val(),
            Description: $("#mileStoneDescription").val(),
            Title: $("#mileStoneTitle").val(),
            //DueDate: $("#mileStonedueDate").val(),
            Days: $("#txtMilestoneDays").val(),
            SolutionId: $("#SolutionId").val(),
            IndustryId: $("#IndustryId").val(),
            ProjectType: $("#ProjectType").val(),
        };
        $("#preloader").show();
        $.ajax({
            type: "POST",
            url: "@Url.Action("SaveMileStone", "Home")",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            data: JSON.stringify(MileStoneData),
            success: function (result) {
                $("#preloader").hide();
                showToaster("success", "Success", result.Message);
                ResetMileStoneForm()
            },
            error: function (result) {
                showToaster("error", "Error !", "Something went wrong !!");
            }
        });
    }

    function ResetMileStoneForm() {
        validator.resetForm();
        $("#MileStoneId").val(0);
        $("#mileStoneDescription").val("");
        $("#mileStoneTitle").val("");
        $("#txtMilestoneDays").val("0");
        $("#mileStonedueDate").val("");
        $("#MileStonePopModal").modal('hide')
        GetMiletoneList()
    }

    function SaveSolutionIndustryDescription() {
        var data = $("#industry-ProjectOutline").val();
        if (data == "") {
            return
        }

        var DefineData = {
            Id: $("#ProjectOulineId").val(),
            ProjectOutline: $("#industry-ProjectOutline").val(),
            ProjectDetails: $("#industry-ProjectDetails").val(),
            SolutionId: $("#SolutionId").val(),
            IndustryId: $("#IndustryId").val(),
            ProjectType: $("#ProjectType").val(),
            Duration : $("#industry-ProjectDuration").val(),
            TeamSize : $("#industry-TeamSize").val(),
        };

        $("#preloader").show();
        $.ajax({
            type: "POST",
            url: "@Url.Action("UpdateIndustryOutline", "Home")",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            data: JSON.stringify(DefineData),
            success: function (result) {
                //alert(result.Message);
                showToaster("success", "Success", result.Message);
                ResetDetailsForm()
                $("#preloader").hide();
            },
            error: function (result) {
                //alert("Error occured..");
                showToaster("error", "Error !", "Something went wrong !!");
            }
        });
    }

    function ResetDetailsForm() {
        $("#industry-ProjectOutline").val("")
        $("#industry-ProjectDetails").val("")
        $("#SolutionId").val(0)
        $("#IndustryId").val(0)
        $("#ProjectType").val("SMALL")
        ResetMileStoneForm()
        $("#DetailsPopModal").modal('hide')
    }


    function GetMiletoneList() {
        var data = {
            SolutionId: parseInt($("#SolutionId").val()),
            IndustryId: parseInt($("#IndustryId").val()),
            ProjectType: $("#ProjectType").val(),
        }

        $("#preloader").show();
        $.ajax({
            type: "POST",
            url: "@Url.Action("GetMiletoneList", "Home")",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            data: JSON.stringify(data),
            success: function (result) {
                var data = result.Result
                var index = 0;
                var subObj = '';
                var htm = '';
                for (index = 0; index < data.length; index++) {
                    subObj = data[index];

                    htm += '<tr>';
                    //htm += '<td class="" >' + subObj.Id + '</td>';
                    htm += '<td onclick=EditMiletoneData(' + subObj.Id + ') class=cls-milestone>' + subObj.Id + '</td>';
                    htm += '<td>' + subObj.Description + '</td>';
                    htm += '<td>' + subObj.Title + '</td>';
                    htm += '<td>' + subObj.Days + '</td>';
                    htm += '<td><a class="btn btn-danger btn-sm" onclick=DeleteMileStoneById(' + subObj.Id + ')>Delete</a></td>';
                    htm += '</tr>';
                }
                $("#MileStoneTable").find("tr:gt(0)").remove();
                $("#MileStoneTable tbody").append(htm);
                $("#preloader").hide();
            },
            error: function (result) {
                //alert("failure");
                showToaster("error", "Error !", "Failure");
                $("#preloader").hide();
            }
        });
    }

    function EditMiletoneData(id) {
        var data = {
            Id: id,
        };
        $.ajax({
            type: "POST",
            url: "@Url.Action("GetMileStoneById", "Home")",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            data: JSON.stringify(data),
            success: function (result) {
                if (result != null) {
                    $("#MileStonePopModal").modal('show')
                    var data = result.Result;
                    $("#MileStoneId").val(data.Id);
                    $("#mileStoneDescription").val(data.Description);
                    $("#txtMilestoneDays").val(data.Days);
                    $("#mileStoneTitle").val(data.Title);
                    $("#mileStonedueDate").val(moment(data.DueDate).format('YYYY-MM-DD'));
                }
            },
            error: function (result) {
                //alert("Error occured..");
                showToaster("error", "Error !", "Something went wrong !!");
            }
        });
    }

    function OpenPointsPopup() {
        if ($("#PointsTable tbody tr").length >= 3) {
            showToaster("warning", "Warning !", "you have reached a limit for adding points");
        } else {
            $("#PointsPopModal").modal('show')
        }

    }
    function SavePointsData() {
        var PointsData = {
            Id: $("#PointsId").val(),
            //Point: $("#pointsDetails-id").val(),
            PointKey :$("#pointsKey-id").val(),
            PointValue :$("#pointsValue-id").val(),
            SolutionId: $("#SolutionId").val(),
            IndustryId: $("#IndustryId").val(),
            ProjectType: $("#ProjectType").val()
        };

        $("#preloader").show();
        $.ajax({
            type: "POST",
            url: "@Url.Action("SavePoints", "Home")",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            data: JSON.stringify(PointsData),
            success: function (result) {
                $("#preloader").hide();
                showToaster("success", "Success", result.Message);
                ResetPointsForm()
            },
            error: function (result) {
                showToaster("error", "Error !", "Something went wrong !!");
            }
        });
    }

    function ResetPointsForm() {
        pointsvalidator.resetForm()
        $("#PointsId").val(0);
        $("#pointsKey-id").val("");
        $("#pointsValue-id").val("");
        $("#PointsPopModal").modal('hide')
        GetPointsList()
    }

    function GetPointsList() {

        var data = {
            SolutionId: parseInt($("#SolutionId").val()),
            IndustryId: parseInt($("#IndustryId").val()),
            ProjectType: $("#ProjectType").val(),
        }

        $("#preloader").show();
        $.ajax({
            type: "POST",
            url: "@Url.Action("GetPointsList", "Home")",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            data: JSON.stringify(data),
            success: function (result) {
                var data = result.Result
                var index = 0;
                var subObj = '';
                var htm = '';
                for (index = 0; index < data.length; index++) {
                    subObj = data[index];
                    if(subObj.PointKey == null || subObj.PointKey == undefined){
                             subObj.PointKey = ""
                         }
                         if(subObj.PointValue == null || subObj.PointValue == undefined){
                             subObj.PointValue = ""
                         }
                    htm += '<tr>';
                    htm += '<td>' + subObj.Id + '</td>';
                    htm += '<td>' + subObj.PointKey + '</td>';
                    htm += '<td>' + subObj.PointValue + '</td>';
                    htm += '<td><a class="btn btn-danger btn-sm" onclick=DeletePointsById(' + subObj.Id + ')>Delete</a></td>';
                    htm += '</tr>';
                }
                $("#PointsTable").find("tr:gt(0)").remove();
                $("#PointsTable tbody").append(htm);
                $("#preloader").hide();
            },
            error: function (result) {
                showToaster("error", "Error !", "Failure");
                $("#preloader").hide();
            }
        });
    }

    function DeletePointsById(Id) {
        if (confirm('Are you sure want to delete point?')) {
            var Data = {
                Id: Id,
            };
            $.ajax({
                type: "POST",
                url: "@Url.Action("DeletePoints", "Home")",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: JSON.stringify(Data),
                success: function (result) {
                    showToaster("success", "Success", result.Message);
                    GetPointsList()
                },
                error: function (result) {
                    showToaster("error", "Error !", "Something went wrong !!");
                }
            });
        }
    }

    function DeleteMileStoneById(Id) {
        if (confirm('Are you sure want to delete milestone?')) {
            var Data = {
                Id: Id,
            };
            $.ajax({
                type: "POST",
                url: "@Url.Action("DeleteMileStone", "Home")",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: JSON.stringify(Data),
                success: function (result) {
                    showToaster("success", "Success", result.Message);
                    GetMiletoneList()
                },
                error: function (result) {
                    showToaster("error", "Error !", "Something went wrong !!");
                }
            });
        }

    }
    function hideGuidelinesModal(){
        $('#guidelineModal').modal('hide');
        $("#DetailsPopModal").modal('show');
    }
    function showGuidelinesModal(){
        $('#guidelineModal').modal('show');
    }

    function GetSolutionDefineDetails(){

        var data = {
            SolutionId: parseInt($("#SolutionId").val()),
            IndustryId: parseInt($("#IndustryId").val()),
            ProjectType: $("#ProjectType").val()
        };

        $("#preloader").show();

        $.ajax({
            type: "POST",
            url: "@Url.Action("GetSolutionDefineData", "Home")",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            data: JSON.stringify(data),
            success: function (result) {
                if(result.StatusCode == 200)
                {
                    $("#industry-ProjectDetails").val(result.Result.ProjectDetails);
                    $("#industry-ProjectOutline").val(result.Result.ProjectOutline);
                    $("#industry-ProjectDuration").val(result.Result.Duration)
                    GetMiletoneList();
                    GetPointsList();
                }
                else
                {
                    showToaster("error", "Error !", "Failure");
                }
                 var ProjectType = $("#ProjectType").val();
                    if(ProjectType == "LARGE"){
                        $("#industry-TeamSize").val(5);
                    }
                    if(ProjectType == "MEDIUM"){
                        $("#industry-TeamSize").val(3);
                    }
                    if(ProjectType == "SMALL"){
                        $("#industry-TeamSize").val(2);
                    }
            },
            error: function (result) {
                //alert("failure");
                showToaster("error", "Error !", "Failure");
                $("#preloader").hide();
            }
        });
    }


    function DownloadCv() {
        var Cvname = $("#user-CvPath").val()
        if (Cvname != "") {
            window.location = "@Url.Action("DownloadApplicantCV", "Home")?Cvname=" + Cvname;
        }
    }

    function DeleteFreelancerAppliedSolution(data, SolutionId, IndustryId){
       var Freelancerlevel = $(data).closest('tr').find('.cls-level').text();
          Swal.fire({
            title: 'Are you sure you want to delete solution?',
            text: "You won't be able to revert this!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, delete it!'
        }).then(function (t) {
            if (!t.isConfirmed) return;

          var data = {
                IndustryId: IndustryId,
                SolutionId : SolutionId,
                FreelancerLevel : Freelancerlevel
            };
             $("#preloader").show();
            $.ajax({
                type: "POST",
                url: "@Url.Action("DeleteFreelancerSolution", "Home")",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: JSON.stringify(data),
                success: function (result) {
                    showToaster("success", "Success", result.Message);
                    GetApprovedList()
                     $("#preloader").hide();
                },
                error: function (result) {
                     $("#preloader").hide();
                    showToaster("error", "Error !", "Something went wrong !!");
                }
            });
        });
    }
</script>