@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Dashboard";
    ViewData["Role"] = Context.Session.GetString("LoggedUserRole");
    ViewData["Fullname"] = Context.Session.GetString("FullName");
}

<main id="main" class="main cls-fixed-common">

    <div class="pagetitle">
        <h1>Dashboard</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/Home/Index">Home</a></li>
                <li class="breadcrumb-item active">Dashboard</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="section dashboard">
        <div class="row">

            <!-- Left side columns -->
            <div class="col-lg-8">
                <div class="row">

                    <!-- Sales Card -->
                    <div class="col-xxl-4 col-md-6">
                        <div class="card info-card sales-card">

                            <div class="filter">
                                <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                                    <li class="dropdown-header text-start">
                                        <h6>Filter</h6>
                                    </li>

                                    <li><a class="dropdown-item" href="#">Today</a></li>
                                    <li><a class="dropdown-item" href="#">This Month</a></li>
                                    <li><a class="dropdown-item" href="#">This Year</a></li>
                                </ul>
                            </div>

                            <div class="card-body">
                                <h5 class="card-title">Sales <span>| Today</span></h5>

                                <div class="d-flex align-items-center">
                                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                        <i class="bi bi-cart"></i>
                                    </div>
                                    <div class="ps-3">
                                        <h6>145</h6>
                                        <span class="text-success small pt-1 fw-bold">12%</span> <span class="text-muted small pt-2 ps-1">increase</span>

                                    </div>
                                </div>
                            </div>

                        </div>
                    </div><!-- End Sales Card -->
                    <!-- Revenue Card -->
                    <div class="col-xxl-4 col-md-6">
                        <div class="card info-card revenue-card">

                            <div class="filter">
                                <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                                    <li class="dropdown-header text-start">
                                        <h6>Filter</h6>
                                    </li>

                                    <li><a class="dropdown-item" href="#">Today</a></li>
                                    <li><a class="dropdown-item" href="#">This Month</a></li>
                                    <li><a class="dropdown-item" href="#">This Year</a></li>
                                </ul>
                            </div>

                            <div class="card-body">
                                <h5 class="card-title">Revenue <span>| This Month</span></h5>

                                <div class="d-flex align-items-center">
                                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                        <i class="bi bi-currency-dollar"></i>
                                    </div>
                                    <div class="ps-3">
                                        <h6>$3,264</h6>
                                        <span class="text-success small pt-1 fw-bold">8%</span> <span class="text-muted small pt-2 ps-1">increase</span>

                                    </div>
                                </div>
                            </div>

                        </div>
                    </div><!-- End Revenue Card -->
                    <!-- Customers Card -->
                    <div class="col-xxl-4 col-xl-12">

                        <div class="card info-card customers-card">

                            <div class="filter">
                                <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                                    <li class="dropdown-header text-start">
                                        <h6>Filter</h6>
                                    </li>

                                    <li><a class="dropdown-item" href="#">Today</a></li>
                                    <li><a class="dropdown-item" href="#">This Month</a></li>
                                    <li><a class="dropdown-item" href="#">This Year</a></li>
                                </ul>
                            </div>

                            <div class="card-body">
                                <h5 class="card-title">Customers <span>| This Year</span></h5>

                                <div class="d-flex align-items-center">
                                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                        <i class="bi bi-people"></i>
                                    </div>
                                    <div class="ps-3">
                                        <h6>1244</h6>
                                        <span class="text-danger small pt-1 fw-bold">12%</span> <span class="text-muted small pt-2 ps-1">decrease</span>

                                    </div>
                                </div>

                            </div>
                        </div>

                    </div><!-- End Customers Card -->
                    <!-- Recent Openings -->
                    <div class="col-12 only_freelancer">
                        <div class="card recent-sales overflow-auto">

                            <div class="filter" style="display: none;">
                                <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                                    <li class="dropdown-header text-start">
                                        <h6>Filter</h6>
                                    </li>

                                    <li><a class="dropdown-item" href="#">Today</a></li>
                                    <li><a class="dropdown-item" href="#">This Month</a></li>
                                    <li><a class="dropdown-item" href="#">This Year</a></li>
                                </ul>
                            </div>

                            <div class="card-body">
                                <h5 class="card-title">Recent Opening</h5>

                                <table class="table table-borderless datatable" id="table-OpenRoles">
                                    <thead>
                                        <tr>
                                            <th scope="col">Id</th>
                                            <th scope="col">Service</th>
                                            <th scope="col">Solution</th>
                                            <th scope="col">Title</th>
                                            <th scope="col">Level</th>
                                            <th scope="col">Industry</th>
                                            <th scope="col" class="cls-RolesId"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>

                            </div>

                        </div>
                    </div><!-- End Recent Sales -->
                    <!-- Top Selling -->
                    <div class="col-12">
                        <div class="card top-selling overflow-auto">
                            <div class="card-body pb-0">
                                <h5 class="card-title">Approved Job</h5>
                                <table class="table table-borderless" id="ApprovedList">
                                    <thead>
                                        <tr>
                                            <th scope="col">Id</th>
                                            <th scope="col">Service</th>
                                            <th scope="col">Solution</th>
                                            <th scope="col">Title</th>
                                            <th scope="col">Level</th>
                                            <th scope="col">Industry</th>
                                            <th scope="col"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>

                            </div>

                        </div>
                    </div><!-- End Top Selling -->

                </div>
            </div><!-- End Left side columns -->
            <!-- Right side columns -->
            <div class="col-lg-4">

                <!-- Recent Activity -->
                <div class="card">
                    <div class="filter">
                        <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                            <li class="dropdown-header text-start">
                                <h6>Filter</h6>
                            </li>

                            <li><a class="dropdown-item" href="#">Today</a></li>
                            <li><a class="dropdown-item" href="#">This Month</a></li>
                            <li><a class="dropdown-item" href="#">This Year</a></li>
                        </ul>
                    </div>

                    <div class="card-body">
                        <h5 class="card-title">Recent Activity <span>| Today</span></h5>

                        <div class="activity">

                            <div class="activity-item d-flex">
                                <div class="activite-label">32 min</div>
                                <i class='bi bi-circle-fill activity-badge text-success align-self-start'></i>
                                <div class="activity-content">
                                    Quia quae rerum <a href="#" class="fw-bold text-dark">explicabo officiis</a> beatae
                                </div>
                            </div><!-- End activity item-->

                            <div class="activity-item d-flex">
                                <div class="activite-label">56 min</div>
                                <i class='bi bi-circle-fill activity-badge text-danger align-self-start'></i>
                                <div class="activity-content">
                                    Voluptatem blanditiis blanditiis eveniet
                                </div>
                            </div><!-- End activity item-->

                            <div class="activity-item d-flex">
                                <div class="activite-label">2 hrs</div>
                                <i class='bi bi-circle-fill activity-badge text-primary align-self-start'></i>
                                <div class="activity-content">
                                    Voluptates corrupti molestias voluptatem
                                </div>
                            </div><!-- End activity item-->

                            <div class="activity-item d-flex">
                                <div class="activite-label">1 day</div>
                                <i class='bi bi-circle-fill activity-badge text-info align-self-start'></i>
                                <div class="activity-content">
                                    Tempore autem saepe <a href="#" class="fw-bold text-dark">occaecati voluptatem</a> tempore
                                </div>
                            </div><!-- End activity item-->

                            <div class="activity-item d-flex">
                                <div class="activite-label">2 days</div>
                                <i class='bi bi-circle-fill activity-badge text-warning align-self-start'></i>
                                <div class="activity-content">
                                    Est sit eum reiciendis exercitationem
                                </div>
                            </div><!-- End activity item-->

                            <div class="activity-item d-flex">
                                <div class="activite-label">4 weeks</div>
                                <i class='bi bi-circle-fill activity-badge text-muted align-self-start'></i>
                                <div class="activity-content">
                                    Dicta dolorem harum nulla eius. Ut quidem quidem sit quas
                                </div>
                            </div><!-- End activity item-->

                        </div>

                    </div>
                </div><!-- End Recent Activity -->
                <!-- News & Updates Traffic -->
                <div class="card">
                    <div class="filter">
                        <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                            <li class="dropdown-header text-start">
                                <h6>Filter</h6>
                            </li>

                            <li><a class="dropdown-item" href="#">Today</a></li>
                            <li><a class="dropdown-item" href="#">This Month</a></li>
                            <li><a class="dropdown-item" href="#">This Year</a></li>
                        </ul>
                    </div>

                    <div class="card-body pb-0">
                        <h5 class="card-title">News &amp; Updates <span>| Today</span></h5>

                        <div class="news">
                            <div class="post-item clearfix">
                                <img src="~/assets/img/news-1.jpg" alt="">
                                <h4><a href="#">Nihil blanditiis at in nihil autem</a></h4>
                                <p>Sit recusandae non aspernatur laboriosam. Quia enim eligendi sed ut harum...</p>
                            </div>

                            <div class="post-item clearfix">
                                <img src="~/assets/img/news-2.jpg" alt="">
                                <h4><a href="#">Quidem autem et impedit</a></h4>
                                <p>Illo nemo neque maiores vitae officiis cum eum turos elan dries werona nande...</p>
                            </div>

                            <div class="post-item clearfix">
                                <img src="~/assets/img/news-3.jpg" alt="">
                                <h4><a href="#">Id quia et et ut maxime similique occaecati ut</a></h4>
                                <p>Fugiat voluptas vero eaque accusantium eos. Consequuntur sed ipsam et totam...</p>
                            </div>

                            <div class="post-item clearfix">
                                <img src="~/assets/img/news-4.jpg" alt="">
                                <h4><a href="#">Laborum corporis quo dara net para</a></h4>
                                <p>Qui enim quia optio. Eligendi aut asperiores enim repellendusvel rerum cuder...</p>
                            </div>

                            <div class="post-item clearfix">
                                <img src="~/assets/img/news-5.jpg" alt="">
                                <h4><a href="#">Et dolores corrupti quae illo quod dolor</a></h4>
                                <p>Odit ut eveniet modi reiciendis. Atque cupiditate libero beatae dignissimos eius...</p>
                            </div>

                        </div><!-- End sidebar recent posts-->

                    </div>
                </div><!-- End News & Updates -->

            </div><!-- End Right side columns -->

        </div>
    </section>
    <div id="preloader" style="display:none;"></div>
</main><!-- End #main -->

<div class="modal fade" id="GigOpeningApplyModal" tabindex="-1" aria-labelledby="GigOpeningApplyModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div id="preloader" style="display:none;"></div>
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title main-title">Apply For Gig Role</h4>
                <a class="close" data-dismiss="#GigOpeningApplyModal" onclick="CloseGigOpeningApplyModal();"><i class="bi bi-x-circle"></i></a>
            </div>
            <div class="modal-body p-0">
                <div class="row">
                    <div class="col">
                        <div class="card">
                            <div class="card-body">
                                @*<h5 class="card-title">Vertical Form</h5>*@

                                <!-- Vertical Form -->
                                <!-- Vertical Form -->
                                <form class="row g-3 mt-3" name="GigOpeningApplyForm">
                                    <input type="hidden" id="gigRole_id" value="0">
                                    <div class="col-12">
                                        <label for="Description" class="form-label">Roles Description</label>
                                        <div class="input-group">
                                            <textarea type="text" class="form-control" id="RoleDescription" name="RoleDescription" style="height:150px;" disabled></textarea>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <label for="CVPath" class="form-label">Upload CV</label>
                                        <div class="col-12 d-flex">
                                            <div class="input-group">
                                                <input class="form-control" type="file" id="CVPath" name="CVPath" accept=".pdf,.docx" style="max-height:37px;" onchange="getFileData(this);">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="col-12 d-flex">
                                            <div class="input-group">
                                                <input class="file-preview" type="text" id="filePreview" readonly>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <label for="Description" class="form-label">Additional Information</label>
                                        <div class="input-group">
                                            <textarea type="text" class="form-control" id="Description" name="Description" style="height:150px;"></textarea>
                                        </div>
                                    </div>
                                    <div class="text-center">
                                        <button type="submit" class="btn btn-brand">Submit</button>
                                        <button class="btn btn-secondary" onclick="clearApplyForm();">Reset</button>
                                    </div>
                                </form><!-- Vertical Form -->

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<div class="modal" id="DetailsPopModal" tabindex="-1" aria-labelledby="DetailsPopModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title main-title">Details</h4>
                <a class="close" onclick="ResetDetailsForm();"><i class="bi bi-x-circle"></i></a>
            </div>
            <div class="modal-body p-0">
                <div class="row">
                    <div class="col">
                        <div class="card">
                            <div class="card-body">
                                <input type="hidden" id="SolutionId" value="0">
                                <input type="hidden" id="IndustryId" value="0">
                                <input type="hidden" id="ProjectOulineId" value="0">
                                <div class="form-group pt-3">
                                    <label for="Description">ProjectOutline</label>
                                    <input type="text" class="form-control" id="industry-ProjectOutline" name="Decription" placeholder="Decription">
                                </div>

                                <div class="form-group pt-3">
                                    <button type="button" class="btn btn-primary" onclick="OpenMileStonePopup()">Add MileStone</button>
                                </div>

                                <div id="MileStonediv" style="padding-top: 5%;">
                                    <table class="table" id="MileStoneTable">
                                        <thead style="border: 1px solid #e8e8e8;">
                                            <tr>
                                                <th>Id</th>
                                                <th>Description</th>
                                                <th>Title</th>
                                                <th>DueDate</th>
                                            </tr>
                                        </thead>
                                        <tbody class="MileStonebody">
                                        </tbody>
                                    </table>
                                </div>

                                <div class="form-group pt-3">
                                    <button type="button" class="btn btn-brand" onclick="SaveSolutionIndustryDescription()">Submit</button>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="modal" id="MileStonePopModal" tabindex="-1" aria-labelledby="MileStonePopModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title main-title">Add Mile Stone</h4>
                <a class="close" onclick="ResetMileStoneForm();"><i class="bi bi-x-circle"></i></a>
            </div>
            <div class="modal-body p-0">
                <div class="row">
                    <div class="col">
                        <div class="card">
                            <div class="card-body">
                                <form class="row g-3 mt-3" name="MileStoneForm">
                                    <input type="hidden" id="MileStoneId" value="0" />
                                    <div class="col-12">
                                        <label for="Title" class="form-label">Title</label>
                                        <div class="input-group">
                                            <input type="text" id="mileStoneTitle" class="form-control" name="milestonetitle" />
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <label for="Description" class="form-label">Description</label>
                                        <div class="input-group">
                                            <input type="text" id="mileStoneDescription" class="form-control" name="milestonedescription" />
                                        </div>
                                    </div>

                                    <div class="col-12">
                                        <label for="dueDate" class="form-label">Due Date</label>
                                        <div class="input-group">
                                            @*<input type="text" id="mileStonedueDate" class="form-control" name="milestoneduedate" />*@
                                            <input type="date" id="mileStonedueDate" class="form-control" name="milestoneduedate">
                                        </div>
                                    </div>
                                    <div class="text-center">
                                        <button type="submit" class="btn btn-brand">Submit</button>
                                        <button class="btn btn-secondary" onclick="ResetMileStoneForm();">Reset</button>
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    var validator;
    $(function () {
        $("form[name='GigOpeningApplyForm']").validate({
            rules: {
                Description: { required: true },
                CVPath: { required: true }
            },
            messages: {
                Description: { required: "Please enter Description" },
                CVPath: { required: "Please Upload your CV" }
            },
            errorPlacement: function (error, element) {
                if (element.parent('.input-group').length) {
                    error.insertAfter(element.parent());
                }
                else {
                    error.insertAfter(element);
                }
            },
            submitHandler: function (form) {
                GigOpenRolesApply()
            }
        });


        validator = $("form[name='MileStoneForm']").validate({
            rules: {
                milestonedescription: { required: true },
                milestonetitle: { required: true },
                milestoneduedate: { required: true },
            },
            messages: {
                milestonedescription: { required: "Please enter Description" },
                milestonetitle: { required: "please enter title" },
                milestoneduedate: { required: "Please Select date" }
            },
            errorPlacement: function (error, element) {
                if (element.parent('.input-group').length) {
                    error.insertAfter(element.parent());
                }
                else {
                    error.insertAfter(element);
                }
            },
            submitHandler: function (form) {
                SaveMilStoneData()
            }
        });

        GetApprovedList()

    });
    $(document).ready(function () {
        $("#preloader").show();
        if ("@Context.Session.GetString("LoggedUserRole").ToString()" == "Freelancer") {
            $('.only_freelancer').show();
        $.ajax({
            type: "Get",
            url: "@Url.Action("GetRolesList", "Home")",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (result) {

                var index = 0;
                var subObj = '';
                var htm = '';
                for (index = 0; index < result.Result.length; index++) {
                    subObj = result.Result[index];

                    htm += '<tr>';
                    htm += '<td class="cls-RolesId" >' + subObj.ID + '</td>';
                    htm += '<td>' + subObj.ServiceName + '</td>';
                    htm += '<td>' + subObj.SolutionName + '</td>';
                    htm += '<td>' + subObj.Title + '</td>';
                    htm += '<td>' + subObj.Level + '</td>';
                    htm += '<td>' + subObj.IndustryName + '</td>';
                    htm += '<td><a class="btn btn-success applyFor-btn pt-0 pb-1" style="color: white;" onclick="GigApply(' + subObj.ID + ')">Apply</a></td>';
                    htm += '</tr>';
                }
                $("#table-OpenRoles").find("tr:gt(0)").remove();
                $("#table-OpenRoles tbody").append(htm);
                $("#preloader").hide();
            },
            error: function (result) {
                //alert("failure");
                showToaster("error", "Error !", "Failure");
                $("#preloader").hide();
            }
        });
        } else {
            $('.only_freelancer').hide();
        }
    });

    function CloseGigOpeningApplyModal() {
        $("#GigOpeningApplyModal").modal('hide')
    }
    function OpenGigOpeningApplyModal() {
        $("#GigOpeningApplyModal").modal('show')
    }
    function clearApplyForm() {
        $("#Description").val("");
        $("#CVPath").val("");
        $('#filePreview').css("display", "none");
    }

    function GigOpenRolesApply() {

        var filename = $("#CVPath").val();
        var validFileExtentions = /(\.pdf|\.docx)$/i;
        if (validFileExtentions.exec(filename)) {
            $('#preloader').show();
            var fileUpload = $("#CVPath").get(0);
            var files = fileUpload.files;

            var GigOpenRolesData = {
                FreelancerID: 0,
                GigOpenRoleId: $("#gigRole_id").val(),
                IsApproved: false,
                Description: $("#Description").val(),
            }

            var formData = new FormData();
            for (var i = 0; i < files.length; i++) {
                // fileData.append(files[i].name, files[i]);
                formData.append("httpPostedFileBase", files[i]);
            }
            formData.append("GigOpenRolesData", JSON.stringify(GigOpenRolesData));

            $.ajax({
                type: "POST",
                url: "@Url.Action("ApplyForOpenGigRoles", "Home")",
                contentType: false,
                processData: false,
                data: formData,
                success: function (result) {
                    clearApplyForm();
                    $('#preloader').hide();
                    //alert(result)
                    showToaster("success", "Success", result);
                    CloseGigOpeningApplyModal();
                },
                error: function (result) {
                    clearApplyForm();
                    $('#preloader').hide();
                    //alert("failure");
                    showToaster("error", "Error !", "Failure");

                }
            });
        } else {
            //alert('You can upload only PDF or Document file..')
            showToaster("error", "Error !", "You can upload only PDF or Document file..");
            clearApplyForm();
        }
    }
    // code to read selected table row cell data (values).
    function GigApply(Id) {
        OpenGigOpeningApplyModal();
        clearApplyForm();
        $("#gigRole_id").val(Id);
        $.ajax({
            type: "post",
            url: "@Url.Action("GetRolesDataById", "LandingPage")",
            dataType: "json",
            data: { ID: Id },
            success: function (result) {
                $("#RoleDescription").val(result.Result.Description);
            },
            error: function (result) {
                //alert(result.Message)
                showToaster("error", "Error !", result.Message);
            }
        });
    }
    function getFileData(myFile) {
        $('#filePreview').css("display", "none");
        var file = myFile.files[0];
        if (file) {
            var filename = file.name;
            $('#filePreview').css("display", "block");
            $('#filePreview').val(filename);
        }
        else {
            $('#filePreview').css("display", "none");
            $('#filePreview').val("");
        }
    }

    function GetApprovedList() {
        $("#preloader").show();
        $.ajax({
            type: "Get",
            url: "@Url.Action("GetApprovedList", "Home")",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (result) {

                var index = 0;
                var subObj = '';
                var htm = '';
                for (index = 0; index < result.Result.length; index++) {
                    subObj = result.Result[index];

                    htm += '<tr>';
                    htm += '<td class="cls-RolesId" >' + subObj.ID + '</td>';
                    htm += '<td>' + subObj.ServiceName + '</td>';
                    htm += '<td>' + subObj.SolutionName + '</td>';
                    htm += '<td>' + subObj.Title + '</td>';
                    htm += '<td>' + subObj.Level + '</td>';
                    htm += '<td>' + subObj.IndustryName + '</td>';
                    htm += '<td><a class="btn btn-success applyFor-btn pt-0 pb-1" style="color: white;" onclick="OpenDetailsPopModal(' + subObj.ID + ',' + subObj.SolutionId + ',' + subObj.IndustryId + ')">Define</a></td>';
                    htm += '</tr>';
                }
                $("#ApprovedList").find("tr:gt(0)").remove();
                $("#ApprovedList tbody").append(htm);
                $("#preloader").hide();
            },
            error: function (result) {
                //alert("failure");
                showToaster("error", "Error !", "Failure");
                $("#preloader").hide();
            }
        });
    }

    function OpenDetailsPopModal(Id, SolutionId, IndustryId) {
        $("#DetailsPopModal").modal('show')
        $("#SolutionId").val(SolutionId)
        $("#IndustryId").val(IndustryId)
        GetMiletoneList()
    }

    function OpenMileStonePopup() {
        $("#MileStonePopModal").modal('show')
    }

    function SaveMilStoneData() {
        var MileStoneData = {
            Id: $("#MileStoneId").val(),
            Description: $("#mileStoneDescription").val(),
            Title: $("#mileStoneTitle").val(),
            DueDate: $("#mileStonedueDate").val(),
            SolutionId: $("#SolutionId").val(),
            IndustryId: $("#IndustryId").val()
        };
        $("#preloader").show();
        $.ajax({
            type: "POST",
            url: "@Url.Action("SaveMileStone", "Home")",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            data: JSON.stringify(MileStoneData),
            success: function (result) {
                $("#preloader").hide();
                //alert(result.Message);
                showToaster("success", "Success", result.Message);
                ResetMileStoneForm()
            },
            error: function (result) {
                //alert("Error occured..");
                showToaster("error", "Error !", "Something went wrong !!");
            }
        });
    }

    function ResetMileStoneForm() {
        validator.resetForm();
        $("#MileStoneId").val(0);
        $("#mileStoneDescription").val("");
        $("#mileStoneTitle").val("");
        $("#mileStonedueDate").val("");
        $("#MileStonePopModal").modal('hide')
        GetMiletoneList()
    }

    function SaveSolutionIndustryDescription() {
        var data = $("#industry-ProjectOutline").val();
        if (data == "") {
            return
        }

        var MileStoneData = {
            Id: $("#ProjectOulineId").val(),
            ProjectOutline: $("#industry-ProjectOutline").val(),
            SolutionId: $("#SolutionId").val(),
            IndustryId: $("#IndustryId").val()
        };

        $("#preloader").show();
        $.ajax({
            type: "POST",
            url: "@Url.Action("UpdateIndustryOutline", "Home")",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            data: JSON.stringify(MileStoneData),
            success: function (result) {
                //alert(result.Message);
                showToaster("success", "Success", result.Message);
                ResetDetailsForm()
                $("#preloader").hide();
            },
            error: function (result) {
                //alert("Error occured..");
                showToaster("error", "Error !", "Something went wrong !!");
            }
        });
    }

    function ResetDetailsForm() {
        $("#industry-ProjectOutline").val("")
        $("#SolutionId").val(0)
        $("#IndustryId").val(0)
        ResetMileStoneForm()
        $("#DetailsPopModal").modal('hide')
    }

    function GetMiletoneList() {
        $("#preloader").show();
        $.ajax({
            type: "Get",
            url: "@Url.Action("GetMiletoneList", "Home")",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (result) {
                var data = result.Result
                var index = 0;
                var subObj = '';
                var htm = '';
                for (index = 0; index < data.length; index++) {
                    subObj = data[index];

                    htm += '<tr>';
                    //htm += '<td class="" >' + subObj.Id + '</td>';
                    htm += '<td onclick=EditMiletoneData(' + subObj.Id + ')>' + subObj.Id + '</td>';
                    htm += '<td>' + subObj.Description + '</td>';
                    htm += '<td>' + subObj.Title + '</td>';
                    htm += '<td>' + moment(subObj.DueDate).format('YYYY-MM-DD') + '</td>';
                    htm += '</tr>';
                }
                $("#MileStoneTable").find("tr:gt(0)").remove();
                $("#MileStoneTable tbody").append(htm);
                $("#preloader").hide();
            },
            error: function (result) {
                //alert("failure");
                showToaster("error", "Error !", "Failure");
                $("#preloader").hide();
            }
        });
    }

    function EditMiletoneData(id) {
        var data = {
            Id: id,
        };
        $.ajax({
            type: "POST",
            url: "@Url.Action("GetMileStoneById", "Home")",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            data: JSON.stringify(data),
            success: function (result) {
                if (result != null) {
                    $("#MileStonePopModal").modal('show')
                    var data = result.Result;
                    $("#MileStoneId").val(data.Id);
                    $("#mileStoneDescription").val(data.Description);
                    $("#mileStoneTitle").val(data.Title);
                    $("#mileStonedueDate").val(moment(data.DueDate).format('YYYY-MM-DD'));
                }
            },
            error: function (result) {
                //alert("Error occured..");
                showToaster("error", "Error !", "Something went wrong !!");
            }
        });
    }
</script>