@{
    ViewData["Title"] = "User profile";
    ViewData["Role"] = Context.Session.GetString("LoggedUserRole");
    ViewData["Fullname"] = Context.Session.GetString("FullName");
    ViewData["ProfileImage"] = Context.Session.GetString("UserProfileImage");
    bool isStripeCompleted = Convert.ToBoolean(ViewData["IsCompleted"]); //ViewData["IsCompleted"]
}

<main id="main" class="main">

    <div class="pagetitle">
        <h1>Profile</h1>
    </div><!-- End Page Title -->

    <section class="section profile">
        <div class="row">
            <div class="col-xl-4">

                <div class="card">
                    <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">
                        @{
                            if (ViewData["ProfileImage"] != "")
                            {
                                <img src="@ViewData["ProfileImage"]" alt="Profile" class="rounded-circle profile-img">
                            }
                            else{
                                <div id="name-initial" class="profile-pic profile-img">@Context.Session.GetString("ShortName")</div>
                            }
                        }


                        <h2 id="fullName"></h2>
                        <h3 id="userRole"></h3>
                        <div class="social-links mt-2">
                            <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
                            <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
                            <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
                            <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-xl-8">

                <div class="card">
                    <div class="card-body pt-3">
                        <!-- Bordered Tabs -->
                        <ul class="nav nav-tabs nav-tabs-bordered">

                            <li class="nav-item">
                                <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview" onclick="GetUserData()">Overview</button>
                            </li>

                            <li class="nav-item">
                                <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-edit" onclick="GetUserData()">Edit Profile</button>
                            </li>

                            <li class="nav-item">
                                <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-change-password">Change Password</button>
                            </li>

                        </ul>
                        <div class="tab-content pt-2">

                            <div class="tab-pane fade show active profile-overview" id="profile-overview">

                                <h5 class="card-title">Profile Details</h5>
                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label ">First Name</div>
                                    <div class="col-lg-9 col-md-8">
                                        <input name="fullName" type="text" class="form-control firstName" readonly>
                                    </div>

                                </div>

                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label">Last Name</div>
                                    <div class="col-lg-9 col-md-8">
                                        <input name="fullName" type="text" class="form-control lastName" readonly>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label">Role</div>
                                    <div class="col-md-8 col-lg-9">
                                        <input name="roles" type="text" class="form-control role" readonly>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label">Email</div>
                                    <div class="col-md-8 col-lg-9">
                                        <input name="emailaddress" type="email" class="form-control emailId" readonly>
                                    </div>
                                </div>

                                <div class="ClientFields" style="display:none;">
                                    <div class="row">
                                        <div class="col-lg-3 col-md-4 label">Description</div>
                                        <div class="col-md-8 col-lg-9">
                                            <textarea name="Description" type="text" class="form-control description" rows="4" cols="50" readonly></textarea>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-3 col-md-4 label">Company Name</div>
                                        <div class="col-md-8 col-lg-9">
                                            <input name="CompanyName" type="text" class="form-control cls-client-companyname" id="txtCompanyName" readonly>
                                        </div>
                                    </div>
                                     <div class="row">
                                        <div class="col-lg-3 col-md-4 label">Country</div>
                                        <div class="col-md-8 col-lg-9">
                                            <input name="Country" type="text" class="form-control cls-country" readonly>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-3 col-md-4 label">Address</div>
                                        <div class="col-md-8 col-lg-9">
                                            <textarea name="Address" type="text" class="form-control cls-client-address" rows="4" cols="50" readonly></textarea>
                                        </div>
                                    </div>
                                </div>

                                <div class="FreelancerFields" style="display:none;">
                                    <input type="hidden" value="" id="CVPath-id" />

                                     <div class="row">
                                        <div class="col-lg-3 col-md-4 label">Country</div>
                                        <div class="col-md-8 col-lg-9">
                                            <input name="Country" type="text" class="form-control cls-country" readonly>
                                        </div>
                                    </div>

                                    <div class="row RevolutPending" style="display:none;">
                                        <div class="col-lg-3 col-md-4 label">Revoult Account Status</div>
                                        <div class="col-md-8 col-lg-9">
                                            <span class="badge bg-danger">PENDING</span>
                                        </div>
                                    </div>

                                    <div class="row RevolutCompleted" style="display:none;">
                                        <div class="col-lg-3 col-md-4 label">Revoult Account Status</div>
                                        <div class="col-md-8 col-lg-9">
                                            <span class="badge bg-success">COMPLETED</span>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-3 col-md-4 label">Hourly Rate Per Day ($)</div>
                                        <div class="col-md-8 col-lg-9">
                                            <input name="HourlyRate" type="text" class="form-control hourlyRate" readonly>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-3 col-md-4 label">Education</div>
                                        <div class="col-md-8 col-lg-9">
                                            <input name="Education" type="text" class="form-control education" readonly />
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-3 col-md-4 label">Professional Experience</div>
                                        <div class="col-md-8 col-lg-9">
                                            <input name="ProffessionalExperience" type="text" class="form-control proffessionalExperience" readonly />
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-3 col-md-4 label">Address</div>
                                        <div class="col-md-8 col-lg-9">
                                            <input name="Address" type="text" class="form-control cls-freelancer-address" readonly />
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-3 col-md-4 label">Freelancer Level</div>
                                        <div class="col-md-8 col-lg-9">
                                            <input name="freelancerLevel" type="text" class="form-control drp-freelancer-level" readonly />
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-3 col-md-4 label">Resume</div>
                                        <div class="col-md-8 col-lg-9">
                                            <a onclick="DownloadCv()" class="cls-resume-dwld" style="cursor:pointer">Download Resume</a>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="tab-pane fade profile-edit pt-3" id="profile-edit">
                                <form name="UpdateForm">
                                    <div class="row mb-3">
                                        <label for="profileImage" class="col-md-4 col-lg-3 col-form-label">Profile Image</label>
                                        <div class="col-md-8 col-lg-9">
                                            <img src="" alt="Profile" id="profile-image">
                                            <div class="profile-pic" style="border-radius:0%;" id="profile-intial">@Context.Session.GetString("ShortName")</div>
                                            <div class="pt-2">
                                                <input type="file" id="Freelancer-profile" class="form-control" onchange="ShowUserImage(this)">
                                                @*<a href="#" class="btn btn-primary btn-sm" title="Upload new profile image"><i class="bi bi-upload"></i></a>*@
                                                @*<a href="#" class="btn btn-danger btn-sm" title="Remove my profile image"><i class="bi bi-trash"></i></a>*@
                                            </div>
                                        </div>
                                    </div>

                                    <input type="hidden" class="UserId" value="">
                                    <div class="row mb-3">
                                        <label for="firstName" class="col-md-4 col-lg-3 col-form-label">First Name</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input name="firstName" type="text" class="form-control firstName" id="firstname">
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label for="lastName" class="col-md-4 col-lg-3 col-form-label">Last Name</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input name="lastName" type="text" class="form-control lastName" id="lastName">
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <label for="role" class="col-md-4 col-lg-3 col-form-label">Role</label>
                                        <div class="col-md-8 col-lg-9">
                                            <select class="form-select role" aria-label="Default select example" name="role" id="userType" disabled="true">
                                                <option value="Client">Client</option>
                                                <option value="Freelancer">Freelancer</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <label for="Email" class="col-md-4 col-lg-3 col-form-label">Email</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input name="email" type="email" class="form-control emailId" id="emailId" readonly>
                                        </div>
                                    </div>

                                    <div class="ClientFields" style="display:none;">
                                        <div class="row mb-3">
                                            <label for="Description" class="col-md-4 col-lg-3 col-form-label">Description</label>
                                            <div class="col-md-8 col-lg-9">
                                                <textarea name="Description" type="text" class="form-control description" id="Description" rows="4" cols="50"></textarea>
                                            </div>
                                        </div>
                                        <div class="row mb-3">
                                            <label for="CompanyName" class="col-md-4 col-lg-3 col-form-label">Company Name</label>
                                            <div class="col-md-8 col-lg-9">
                                                <input name="CompanyName" type="text" class="form-control cls-client-companyname" id="Client-CompanyName" >
                                            </div>
                                        </div>
                                         <div class="row mb-3">
                                            <label for="Country" class="col-md-4 col-lg-3 col-form-label">Country</label>
                                            <div class="col-md-8 col-lg-9">
                                                <select class="form-select cls-Usercountry" aria-label="Default select example" name="country" id="client-country">
                                                    <option value="0">Select Country</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="row mb-3">
                                            <label for="Address" class="col-md-4 col-lg-3 col-form-label">Address</label>
                                            <div class="col-md-8 col-lg-9">
                                                <textarea name="Address" type="text" class="form-control cls-client-address" id="Client-Address" rows="4" cols="50"></textarea>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="FreelancerFields" style="display:none;">
                                        <div class="row mb-3">
                                            <label for="Country" class="col-md-4 col-lg-3 col-form-label">Country</label>
                                            <div class="col-md-8 col-lg-9">
                                                <select class="form-select cls-Usercountry" aria-label="Default select example" name="country" id="freelancer-country">
                                                    <option value="0">Select Country</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="row mb-3 RevolutPending" style="display:none;">
                                            <label for="StripeStatus" class="col-md-4 col-lg-3 col-form-label">Revoult Account Status</label>
                                            <div class="col-md-8 col-lg-9">
                                              <span class="badge bg-danger">PENDING</span>
                                              <span style="padding-left: 2%"><a onclick="RevolutRegister()" class="cls-stripe-link">Click here to Register to Revolut</a></span>
                                            </div>
                                         </div>

                                        <div class="row mb-3 RevolutCompleted" style="display:none;">
                                            <label for="StripeStatus" class="col-md-4 col-lg-3 col-form-label">Revoult Account Status</label>
                                              <div class="col-md-8 col-lg-9">
                                                <span class="badge bg-success">COMPLETED</span>
                                              </div>
                                         </div>
                                         
                                        <div class="row mb-3">
                                            <label for="HourlyRate" class="col-md-4 col-lg-3 col-form-label">Hourly Rate Per Day ($)</label>
                                            <div class="col-md-8 col-lg-9">
                                                <input name="HourlyRate" type="number" class="form-control hourlyRate" id="HourlyRate" />
                                            </div>
                                        </div>

                                        <div class="row mb-3">
                                            <label for="Education" class="col-md-4 col-lg-3 col-form-label">Education</label>
                                            <div class="col-md-8 col-lg-9">
                                                <input name="Education" type="text" class="form-control education" id="Education" />
                                            </div>
                                        </div>

                                        <div class="row mb-3">
                                            <label for="ProffessionalExperience" class="col-md-4 col-lg-3 col-form-label">Professional Experience</label>
                                            <div class="col-md-8 col-lg-9">
                                                <input name="ProffessionalExperience" type="text" class="form-control proffessionalExperience" id="ProffessionalExperience" />
                                            </div>
                                        </div>

                                        <div class="row mb-3">
                                            <label for="Address" class="col-md-4 col-lg-3 col-form-label">Address</label>
                                            <div class="col-md-8 col-lg-9">
                                                <textarea name="Address" type="text" class="form-control cls-freelancer-address" id="Freelancer-Address" rows="4" cols="50"></textarea>
                                            </div>
                                        </div>

                                        <div class="row mb-3">
                                            <label for="Level" class="col-md-4 col-lg-3 col-form-label">Freelancer Level</label>
                                            <div class="col-md-8 col-lg-9">
                                                <select class="form-select drp-freelancer-level" aria-label="Default select example" name="level" id="level" disabled="true">
                                                    <option value="">Select Level</option>
                                                    <option value="Expert">Expert</option>
                                                    <option value="Associate">Associate</option>
                                                    <option value="Project Manager">Project Manager</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="row mb-3">
                                            <label for="CVPath" class="col-md-4 col-lg-3 col-form-label">Upload CV</label>
                                            <div class="col-md-8 col-lg-9">
                                                <input class="form-control" type="file" id="CVPath" name="CVPath" accept=".pdf,.docx" style="max-height:37px;">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="text-center">
                                        <button type="submit" class="btn btn-primary">Save Changes</button>
                                    </div>
                                </form>
                            </div>

                            <div class="tab-pane fade pt-3" id="profile-change-password">
                                <!-- Change Password Form -->
                                <form name="UpdatepasswordForm">
                                    <div class="row mb-3">
                                        <label for="currentPassword" class="col-md-4 col-lg-3 col-form-label">Current Password</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input name="password" type="password" class="form-control" id="currentPassword">
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label for="newPassword" class="col-md-4 col-lg-3 col-form-label">New Password</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input name="newpassword" type="password" class="form-control" id="newPassword">
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label for="renewPassword" class="col-md-4 col-lg-3 col-form-label">Re-enter New Password</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input name="renewpassword" type="password" class="form-control" id="renewPassword">
                                        </div>
                                    </div>

                                    <div class="text-center">
                                        <button type="submit" class="btn btn-primary">Change Password</button>
                                    </div>
                                </form><!-- End Change Password Form -->

                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
    @*<div id="preloader" style="display:none;"></div>*@
</main><!-- End #main -->


<div class="modal" id="RevolutOnBoardingFeildsModal" tabindex="-1" aria-labelledby="RevolutOnBoardingFeildsModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title main-title cls-revoultonboarding-title">Details</h4>
                <a class="close" onclick="CloseRevolutPopup();"><i class="bi bi-x-circle"></i></a>
            </div>
            <div class="modal-body p-0">
                <div class="row">
                    <div class="col">
                        <div class="card">
                            <div class="card-body">
                                <form class="row g-3 mt-3" name="RevolutOnBoardForm">
                                    <div class="col-6">
                                        <label for="backCountry" class="form-label">Bank Country</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input type="text" id="backCountry" class="form-control" name="BackCountry" readonly/>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <label for="currency" class="form-label">Currency</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input type="text" id="Currency" class="form-control" name="Currency" />
                                        </div>
                                    </div>
                                     <div class="col-6">
                                        <label for="accountNo" class="form-label">Account No.</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input type="text" id="accountNo" class="form-control" name="AccountNo" />
                                        </div>
                                    </div>
                                    <div class="col-6 cls-Ibannot-mandatory">
                                        <label for="routingNumber" class="form-label">Routing Number</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input type="text" id="routingNumber" class="form-control" name="RoutingNumber" />
                                        </div>
                                    </div>
                                     <div class="col-6">
                                        <label for="ibanNumber" class="form-label">Iban Number</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input type="text" id="ibanNumber" class="form-control" name="IbanNumber" />
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <label for="bicNumber" class="form-label">BIC</label>
                                        <div class="col-md-8 col-lg-9">
                                            <input type="text" id="bicNumber" class="form-control" name="BicNumber" />
                                        </div>
                                    </div>
                                    <div class="text-center">
                                        <button type="submit" class="btn btn-brand">Submit</button>
                                        <button type="button" class="btn btn-secondary" onclick="CloseRevolutPopup();">Reset</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        $("form[name='UpdateForm']").validate({
            rules: {
                firstName: { required: true },
                lastName: { required: true },
                email: {
                    required: true,
                    email: true
                },
                role: { required: true }
            },
            messages: {
                firstName: { required: "Please enter a firstname", },
                lastName: { required: "Please enter a lastname", },
                email: {
                    required: "Please enter email address",
                    email: "Please enter a valid email address"
                },
                role: { required: "Select valid role" },
            },
            submitHandler: function (form) {
                if('@ViewData["Role"]' != 'Freelancer'){
                    UpdateUserData();
                }else{
                    validateFreelancerRate();
                }
                
            }
        });

        $("form[name='UpdatepasswordForm']").validate({
            rules: {
                password: { required: true },
                newpassword: { required: true },
                renewpassword: {
                    required: true,
                    equalTo: "#newPassword"
                },
            },
            messages: {
                password: { required: "Please enter a password", },
                newpassword: { required: "Please enter a new password", },
                renewpassword: {
                    required: "Please enter confirm password",
                    equalTo: "password and new password should be same"
                },
            },
            submitHandler: function (form) {
                ChangePassword()
            }
        });

        $("form[name='RevolutOnBoardForm']").validate({
            rules: {
                Currency: { required: true },
                AccountNo: { required: true },
                RoutingNumber: { required: true },
                IbanNumber: { required: true },
                BicNumber: { required: true },
            },
            messages: {
                Currency: { required: "Please enter Currency", },
                AccountNo: {required: "Please enter Account Number"},
                RoutingNumber: { required: "Please enter Routing Number" },
                IbanNumber: { required: "Please enter Iban Number" },
                BicNumber: { required: "Please enter Bic Number" }
            },
            submitHandler: function (form) {
                OboardUserRevoultAccount()
            }
        });
        GetUserData()
    });

    function GetUserData() {
         $('#preloader').show();
        $.ajax({
            type: "POST",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            url: "@Url.Action("GetUserData", "Home")",
            success: function (result) {
                if (result != null) {
                    var data = result.Result;
                    CheckUserBasedonUserTye(data.Role)
                    $(".UserId").val(data.UserId)
                    $(".firstName").val(data.FirstName)
                    $(".lastName").val(data.LastName)
                    $(".role").val(data.Role)
                    $(".emailId").val(data.Email)
                    var Fullname = data.FirstName + " " + data.LastName
                    $("#fullName").text(Fullname)
                    $("#userRole").text(data.Role)                    
                    $(".hourlyRate").val(data.HourlyRate)
                    $(".education").val(data.Education)
                    $(".proffessionalExperience").val(data.ProffessionalExperience)
                    $(".cls-freelancer-address").val(data.FreelancerAddress)
                    $(".cls-client-address").val(data.ClientAddress)
                    $(".description").val(data.Description)
                    $(".drp-freelancer-level").val(data.FreelancerLevel)
                    //$("#country").val(data.CountryId)                    
                    $(".cls-client-companyname").val(data.CompanyName)
                    $("#backCountry").val(data.BackCountry)
                    setTimeout(function () {
                        $("#client-country").val(data.CountryId)
                        $("#freelancer-country").val(data.CountryId)
                    }, 2500);
                    $(".cls-country").val(data.CountryName)
                    $("#CVPath-id").val(data.CVPath)
                    if(data.CVPath != null){
                        addNameToFile(data.CVPath.split("/")[4])
                    }
                    if (data.ImageUrlWithSas != null){
                        $("#profile-intial").css("display","none")
                        $("#profile-image").attr("src", data.ImageUrlWithSas);
                        $('.profile-img').attr("src", data.ImageUrlWithSas);
                        $("#Freelancer-profile").val("");

                    }else{
                        $("#Freelancer-profile").val("");
                        $('.profile-img').attr("src", data.ImageUrlWithSas);
                        $("#profile-image").css("display", "none")
                         $("#profile-intial").css("display","flex")
                    }
                    if (data.RevoultStatus) {
                        $(".RevolutPending").hide();
                        $(".RevolutCompleted").show();
                    }else{
                        $(".RevolutPending").show();
                        $(".RevolutCompleted").hide();
                    }

                    if (data.IsIBanMandantory){
                        $(".cls-Ibannot-mandatory").hide();
                    }
                    if (data.IbanMandantoryWithExceptCountry){
                        $(".cls-Ibannot-mandatory").show();
                    }else{
                        $(".cls-Ibannot-mandatory").hide();
                    }
                }
                
                 $('#preloader').hide();

            },
            error: function (result) {
                $('#preloader').hide();
                showToaster("error", "Error !", "Something went wrong !!");
            }
        });
    }

     function addNameToFile(url) {
        getImgURL(url, (imgBlob) => {
            let file = new File([imgBlob], url, { type: "pdf/application", lastModified: new Date().getTime() }, 'utf-8');
            let container = new DataTransfer();
            container.items.add(file);
            document.querySelector('#CVPath').files = container.files;
        })
    }

    function getImgURL(url, callback) {
        var xhr = new XMLHttpRequest();
        xhr.onload = function () {
            callback(xhr.response);
        };
        xhr.open('GET', url);
        xhr.responseType = 'blob';
        xhr.send();
    }


    function validateManually() {
        var hourlyRate = $("#HourlyRate").val();
        var level = $("#level").val();
        if (hourlyRate != null && level != null) {
            if (level == "Expert") {
                hourlyRate < 40 ? UpdateUserData() : alert('Hourly rate for ' + level + ' cannot be greater than $' + 40 + '.');
            } else if (level == "Associate" && hourlyRate < 20) {
                hourlyRate < 20 ? UpdateUserData() : alert('Hourly rate for ' + level + ' cannot be greater than $' + 20 + '.');
            } else if (level == "Project Manager" && hourlyRate < 80) {
                hourlyRate < 80 ? UpdateUserData() : alert('Hourly rate for ' + level + ' cannot be greater than $' + 80 + '.');
            } else if (level == "Project Leader") {
                UpdateUserData();
            } else {
                //alert('invalid insertion..')
                showToaster("error", "Error !", "invalid insertion..");
            }
        }
    }

    function UpdateUserData() {
        var filename = $("#CVPath").val();
        if (filename != "") {
            var validFileExtentions = /(\.pdf|\.docx)$/i;
            if (!(validFileExtentions.exec(filename))) {
                showToaster("error", "Error !", "You can upload only PDF or Document file..");
                return
            }
        }

            var fileUpload = $("#CVPath").get(0);
            var files = fileUpload.files;

            var profile = $("#Freelancer-profile").get(0);
            var profileFiles = profile.files;

            var FreelancerDetail = {
                HourlyRate: $("#HourlyRate").val(),
                Education: $("#Education").val(),
                ProffessionalExperience: $("#ProffessionalExperience").val(),
                FreelancerAddress: $("#Freelancer-Address").val(),
                CountryId: $("#freelancer-country").val(),
            }

            var ClientDetail = {
                Description: $("#Description").val(),
                ClientAddress: $("#Client-Address").val(),
                CountryId: $("#client-country").val(),
                CompanyName: $("#Client-CompanyName").val()
            }

            var Userdata = {
                Id: $(".UserId").val(),
                FirstName: $("#firstname").val(),
                LastName: $("#lastName").val(),
                UserType: $("#userType").val(),
                Email: $("#emailId").val(),
                freelancerDetail: FreelancerDetail,
                clientDetail: ClientDetail
            }
           
            var formData = new FormData();
            for (var i = 0; i < files.length; i++) {
                formData.append("httpPostedFileBase", files[i]);
            }
            for (var i = 0; i < profileFiles.length; i++) {
                formData.append("httpPostedFileBaseProfile", profileFiles[i]);
            }
            formData.append("Userdata", JSON.stringify(Userdata));
              $('#preloader').show();
            $.ajax({
                type: "POST",
                url: "@Url.Action("EditUserData", "Home")",
                contentType: false,
                processData: false,
                data: formData,
                success: function (result) {
                    var test = result.split(",")[1].split(":")[1]
                    showToaster("success", "Success", test.replace(/\"/g, ""));
                    $('#preloader').hide();
                    GetUserData()
                },
                error: function (result) {
                    $('#preloader').hide();
                    showToaster("error", "Error !", "Failure");
                }
            });        
    }

    function ChangePassword() {
        var passwordData = {
            Id: $(".UserId").val(),
            CurrentPassword: $("#currentPassword").val(),
            NewPassword: $("#newPassword").val(),
        }
        $('#preloader').show();
        $.ajax({
            type: "POST",
            url: "@Url.Action("UpdateUserPassword", "Home")",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            data: JSON.stringify(passwordData),
            success: function (result) {
                showToaster("success", "Success", result.Message);
                ResetUpdateForm()
                $('#preloader').hide();
            },
            error: function (result) {
                showToaster("error", "Error !", "Something went wrong !!");
            }
        });
    }

    function validateFreelancerRate() {
        var range = {
            ID:0,
            Level: $('#level').val(),
        }
        var hourlyRate = parseFloat($("#HourlyRate").val()).toFixed(2);
        $('#preloader').show();
        $.ajax({
            type: "POST",
            url: "@Url.Action("getSavedLevelsdataByName", "Home")",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            data: JSON.stringify(range),
            success: function (result) {
                $('#preloader').hide();
                if(result.Result != null){
                    if(result.Result.ID != 0){
                        if (result.Result.minLevel <= hourlyRate && result.Result.maxLevel >= hourlyRate) {
                            UpdateUserData();
                        }else{
                            showToaster("error", "Error !", "Hourly rate must be between $" + parseFloat(result.Result.minLevel).toFixed(2) + " to $" + parseFloat(result.Result.maxLevel).toFixed(2));
                            return false;
                        }
                    }
                }
                
            },
            error: function (result) {
                $('#preloader').hide();
                return false;
                showToaster("error", "Error !", "Something went wrong !!");
            }
        });
    }

    function ResetUpdateForm() {
        $("#currentPassword").val("");
        $("#newPassword").val("");
        $("#renewPassword").val("")
    }

    function CheckUserBasedonUserTye(role) {
        if (role == "Freelancer") {
            $(".FreelancerFields").show();
            $(".ClientFields").hide()
        }
        else {
            $(".FreelancerFields").hide();
            $(".ClientFields").show();
        }
        BindCountry();
    }

    function DownloadCv() {
        var Cvname = $("#CVPath-id").val()
        if (Cvname != "") {
            window.location = "@Url.Action("DownloadApplicantCV", "Home")?Cvname=" + Cvname;
        }
    }

    function ShowUserImage(value) {
        $("#profile-intial").css("display", "none")
        $("#profile-image").css("display", "block")
        if (value.files && value.files[0]) {
            var reader = new FileReader();
            reader.onload = (function (e) {
                $("#profile-image").attr("src", e.target.result);
            });

            reader.readAsDataURL(value.files[0]);
        }
    }

    function RevolutRegister() {
        // $("#preloader").show();
        // window.location = "@Url.Action("RegisterStripeUser", "Home")";
        // $("#preloader").hide();
        $("#RevolutOnBoardingFeildsModal").modal('show');
    }

    function BindCountry(){
        $("#preloader").show();
        $.ajax({
            type: "Get",
            url: "@Url.Action("GetCountryList", "Home")",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (result) {
                if(result.Message == "success"){
                    $("#client-country option:not(:first)").remove()
                        $.each(result.Result, function (data, value) {
                        $("#client-country").append($("<option     />").val(value.Id).text(value.CountryName));
                        })

                    $("#freelancer-country option:not(:first)").remove()
                    $.each(result.Result, function (data, value) {
                        $("#freelancer-country").append($("<option     />").val(value.Id).text(value.CountryName));
                    })
                }

                $("#preloader").hide();


            },
            error: function (result) {
                $("#preloader").hide();
                showToaster("error", "Error !", "Failure");
            }
        });
    }

    function CloseRevolutPopup(){
        $("#Currency").val("");
        $("#accountNo").val("");
        $("#routingNumber").val("");
        $("#ibanNumber").val("");
        $("#bicNumber").val("");
        $("#RevolutOnBoardingFeildsModal").modal('hide');
    }

    function OboardUserRevoultAccount(){
        var data = {
            BankCountry: $("#backCountry").val()
        }
        $("#preloader").show();
        $.ajax({
            type: "POST",
            url: "@Url.Action("OboardUserRevoultAccount", "Home")",
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify(data),
            dataType: "json",
            success: function (result) {
                if(result.Message == "Account Created"){
                    CloseRevolutPopup();
                    GetUserData();
                    showToaster("success", "Success !", result.Message);
                }else{
                    showToaster("error", "Error !", result.Message);
                }

                $("#preloader").hide();


            },
            error: function (result) {
                $("#preloader").hide();
                showToaster("error", "Error !", "Failure");
            }
        });
    }
</script>