<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <link href="~/assets/img/brand-icon.png" rel="icon">
    @*<link href="~/assets/img/apple-touch-icon.png" rel="apple-touch-icon">*@

    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <link href="~/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/assets/css/toastr.css" rel="stylesheet" />
    @*    <link href="~/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="~/assets/vendor/quill/quill.snow.css" rel="stylesheet">
    <link href="~/assets/vendor/quill/quill.bubble.css" rel="stylesheet">
    <link href="~/assets/vendor/remixicon/remixicon.css" rel="stylesheet">*@
    @*<link href="~/assets/vendor/simple-datatables/style.css" rel="stylesheet">*@
    <link href="https://cdn.jsdelivr.net/npm/datatables@1.10.18/media/css/jquery.dataTables.min.css" rel="stylesheet" />
     <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js">
    </script>
    <!-- Template Main CSS File -->
    <link href="~/assets/css/landingpagestyle.css" rel="stylesheet" />
    <link href="~/assets/css/open-accessibility.min.css" rel="stylesheet" />
</head>
<body>
    <!-- ======= Header ======= -->
    <header id="header" class="header cls-fixed-top cls-fixed-common">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-flued align-items-end">
                    <nav class="navbar navbar-expand-lg navbar-light bg-white sticky-top py-1">
                        <div class="container">
                            <div class="col-1">
                                <div style="display: flex;flex-direction: column;">
                                    <a href="/LandingPage/Index" class="logo" style="display: flex;align-items: flex-start;">
                                        <img src="~/assets/img/ephylink_no_background_blue.png" alt="" class="mainLogo" />
                                    </a>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="search-bar">
                                    <form class="search-form d-flex align-items-center" method="POST" action="#">
                                        <input type="text" name="query" placeholder="Search" title="Enter search keyword">
                                        <button type="submit" title="Search"><i class="bi bi-search"></i></button>
                                    </form>
                                </div><!-- End Search Bar -->
                            </div>

                            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>

                            <div class="col-8 d-flex flex-column" style="align-items:end;">
                                <div class="collapse navbar-collapse" id="navbarNav">
                                    <ul class="navbar-nav" style="display:flex; align-items:baseline;">
                                        <li class="nav-item dropdown pe-2">
                                            <a class="btn btn-get-started" href="#" data-bs-toggle="dropdown">
                                                <span>Get Started</span> <i class="bi bi-chevron-down dropdown-indicator" style="color:#fff;"></i>
                                            </a><!-- End Profile Iamge Icon -->

                                            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                                                <li class="dropdown-item">
                                                    <a href="~/LandingPage/BrowseSolution" class="nav-link">Browse Solutions</a>
                                                </li>

                                                <li class="dropdown-item">
                                                    <a href="#" onclick="OpenPostModalPopup()" style="text-decoration: none;" class="nav-link">
                                                        Request a Proposal
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="~/LandingPage/Services">Services</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="~/LandingPage/Industries">Industries</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="~/LandingPage/WhyAephy">Why Ephylink</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="~/LandingPage/GigOpenings">Gig Openings</a>
                                        </li>
                                        <li class="nav-item dropdown">
                                            <a class="nav-link" href="~/LandingPage/AboutUs" data-bs-toggle="dropdown">
                                                <span>About</span> <i class="bi bi-chevron-down dropdown-indicator"></i>
                                            </a><!-- End Profile Iamge Icon -->

                                            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                                                <li class="dropdown-item">
                                                    <a href="~/LandingPage/AboutUs" class="nav-link">About Us</a>
                                                </li>

                                                <li class="dropdown-item"><a href="~/LandingPage/Careers" class="nav-link">Careers</a></li>
                                                <li class="dropdown-item">
                                                    <a href="~/LandingPage/Contact" class="nav-link">Contact</a>
                                                </li>
                                                <li class="dropdown-item">
                                                    <a href="~/LandingPage/FAQ" class="nav-link">FAQ</a>
                                                </li>
                                            </ul>
                                        </li>
                                        @{
                                            if (Context.Session.GetString("LoggedUser") == null)
                                            {
                                                <li class="nav-item">
                                                    <a class="nav-link ms-lg-3" href="/Home/Login">Login</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link ms-lg-3" href="/Home/Register">Sign Up</a>
                                                </li>
                                            }
                                            else
                                            {
                                                <li class="nav-item">
                                                    <a class="nav-link ms-lg-3" href="/Home/Dashboard">Dashboard</a>
                                                </li>
                                            }
                                        }

                                    </ul>

                                    <hr class="header-bar" />
                                    <ul class="navbar-nav" id="extra-service-ul">
                                        <li class="nav-item">
                                            <a class="nav-link" href="/LandingPage/BrowseSolution?service=AI Strategy and Consulting">AI Strategy and Consulting</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="/LandingPage/BrowseSolution?service=AI Engineering">
                                                AI Engineering
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="/LandingPage/BrowseSolution?service=AI Data Science and Analytics">
                                               AI Data Science and Analytics
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="/LandingPage/BrowseSolution?service=AI Operations">
                                                AI Operations
                                            </a>
                                        </li>
                                    </ul>
                                    @*<a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-brand ms-lg-3">Contact</a>*@
                                </div>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>

            <div class="row-lg-auto row-sm-12 row-md-12" id="extra-service-row">
                <div class="nav-scroller bg-white">
                    <nav class="nav">
                        <a class="nav-link" href="/LandingPage/BrowseSolution?service=AI Strategy and Consulting">AI Strategy and Consulting</a>
                        <a class="nav-link" href="/LandingPage/BrowseSolution?service=AI Engineering">
                            AI Engineering
                        </a>
                        <a class="nav-link" href="/LandingPage/BrowseSolution?service=AI Data Science and Analytics">
                            AI Data Science and Analytics
                        </a>
                        <a class="nav-link" href="/LandingPage/BrowseSolution?service=AI Operations">
                            AI Operations
                        </a>

                    </nav>
                </div>
            </div>
        </div>
    </header>

    @RenderBody()

    <footer class="main-footer sp-two cls-fixed-common">
        <div class="container">
            <div class="widgets-section">
                <div class="row clearfix">
                    <div class="column col-lg-4">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="footer-widget logo-widget">
                                    <div class="widget-content">
                                        <div class="office-mail">
                                            <div class="mail-icon">
                                                <i class="bi bi-envelope"></i>
                                            </div>
                                            <div class="email">
                                                <h5 class="title-lbl">Mail Us @@</h5>
                                                <a href="mailto:contact@ephylink.com"> contact@ephylink.com</a>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="column col-lg-8">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="footer-widget links-widget">
                                    <h3 class="widget-title">Company</h3>
                                    <div class="widget-content">
                                        <ul>
                                            <li><a href="~/LandingPage/Services">Services</a></li>
                                            <li><a href="~/LandingPage/Industries">Industries</a></li>
                                            <li><a href="~/LandingPage/WhyAephy">Why Ephylink</a></li>
                                            <li><a href="~/LandingPage/GigOpenings">Gig Openings</a></li>
                                            <li><a href="#">About Us</a></li>
                                            <li><a href="~/LandingPage/FAQ">FAQ</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="footer-widget links-widget sm-mb0">
                                    <h3 class="widget-title">Services</h3>
                                    <div class="widget-content">
                                        <ul>
                                            <li><a href="#">Strategy & Consulting</a></li>
                                            <li><a href="#">AI Engineering</a></li>
                                            <li><a href="#">Data Science & Analytics</a></li>
                                            <li><a href="#">AI Operations</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="column col-md-4">
                                <h3 class="widget-title">Follow Us On</h3>
                                <ul class="social-links clearfix">
                                    <li>
                                        <a href="#" rel="nofollow" target="_blank">
                                            <span class="bi bi-facebook"></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.linkedin.com/company/aephy/"
                                           rel="nofollow"
                                           target="_blank">
                                            <span class="bi bi-linkedin"></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://twitter.com/ephylink57412" rel="nofollow" target="_blank">
                                            <span class="bi bi-twitter"></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" rel="nofollow" target="_blank">
                                            <span class="bi bi-instagram"></span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="footer-bottom row no-gutters">
                <div class="col-md-12">
                    <div class="copyright">© @DateTime.Now.Year <a href="#">Ephylink</a>, All Rights Reserved.</div>
                </div>
            </div>
        </div>
    </footer>
    <!-- ======= { End }Top Scroller ======= -->

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <div id="preloader"></div>


    <div class="modal fade" id="confirmation" tabindex="-1" aria-labelledby="confirmation" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Find Project</h4>
                    <a class="close" data-dismiss="#confirmation" onclick="ClosePostRequestModalPopup()">
                        <i class="bi bi-x-circle"></i>
                    </a>
                </div>
                <div class="modal-body p-0" style="background-color: #f5f5f5;">

                    <div class="container-fluid">
                        <div id="ServicesForm" style="border-radius:10px;display:block;">
                            <div class="d-flex justify-content-end" style="padding:2%;">
                                <a href="~/LandingPage/BrowseSolution" class="cls-availableSolution" id="availableSolution" style="color:rgb(211 139 78);">See Available Solutions</a>
                            </div>
                            <div class="row gy-4 mt-4 mx-lg-4" style="padding:2%">
                                <div class="col-lg-6 order-1 order-lg-1 first-col" style="text-align: center;border-right: 1px solid #000;">
                                    <h3 data-aos="fade-up" style=" margin: auto;width: 50%;padding: 10px;">
                                        Let’s start
                                    </h3>
                                    <p data-aos="fade-up" data-aos-delay="100">
                                        Select the appropriate
                                        options; Get a step closer to
                                        transform your business.
                                    </p>
                                </div>

                                <div class="col-lg-6  order-3 order-lg-3">
                                    <form action="#">
                                        <div class="col d-flex flex-column">
                                            <label data-aos="fade-up">Select Service</label>
                                            <select class="dropdown form-select" name="service" id="drp-popServices" onchange="ServicesValue()">
                                                <option value="All">All Services</option>
                                            </select>
                                        </div>

                                        <div class="col d-flex flex-column pt-2">
                                            <label data-aos="fade-up">Select Solution</label>
                                            <select class="dropdown form-select" name="level" id="drp-popSolutions" onchange="SolutionValues()">
                                                <option value="All">All Solutions</option>
                                            </select>
                                        </div>

                                        <div class="col d-flex flex-column pt-2">
                                            <label data-aos="fade-up">Select Industry</label>
                                            <select class="dropdown form-select" name="solution" id="drp-popIndustries">
                                                <option value="All">All Industries</option>
                                            </select>
                                        </div>


                                    </form>
                                </div>
                            </div>
                        </div>
                        <div style="display:none;border-radius:10px;" id="ClientForm">
                            <div class="row gy-4 mt-4 mx-lg-4" style="padding:2%">
                                <div class="col-lg-6 order-1 order-lg-1 ClientIntro">
                                    <h3 data-aos="fade-up">
                                        Let’s start
                                    </h3>
                                    <p data-aos="fade-up" data-aos-delay="100">
                                        Select the appropriate
                                        options; Get a step closer to
                                        transform your business.
                                    </p>
                                </div>

                                <div class="col-lg-6 order-3 order-lg-3" id="Projectdescription">
                                    <form action="#">
                                        <div class="col d-flex flex-column">
                                            <label data-aos="fade-up">What's the project title</label>
                                            <input type="text" class="form-control" placeholder='Example: Create AI roadmap'>
                                        </div>

                                        <div class="col d-flex flex-column pt-2">
                                            <label data-aos="fade-up">Description</label>
                                            <input type="text" class="form-control" placeholder='Include all the relevant project details'>
                                        </div>

                                        <div class="col d-flex flex-column pt-2">
                                            <label data-aos="fade-up">Attach relevant file</label>
                                            <input type="file" class="form-control">
                                        </div>

                                        <div class="col d-flex flex-column pt-2">
                                            <label data-aos="fade-up">Delivery time</label>
                                            <input type="date" class="form-control" id="delivery-time">
                                        </div>

                                        <div class="col d-flex flex-column pt-2">
                                            <label data-aos="fade-up">Budget</label>
                                            <input type="text" class="form-control" placeholder='1,50,000'>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div style="display:none;border-radius:10px;" id="WorkingHourForm">
                            <div class="row gy-4 mt-4 mx-lg-4" style="padding:2%">
                                <div class="col-lg-6 order-1 order-lg-1 cls-intro">
                                    <h3 data-aos="fade-up">
                                        Let’s start
                                    </h3>
                                    <p data-aos="fade-up" data-aos-delay="100">
                                        Select the appropriate
                                        options; Get a step closer to
                                        transform your business.
                                    </p>
                                </div>

                                <div class="col-lg-6 order-3 order-lg-3" id="workingForm">
                                    <div>
                                        @*<label style="font-weight: bold;font-size: 20px;">Client Working Availbility</label>*@
                                        <form action="#" style="padding-top: 3%;">
                                            <div class="col d-flex flex-column">
                                                <label data-aos="fade-up">Working Days</label>
                                                <div class="row pt-2">
                                                    <div class="col">
                                                        <label>Start Date : </label>
                                                        <input type="date" class="form-control" id="start-date">
                                                    </div>
                                                    <div class="col">
                                                        <label>End Date : </label>
                                                        <input type="date" class="form-control" id="end-date">
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col d-flex flex-column pt-4">
                                                <label data-aos="fade-up">Working Hours</label>

                                                <div class="row pt-2">
                                                    <div class="col">
                                                        <label>Start Hour : </label>
                                                        <input type="time" class="form-control" id="start-hour">
                                                    </div>
                                                    <div class="col">
                                                        <label>End Hour : </label>
                                                        <input type="time" class="form-control" id="end-hour">
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col d-flex justify-content-end">
                            <a class="btn btn-brand my-3 mx-0" id="PreviousButton" style="display:none;" onclick="GetClientForm(this)">Previous</a> &nbsp;&nbsp;
                            <a class="btn btn-brand my-3 mx-0" id="PostButton" onclick="GetClientForm(this)">Next</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!-- Vendor JS Files -->

    <script src="~/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/assets/vendor/tinymce/tinymce.min.js"></script>
    <script src="~/assets/vendor/php-email-form/validate.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/datatables@1.10.18/media/js/jquery.dataTables.min.js"></script>
    <script src="~/assets/js/toastr.js"></script>

    <!-- Template Main JS File -->
    <script src="~/assets/js/main.js"></script>
    <script src="~/assets/js/open-accessibility.min.js"></script>
    <script src="~/assets/js/locale.min.js"></script>

    <script>
        document.addEventListener('DOMContentLoaded', () => {
            "use strict";
            /**
            * Preloader
            */
            const preloader = document.querySelector('#preloader');
            if (preloader) {
                window.addEventListener('load', () => {
                    preloader.remove();
                });
            }
        });

        var items = document.querySelectorAll('.carousel .carousel-item')

        items.forEach((el) => {
            const minPerSlide = 4
            let next = el.nextElementSibling
            for (var i = 1; i < minPerSlide; i++) {
                if (!next) {
                    next = items[0]
                }
                let cloneChild = next.cloneNode(true)
                el.appendChild(cloneChild.children[0])
                next = next.nextElementSibling
            }
        })

        function GetClientForm(data) {
            var Buttonclickvalue = $('#PostButton').text();
            if (data.text == "Confirm") {
                $("#confirmation").modal('hide')
            }
            if (data.text == "Previous") {
                if ($("#ClientForm").is(":visible")) {
                    $("#ServicesForm").css("display", "block")
                    $("#ClientForm").css("display", "none")
                    $("#PreviousButton").css("display", "none")
                    $("#PostButton").text("Next")
                    $("#WorkingHourForm").css("display", "none")
                }
                if ($("#WorkingHourForm").is(":visible")) {
                    $("#ServicesForm").css("display", "none")
                    $("#ClientForm").css("display", "block")
                    $("#PostButton").text("Next")
                    $("#PreviousButton").css("display", "block")
                    $("#WorkingHourForm").css("display", "none")
                }
            }
            else {
                if ($("#ServicesForm").is(":visible")) {
                    $("#ServicesForm").css("display", "none")
                    $("#ClientForm").css("display", "block")
                    $("#WorkingHourForm").css("display", "none")
                    $("#PreviousButton").css("display", "block")
                    $("#PostButton").text("Next")
                    return
                }
                if ($("#ClientForm").is(":visible")) {
                    $("#ServicesForm").css("display", "none")
                    $("#ClientForm").css("display", "none")
                    $("#WorkingHourForm").css("display", "block")
                    $("#PreviousButton").css("display", "block")
                    $("#PostButton").text("Confirm")
                }
            }

        }

        function ClosePostRequestModalPopup() {
            $("#confirmation").modal('hide')
        }

        function clearForm() {
            $("#ID").val("");
            $("#FreelancerID").val("");
            $("#ServiceID").val("");
            $("#IndustriesID").val("");
            $("#SolutionID").val("");
            $("#Title").val("");
            $("#Level").val("");
            $("#Description").val("");
            $("#CVPath").val("");
        }

        function OpenPostModalPopup() {
            $("#drp-popIndustries").val("All")
            $("#drp-popServices").val("All")
            $("#drp-popSolutions").val("All")
            $("#confirmation").modal('show')
            $("#start-hour").val("");
            $("#end-hour").val("");
            $("#end-date").val("");
            $("#start-date").val("");
            $("#delivery-time").val("");
            $("#ServicesForm").css("display", "block")
            $("#ClientForm").css("display", "none")
            $("#PreviousButton").css("display", "none")
            $("#WorkingHourForm").css("display", "none")
            $("#PostButton").text("Next")
            BindIndustries()
            BindServices()
            BindSolution()
        }

        $(function () {
            $("form[name='GigOpeningApplyForm']").validate({
                rules: {
                    Description: { required: true },
                    CVPath: { required: true }
                },
                messages: {
                    Description: { required: "Please enter Description" },
                    CVPath: { required: "Please Upload your CV" }
                },
                errorPlacement: function (error, element) {
                    if (element.parent('.input-group').length) {
                        error.insertAfter(element.parent());
                    }
                    else {
                        error.insertAfter(element);
                    }
                },
                submitHandler: function (form) {
                    GigOpenRolesApply()
                }
            });
            //$('body').openAccessibility({
            //    localization: ['en']
            //});

            $('body').openAccessibility({

                // open the menu on page load
                Opened: false,

                // enable the plugin on mobile
                isMobileEnabled: true,

                // override the settings of the Accessibility Tools
                grayscale: 0,
                brightness: 100,
                contrast: 100,
                maxZoomLevel: 3,
                minZoomLevel: 0.5,
                zoomStep: 0.2,
                zoom: 1,
                cursor: false,
                invert: false,

                // text selector
                textSelector: 'p,h1,div,h2,span,ol,li,ul,h3,h4,h5,h6,b,i,a',

                // s(mall), m(edium), l(arge)
                iconSize: 'm',

                // local
                localization: ['en'],

            });
        })

        function BindIndustries() {
            $.ajax({
                type: "POST",
                url: "@Url.Action("GetIndustryList", "Home")",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (result) {
                    $.each(result.Result, function (data, value) {
                        $("#drp-popIndustries").append($("<option     />").val(value.Id).text(value.IndustryName));
                    })

                },
                error: function (result) {
                    alert("failure");
                }
            });
        }

        function BindServices() {
            $.ajax({
                type: "Get",
                url: "@Url.Action("GetServicesList", "Home")",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (result) {
                    $.each(result.Result, function (data, value) {
                        $("#drp-popServices").append($("<option     />").val(value.Id).text(value.ServicesName));
                    })

                },
                error: function (result) {
                    alert("failure");
                }
            });
        }

        function BindSolution() {
            $.ajax({
                type: "Get",
                url: "@Url.Action("GetSolutionList", "Home")",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (result) {
                    $.each(result.Result, function (data, value) {
                        $("#drp-popSolutions").append($("<option     />").val(value.Id).text(value.Title));
                    })

                },
                error: function (result) {
                    alert("failure");
                }
            });
        }

        function ServicesValue() {
            var ServiceId = $("#drp-popServices").val()
            if (ServiceId == "All") {
                ServiceId = 0
            }
            var data = {
                Id: ServiceId
            }
            $("#preloader").show();
            $.ajax({
                type: "POST",
                url: "@Url.Action("GetSolutionBasedonServices", "Home")",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: JSON.stringify(data),
                success: function (result) {
                    if (result.Result.length != 0) {
                        var data = result.Result.SolutionData;
                        $("#drp-popSolutions option:not(:first)").remove()
                        $("#drp-popIndustries option:not(:first)").remove()
                        $.each(data, function (data, value) {
                            $("#drp-popSolutions").append($("<option     />").val(value.Id).text(value.Title));
                        })
                        $.each(result.Result.IndustriesData, function (datas, values) {
                            $("#drp-popIndustries").append($("<option     />").val(values.Id).text(values.IndustryName));
                        })

                    }
                    $("#preloader").hide();
                },
                error: function (result) {
                    $("#preloader").hide();
                    alert("failure");
                }
            });
        }

        function SolutionValues() {
            var SolutionId = $("#drp-popSolutions").val()
            if (SolutionId == "All") {
                ServicesValue()
                return
            }
            var data = {
                Id: SolutionId
            }
            $("#preloader").show();
            $.ajax({
                type: "POST",
                url: "@Url.Action("GetSolutionBasedonSolutionSelected", "Home")",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: JSON.stringify(data),
                success: function (result) {
                    if (result.Result.length != 0) {
                        var data = result.Result.SolutionData;
                        $("#drp-popIndustries option:not(:first)").remove()
                        $.each(result.Result.IndustriesData, function (datas, values) {
                            $("#drp-popIndustries").append($("<option     />").val(values.Id).text(values.IndustryName));
                        })
                    }
                    $("#preloader").hide();
                },
                error: function (result) {
                    $("#preloader").hide();
                    alert("failure");
                }
            });
        }
    </script>
</body>
</html>
